


body{
	background-color: white;
}

.try-info{
	background-color: white;
	margin-top: 15px;
	margin-bottom: 30px;
}

.products-pic img{
	width: 100%;
}

.try-title{
	padding-left: 9px;
}

.try-amount-price-apply{
	margin-top: 12px;
}

.apply-amount{
margin-left: 12px;
}

.try-amount-price{   /*v3*/
	margin-left: 12px;
}


.apply-amount h4{
	line-height: 21px;
}



.try-amount-price span{
	margin-left: 10px;
}

.time .glyphicon-time{

}

.products-time{
	display: none;
}

.timer{
	font-size: 14px;
	margin-left: 12px;
	color: #999;

}

.timer i{
	color: #5cb85c;
	font-size: 15px;
}

.apply-bottom{
	padding: 10px 0px 0px 12px;
}

.weichatshare{
	 cursor:pointer;
}

.weiboshare{
	background-position: 7px -32px;
	background-image: url(/static/images/sharebackground.png);
	display: inline-block;
	height: 33px;
	width: 33px;
	background-color: #f63756;
	border-bottom: 1px solid #f0f0f0;
	margin-right: 20px;
	border-radius: 50%;
}

.weichatshare{
	background-position: -32px -32px;
	background-image: url(/static/images/sharebackground.png);
	display: inline-block;
	height: 33px;
	width: 33px;
	background-color: #46BC45;
	border-bottom: 1px solid #f0f0f0;
	margin-right: 20px;
	border-radius: 50%;
}

.qqzoneshare{
	background-position: -69px -32px;
	background-image: url(/static/images/sharebackground.png);
	display: inline-block;
	height: 33px;
	width: 33px;
	background-color: #EFDC11;
	border-bottom: 1px solid #f0f0f0;
	border-radius: 50%;
}


.try-share{
float: right;
}

.products-detail{
	background-color: white;
	
}

.rightblock{
/*	border-radius: 6px;*/
	background-color: white;
	margin-bottom: 3px;
	font-size: 16px;
	border-radius: 5px;
	border-bottom: 1px solid #f0f0f0;
	padding-left: 0px;
	white-space:nowrap;
	overflow:auto;

}




 .presentationw5 a,  .presentationw4 a,  .presentationw1 a, .presentationw2 a, .presentationw3 a{
/*	background-color: #f0f4fb;*/
	color: #555;
}

.presentationw4{
	border-bottom: 2px solid #67CA87;
}

.menu li a:hover{
	color: #67CA87;
}


.products-detail-info{
	white-space:nowrap;
	overflow:auto;
}

.products-comment{
	background-color: white;
	margin-top: 30px;
	padding-bottom: 15px;
}

.form-comment label, .form-comment-reply label{
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}

.comment-form{
	border-top: 1px solid #f0f0f0;
	margin-top: 50px;
	margin-bottom: 50px;
}

.span-mark-author {
	border-bottom: 4px solid #67CA87;
	color: #333;
	margin-top:-28px;
	height: 28px;
	position: absolute;
	font-size: 18px;
}

.author-info{
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 14px;
}

#editor1{
	width: 100% !important;
}

.authboard{
	width: 100%;
	height: 200px;
	background-color:  #fafafa;
	border: 1px solid #f0f0f0;
	color: #bbb;
	text-align: center;
}

.authboardword{
margin-top: 80px

}

.btn-block{
	margin-bottom: 30px;
	margin-top: 20px;
	height: 48px;
	border-radius: 0px;
	width: 148px;
}


.span-mark-hotcomment{
	border-bottom: 4px solid #67CA87;
	color: #333;
	margin-top:3px;
	height: 28px;
	position: absolute;
	font-size: 18px;
}

.comment{
	position: relative;
	top: 30px;
	padding: 15px 0;
	border-top: 1px solid #f0f0f0;
}

.commentusericon{
	width: 33px;
	height: 33px;
	margin-right:10px;
}

.author-name{
color: #333;
}

.author-time{
	color: #bbb;
}

.blockquote{
	border-left-width: 2px;
	background-color: #fafafa;
	margin: 15px 0 18px;
	padding: 20px 30px;
}

.pl-content{
	margin-top: 15px;
}

.btn-dp-right {
	color: #bbb;
	cursor: pointer;
	}

.icon-dp-positive{
	background-image: url(/static/images/sharebackground.png);
	display: inline-block;
	height: 20px;
	width: 20px;
	background-repeat: no-repeat;
	vertical-align: text-bottom;
	background-position: -220px -173px;
}

.icon-dp-negtive{
	background-image: url(/static/images/sharebackground.png);
	display: inline-block;
	height: 20px;
	width: 20px;
	background-repeat: no-repeat;
	vertical-align: text-bottom;
	background-position: -270px -171px;
	margin-left: 8px;
}

.btn-dp {
	color: #bbb;
	cursor: pointer;
	width: 88px;
	}

.icon-dp{
	background-image: url(/static/images/sharebackground.png);
	display: inline-block;
	height: 20px;
	width: 20px;
	background-repeat: no-repeat;
	vertical-align: text-bottom;
	background-position: -170px -173px;
}

.form-comment-reply{
	display: none;
	margin-top: 8px;
}

.form-comment-reply .form-control{
	height: 54px;
}

#morecomment-btn-block{
	/*width: 100%;*/
	color: #bbb;
	border: 1px solid #f0f0f0;
	/*outline:none;*/
	margin-left: auto;
	margin-right: auto;
	border-radius: 50px;
	margin-top: 50px;
	line-height: 34px;
}

.form-control{
	margin-bottom: 15px;
}

#erroraddress, #errorphonenumber{
	padding-left: 0px;
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
	border-radius: 4px;
	padding: 5px 10px;
	display:none;
	font-size: 15px;
	margin-left:10px;

}

.hot-try-company{
	background-color: white;
	margin-top: 30px;
	/*margin-right: -15px;*/
	padding: 36px 15px 24px 15px;
	border: 1px solid #f0f0f0;
}




.hotry-company-img img{
	width: 55%;
}

.hot-try .col-xs-12, .hot-try .col-xs-5 , .hot-try .col-xs-7, .hot-try-company .col-xs-12, .hot-try-company .col-xs-5 , .hot-try-company .col-xs-7{
	padding: 0px;
}

.hotry-title{
	display: block;
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	text-overflow: ellipsis;display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.hotry-amount{
font-size: 14px;
color: #888;
margin-top: 15px;
margin-left: 15px;
}

a:link{
	text-decoration: none;
}
a:hover{
	color: #337ab7;
}

a{
	color: #333;
}

.hotry-title{
	font-size: 18px;
/*	margin-left: 15px;*/
	margin-top: 18px;
}

.hotry-company-info>p {
	color: #bbb;
	/*line-height: 24px;*/
	padding: 0;
	margin: 0;
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	text-overflow: ellipsis;display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	/*margin-left: 15px;*/
	font-size: 14px;
	color: #999;
}

.map, .map a{
	color: #888;
	font-size: 14px;
	margin-top: 7px;
	margin-bottom: 9px;
}



.map a:hover{
	color: #337ab7;
}


.hotry-list{
	margin-top: 24px;
	text-align: center;
}






.try-introduce{
	background-color:  white;
	padding: 15px 30px;
	height: 108px;
	border-left: 1px solid #f0f0f0;
}

.try-introduce-first{
	background-color:  white;
	padding: 15px 30px;
	height: 108px;
}

.try-introduce h4, .try-introduce-first h4{
	line-height:10px;
	margin-left: 40px;
}

.try-introduce p, .try-introduce-first p{
	color: #7F7C7C;
	margin-bottom: 0px;
	margin-top: 20px;
}

.try-step{
	height:30px; 
	width: 30px;
	line-height:30px;
	display:block; 
	color:#FFF; 
	text-align:center;
	background-color: #67CA87;
	border-radius:50%;
	font-size: 18px;
	float: left;
}



.try-introduce-block{
	margin-top:30px;
	background-color: white;
}

.comment a{
	color: #337ab7;
}

.container-fluid{
	padding-left: 0px;
	padding-right: 0px;
}






#rightsidebar{
	position: fixed;
	bottom: 68px;
	right: 0px;
	list-style-type:none;
	z-index: 2;
	text-align: center;
	filter:alpha(opacity=70); /*IE滤镜，透明度50%*/
	-moz-opacity:0.7; /*Firefox私有，透明度50%*/
	opacity:0.7;/*其他，透明度50%*/
}

.barcomment, .rtotopsctoll{
	background-color: #67CA87;
	color: black;
	width: 39px;
	height: 39px;
	margin-bottom: 16px;
	text-align: center;
}



#rightsidebar a{
	line-height: 39px;
	color: white;
	font-weight: 700;

}


.rtotopsctoll em {
	border-left: 2px solid #fff;
	border-bottom: 2px solid #fff;
	display: inline-block;
	margin: 16px 0 0 1px;
	width: 12px;
	height: 12px;
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);	
}

.rtotopsctoll{
	display:none;
}


.applink a{
	color: #337ab7;
}


.applink {
	margin-bottom: 10px;
	margin-top: 8px;
}






.apply-amount h4 span{
	/*font-weight: 700;*/
	font-size: 15px;
	color: #5fb861;
}





.score .control {
display: inline-block;
vertical-align: middle;
padding: 0 5px;
}

.score .control .subtract, .score .control .add {
display: block;
float: left;
width: 20px;
height: 20px;
/*border: 1px solid #e0e0e0;*/
/*background-color: #f1f1f1;*/
font-size: 14px;
text-align: center;
/*line-height: 23px;*/
color: white;
cursor: pointer;
background-color: rgb(95,184,97);
}

.score .control .num {
display: block;
float: left;
width: 80px;
height: 20px;
/*border-top: 1px solid #e0e0e0;*/
/*border-bottom: 1px solid #e0e0e0;*/
background-color: #fff;
font-size: 18px;
text-align: center;
/*line-height: 28px;*/
color: black;
}


.score span,  .score .addstep{
width: 56px;
/*display: inline-block;*/
text-align: justify;
}

.score{
margin-top: 15px;
margin-bottom: 15px;
}

.try-amount-price-apply h4, .try-amount-price-apply p{ 
	font-size: 14px;
	color: #999;
}

#myModal2{
	text-align: center;
}









.container_products_detail>.row>.col-sm-12>.col-sm-12{
	padding-left: 0px;
}

.container_products_detail>.row>.col-sm-12>.col-sm-12>.col-sm-4{
	padding-left: 0px;
}

.try-amount-price-price{
	float: left;
	margin-right: 20px;
/*	border-right: solid 1px #999;*/
}

.try-amount-price-amount{
	border-left: solid 1px #ddd;
	padding-left: 20px;
	float: left;
	border-right: solid 1px #ddd;
	padding-right: 20px;
	margin-right: 20px;
}

.apply-amount span{
	margin-left: 10px;
}


/*v1*/
#applybutton{
/*	width: 148px;*/
} 

.products-score p{
	font-size: 14px;
	color: #999;
	margin-bottom: 10px;
	line-height: 21px;
}

.products-score p span{
	font-size: 15px;
	color: #5fb861;
	margin-left: 10px;
}


.products-score-block>.apply-bottom{
	padding-left: 0px;
}

.btn{
	width: 148px;
}


.products-score-block{
	border-right: 1px dashed #ddd;
	margin-right: 9px;
}

.mianfeishiyonginfo{
    opacity: 1 !important;
    margin-left: 20px;
    margin-top: 6px;  /*v3*/
    float: left;
    margin-bottom: 45px;  /*v3*/
}

.icon_prodeta_renshu{
    height: 25px;
    width: 25px;
    background-image: url(/static/media/images/icon_prodeta_renshu.png);
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    margin-right: 10px;
}

.icon_prodeta_xianliang{
    height: 25px;
    width: 25px;
    background-image: url(/static/media/images/icon_prodeta_xianliang.png);
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    margin-right: 10px;
}


.icon_prodeta_daojishi{
    height: 25px;
    width: 25px;
    background-image: url(/static/media/images/icon_prodeta_daojishi.png);
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    margin-right: 10px;
}


.icon_prodeta_dangqian{
    height: 25px;
    width: 25px;
    background-image: url(/static/media/images/icon_prodeta_dangqian.png);
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    margin-right: 10px;
}



.icon_prodeta_chujia{
    height: 25px;
    width: 25px;
    background-image: url(/static/media/images/icon_prodeta_chujia.png);
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    margin-right: 10px;
}

.hot-try-title-line{
	width:156px;
	height: 2px;
	background-color: rgb(138,138,138);
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}


/*v1*/
.hot-try-compant-title{
	background-color: white;
	margin-bottom: 3px;
	font-size: 24px;
	border-radius: 5px;
	color: rgb(138,138,138);
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: -17px;

}

.hotnewsblock{
	background-color: #fafafa;
	padding: 26px 15px 20px 15px; 
	margin-bottom: 20px;
	margin-top: 24px;
	/*margin-left: 60px;*/
}

.hotnewsblock table img{
	width: 100%;
}

.head{
	font-size: 24px;
	margin-bottom: 0px;
	color: #999;
	vertical-align:middle;
}

.shu-mark{
	background-color: #5fb760;
	color: #5fb760;
	/*margin-right: 10px;*/
	border-top: solid 2px #5fb760;
	border-bottom: solid 2px #5fb760;
	/*border-radius: 6px;*/
	left: -14px;
	position: relative;
}

.hotnews td{
	padding: 18px 10px !important;
	border-bottom: 1px dashed #ddd;
}

/*v1*/
.t-h2-hottry{
bottom: 0px;
left: 0px;
height: 77px;
position: absolute;
word-break: break-all;
color: #fff;
width: 100%;
padding: 16px 16px 0px 16px;
line-height: 24px;
font-size: 14px;
opacity: 1;
-webkit-transition: all .3s ease;
transition: all .3s ease;
background: -webkit-gradient(linear,0 0%,0 100%,from(rgba(0,0,0,0)),to(#121515));
background: -moz-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0),#121515);
background: -ms-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0),#121515);
background: -o-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0),#121515);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #90000000,endColorstr = #90000000); color: #FFF; 

}

.hotnewsblock table img{
	width: 100%;
}

.table>tbody>tr>td>.program-content>a{
	font-size: 14px;
	overflow: hidden;
	color: #444;
	line-height: 1.5em;
	display: block;
	cursor: pointer;
	position: relative;
	text-decoration: none;
}

.table>tbody>tr>td>.program-content>a:hover{
	color: #3ca5f6;
}

.table>tbody>tr>td, .table>tbody>tr>th{
	border-top: 0px solid #ddd;
	/*border-bottom: 0px solid #ddd;*/
}
/*v1*/
.table>tbody>tr>td>a{
	font-size: 14px;
	overflow: hidden;
	color: black;
	line-height: 1.5em;
	display: inline;
	cursor: pointer;
	/*padding-left: 12px;*/
	position: relative;
	text-decoration: none;
}

.table>tbody>tr>td>p{
	padding-left:0px;
}


.table>tbody>tr>td>span{
	margin-left: 9px;
	color: #999;
}


.hotnews>tbody>tr>th{
	width: 1px;
	margin-right: 0px;
	color: #9e9e9e;
}


/*v1*/
.hotnews>tbody>tr>td>a{
	padding: 0px;
	border-radius: 8px;
}

.hotnews{
	margin-bottom: 0px !important;
}

.container_products_detail_small .small_img_title{
	margin-top: -17px;
}

.container_products_detail_small .small_img_title img{
	width: 100%;
}

.container_products_detail_small .timer{
	font-size: 12px;
	color: white;
	background-color: #000000;
	margin-left: 0px;
	line-height: 25px;
	height: 25px;
	padding-left: 12px;
}

.container_products_detail_small .timer i{
	font-size: 12px;
	color: white;
}

.container_products_detail_small >.small_try_info{
	width: 33.33%;
	float: left;
	font-size: 12px;
	text-align: center;
	margin-top: 8px;
}

.container_products_detail_small >.small_try_info>div{
		margin:6px 0px 6px 0px;
		height: 21px;
		line-height: 21px;
	/*	text-align: center;
*/}


.container_products_detail_small span{
	color: black;
}

.container_products_detail_small .score .control .num{
	width: 50px;
	font-size: 14px;
}



.try-share a{
	float: left;
}

.try-share-word{
	margin-right: 19px;
	float: left;
	height: 35px;
	line-height: 35px;
}




.icon_prodeta_xianliang_win{
    height: 66px;
    width: 66px;
    background-image: url(/static/media/images/icon_prodeta_jingpaisucc.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: -40px;
}




.try-info-boader h4, .try-info-boader p{
		font-size: 14px;
	color: #999;


}
.try-info-boader{
	border-right: 1px dashed #ddd;
	margin-right: 9px;
/*	margin-top: 12px;*/
}


.t-h2-hottry-title{
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	text-overflow: ellipsis;display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.container_products_detail_small{
	margin-left: 0px;
	margin-right: 0px;
	padding-bottom: 15px;
	border-bottom: 2px solid #ddd;
}

/*v5*/
.score-topic{
	display: inline-block;
	background-image: url(/static/media/images/icon_coins_score2x.png);
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
/*	margin-left: 15px;*/
	margin-bottom: -6px;

}


.applyscoreconformprice{
	color: #5fb861;
	font-size: 16px;
}

.scorerule{
	line-height: 25px;
}




.whatscore{
	line-height: 34px;
}

.whatscore-small{
	color: #337ab7;
}


.products-detail .menu {
word-break:keep-all;
white-space:nowrap;
overflow:auto;
}



.products-detail .menu li{
display: inline-block;
padding: 8px 8px;
}


.products-detail-info tbody tr th, .products-detail-info tbody tr td {
	line-height: 66px;
	font-weight:normal;

}



.products-detail-info thead tr th{
	color: #666;
}





/*v1*/
.try-amount-price span{
font-size: 15px;
color: #5fb861;
}

.products-one-block{
	text-align: left;
}

.products-one-block>.apply-bottom {
padding-left: 0px;
}

.products-one-block .glyphicon-usd, .products-one-block .glyphicon-list-alt{
    float: left;
    margin-right: 10px;
    color: #999;
    width: 25px;
    height: 25px;
    font-size: 18px;
}

.btn-one, .btn-one:hover{
	color: white;
	background-color: #0066FF;
	border-color: #0066FF;
}


#myModal3{
	text-align: center;
}



.payone .controlone {
display: inline-block;
vertical-align: middle;
padding: 0 5px;
}

.payone .controlone .subtractone, .payone .controlone .addone {
display: block;
float: left;
width: 20px;
height: 20px;
font-size: 14px;
text-align: center;
color: white;
cursor: pointer;
background-color: rgb(95,184,97);
}

.payone .controlone .numone {
display: block;
float: left;
/*width: 80px;*/
height: 20px;
background-color: #fff;
font-size: 18px;
text-align: center;
color: black;
}

.payone span,  .payone .addstepone{
width: 56px;
text-align: justify;
}


.payone{
margin-top: 15px;
margin-bottom: 15px;
text-align: center;
}


.one-list-num{
/*	float: left;*/
	cursor: pointer;
	margin-right: 15px;
	border: 1px solid #ddd;
	border-radius: 18px;
	padding: 3px 10px 3px 10px;
}


.one-list-num:hover{
	border: 1px solid rgb(95,184,97);
	color: rgb(95,184,97);
}


.one-list{
	margin-top: 15px;
}

.one-list-renci{
	color: #999;
}

.small_info{
	margin: 6px 0px 0px 0px;
	/*height: 21px;*/
	line-height: 21px;
	font-size: 12px;
	text-align: center;
/*	border-bottom: 1px dashed #ddd;*/

}


.try-title h4{
	margin-top: 0px;
}

.try-amount-price p {
	margin-bottom: 0px;
}


