body{
	background-color: #fff;  /*v1*/
}

.try-introduce-first{
	background-color:  white;
	padding: 40px 5px;   /*v1*/

}

.try-introduce{
	background-color:  white;
	padding: 40px 5px;

}

.try-introduce h4, .try-introduce-first h4{
	line-height:10px;
	font-size: 16px;
	    font-weight: bold;

}

.try-introduce p, .try-introduce-first p{
	color: #7F7C7C;
	margin-bottom: 0px;
	font-size: 14px;

}

.products-list{
	margin-top: 30px;
	padding-right: 0px;
	padding-left: 0px;
}

.products-information{
	background-color:  white;
	margin-bottom: 30px;
	border-radius: 5px;
	border:3px solid #f1f1f1;
}

.try-step{
	height:60px;   /*v1*/
	width: 60px;  /*v1*/
	line-height:30px;
	display:block; 
	color:#FFF; 
	text-align:center;
	/*background-color: #67CA87;*/  /*v1*/
	/*border-radius:50%;*/  /*v1*/
	font-size: 18px;
	float: left;
	background-repeat: no-repeat;/*v1*/
	background-position: center;/*v1*/


}

.periods {
height: 40px;
line-height: 40px;
text-align: center;
background: white;
font-size: 14px;
border-bottom: solid 2px #eee;
}


.products-img a img{
	width: 100%;
	border-radius: 5px 5px 0px 0px;
}

.timer-line {
/*width: 100%;*/
height: 27px;
line-height: 27px;
text-align: center;
color: #fff;
background-color: #000000;
font-size: 12px;
margin-left: auto;
margin-right: auto;
filter:alpha(opacity=50);  
-moz-opacity:0.5;  
-khtml-opacity: 0.5;  
opacity: 0.5;  
bottom: 138px;
position: absolute;
font-weight: bold;
}

.timer {
/*width: 100%;*/
height: 27px;
line-height: 27px;
/*text-align: center;*/
padding-left: 15px;
color: #fff;
/*background-color: #000000;*/
font-size: 12px;
margin-left: auto;
margin-right: auto;
/*filter:alpha(opacity=50);  
-moz-opacity:0.5;  
-khtml-opacity: 0.5;  
opacity: 0.5;  */
bottom: 138px;
position: absolute;
text-overflow: -o-ellipsis-lastline;
overflow: hidden;
text-overflow: ellipsis;display: -webkit-box;
-webkit-line-clamp: 1;
-webkit-box-orient: vertical;
}




.products-time{
	display: none;
}

.products-title {
padding-top: 15px;
font-size: 16px;
/*text-align: center;*/
padding-left: 15px;
display: block;
white-space: normal;
/*overflow: hidden;
text-overflow: ellipsis;*/
text-overflow: -o-ellipsis-lastline;
overflow: hidden;
text-overflow: ellipsis;display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
height: 55px;
line-height: 20px;
color: #333333;
}


a:link{
	text-decoration: none;
}
a:hover{
	color: #337ab7;
}

a{
	color: #333;
}

.try-info {
text-align: right;
font-size: 12px;
color: #888;
width: 100%;
padding: 15px 15px 20px 15px;
line-height: 16px;
}

.score-info {   /*v2*/
text-align: right;
font-size: 12px;
color: #888;
width: 100%;
padding: 5px 15px 5px 15px;
line-height: 18px;
}


.try-info-price{   /*v2*/
text-align: right;
font-size: 12px;
color: #888;
width: 100%;
padding: 5px 15px 5px 15px;
line-height: 16px;
margin-bottom: 20px;
/*height: 51px;*/
}

.amount{
	float: left;
}

.products-information:hover {
transition-property: box-shadow;
-webkit-transition-property: box-shadow;
-moz-transition-property: box-shadow;
-o-transition-property: all;
transition-duration: .5s;
-webkit-transition-duration: .5s;
-moz-transition-duration: .5s;
-o-transition-duration: .5s;
-webkit-box-shadow: 0 -1px 30px rgba(0,0,0,0.28);
-moz-box-shadow: 0 -1px 30px rgba(0,0,0,0.28);
-o-box-shadow: 0 -1px 30px rgba(0,0,0,0.28);
box-shadow: 0 -1px 30px rgba(0,0,0,0.28);
}

.paginationcontain{
	text-align: center;
	margin-top: 30px;
}

.paginator{
	position: relative;
	float: left;
	margin-left: -1px;
	line-height: 27px;
	color: #333;
	background-color: #f5f5f5;
	margin-right: 10px;
	border-radius: 0;
	height: 36px;
	width: 36px;
	border: none;
	padding: 6px 0;
	/*border-radius: 10px;*/
	/*background: rgba(0,0,0,.2);*/
}

.paginator_current{
	position: relative;
	float: left;
	margin-left: -1px;
	line-height: 27px;
	color: #fff;
	background-color:  #67CA87;
	margin-right: 10px;
	border-radius: 0;
	height: 36px;
	width: 36px;
	border: none;
	padding: 6px 0;
	/*border-radius: 10px;*/
	/*background: #67CA87;*/
}



.mark {
	position: absolute;
	top: 16px;
/*	left: 25px;*/
	display: block;
	padding: 3px 8px;
	color: #fff;
	font-size: 12px;
	text-align: center;
	border-radius: 0px 20px 20px 0px;
	z-index: 11;

}

.apply-mark{
	background-color:#5cb85c;
}

.experience-mark{
	background-color:#f0ad4e;
}

.end-mark{
	background-color:#d9534f;
}

.apply-amount h4{
	float: right;
	line-height: 30px;
}



.logoimg img{
	width: 100%;
	margin-top: 0px;
	margin-bottom: 15px;
}




.producs-filter{
	background-color: white;
/*	margin-top: -17px;*/    /*v1*/
	/*line-height: 52px;*/
	border-bottom: solid 1px #f1f1f1;
	text-align: center;


}

.producs-filter ul li{
	/*float: left;*/
	list-style: none;
	display: inline-block;
	padding: 16px 15px 16px 15px;
}

.producs-filter ul {
	margin-bottom: 0px;
	text-align: center;
	padding: 0px;
	display: inline-block;
	/*margin: auto;*/
}

.producs-filter ul li a{
	font-size: 14px;
}


.producs-filter ul li a:hover {
	color: #5fb760;
}

.applyNums-size{
	font-size: 16px;
	color: #5fb760;
	margin-right: 3px;
}



.container-fluid{
	padding: 0px;
}

#btn-div-block{
	padding: 0px 15px 0px 15px;
}

#morecomment-btn-block{
	color: rgb(175,175,175);
	background-color: #fafafa;
	border: solid 1px #eeeeee;
	margin-left: auto;
	margin-right: auto;
	border-radius: 22px;
	width: 186px;
}





.container{
	width: 1170px;
}


.try-introduce-block-outline{
	margin-top: 43px;
	margin-bottom: 15px;

}

.try-introduce-block{
	border: 2px solid #f1f1f1;	
}



.try-step2{
	float: left;
	width: 180px;
}

.try-step3{
	float: left;
	width: 20px;
	height: 60px;
	background-image: url(/static/media/images/shiyongstepjiantou.png); 
	background-repeat: no-repeat;
	background-position: center;
	line-height: 60px;

}

.shiyongliucheng{
  position:absolute;
/*  left:100px;*/	
z-index: 1;
left: 50%;
margin-left: -83px;
margin-top: -27px;
width: 166px;
height: 54px;
line-height: 54px;
background-color: white;
color: rgb(31,33,27);
font-size: 24px;
text-align: center;
}


.openprice{
}




#rightsidebar{
	position: fixed;
	bottom: 68px;
	right: 0;
	list-style-type:none;
	z-index: 2;
	text-align: center;
	filter:alpha(opacity=70); /*IE滤镜，透明度50%*/
	-moz-opacity:0.7; /*Firefox私有，透明度50%*/
	opacity:0.7;/*其他，透明度50%*/
}

.barcomment, .rtotopsctoll, .daka{
	background-color: #67CA87;
	color: black;
	width: 39px;
	height: 39px;
	margin-bottom: 16px;
	text-align: center;
}



#rightsidebar a{
	line-height: 39px;
	color: white;
	font-weight: 700;

}


.rtotopsctoll em {
	border-left: 2px solid #fff;
	border-bottom: 2px solid #fff;
	display: inline-block;
	margin: 16px 0 0 1px;
	width: 12px;
	height: 12px;
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);	
}

.rtotopsctoll{
	display:none;
}




.bannerinfo{
background: -webkit-gradient(linear,0 70%,0 100%,from(rgba(0,0,0,0)),to(rgb(72,130,74))) !important;
background: -moz-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0),rgb(72,130,74)) !important;
background: -ms-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0),rgb(72,130,74)) !important;
background: -o-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0),rgb(72,130,74)) !important; 
/*height:53%  !important; */
height:350px  !important;
border-radius: 8px !important;
overflow-y:hidden;
padding-top: 160px;
/*padding-bottom: 30px;*/
/*overflow-x: hidden; overflow-y: auto; */
/*top:100px;*/
/*bottom: 0px;*/
}

.products-hover-box{
	height:106px;
	overflow-y:hidden;
}


.bannerinfo:hover{
background-color: rgb(72,130,74) !important;
}

.bannerinfo a{
	color: white;
}




#overlay {
    background: white;
    filter: alpha(opacity=50); /* IE的透明度 */
    opacity: 0.5;  /* 透明度 */
    display: none;
    /*position: absolute;*/
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 100; /* 此处的图层要大于页面 */
    text-align: center;
    float: left;
}


.slice {

 /*   position: fixed;*/
  width: 14em;
  height: 6em;
  /*margin: .5em;*/
  padding: 2em;
  text-align: center;
   margin-left: auto;
  margin-right: auto;
}
.slice > div {
  margin: 1em auto;
}
.slice > div:nth-child(2) {
  font-family: cursive;
  position: absolute;
  bottom: 0;
  left: 3em;
  color: #fff;
}

