.rightwordblock h3{
	font-size: 14px !important;
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	text-overflow: ellipsis;display: -webkit-box;
	-webkit-line-clamp: 2 !important;
	-webkit-box-orient: vertical;
	margin-bottom: 0px !important;
}

.item h3{
		font-size: 16px !important;
}



.rightwordblock, .newsblock{
	padding-right: 0px;
}

.leftimgblock a img{
	width: 138% !important;
}

.rightwordblock{
}


.basewebicon{

}





h1{
	font-size: 17px;
}


#article{
	padding-left: 0px !important;
}

.home-container .col-sm-9{
	padding: 0px !important;
}
.comment-form{

	margin-top: 50px !important;
	margin-bottom: 50px !important;
}

.comment{
}

.associatetitle{
}

.paginator, .paginator_current{
}

.newsblock{
}

.content-1{
	width: 100% !important;
}

.container-user .col-xs-10 {
	width: 100% !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
}


.team-introduce{
	width: 100% !important;
}
.brief, .name, .investmentname {
font-size: 13px !important;
}

.l-sidebar img {
width: 58px !important;
height: 58px !important;
}

.l-sidebar {
	width: 50px  !important;

}

.name a, .des {
font-size: 12px !important;
}

.info {
	margin-left: 5px !important;
}

.table-col .info{
	padding: 0px !important;

}




#morecomment-btn-block, #moretopic-btn-block{
	width: 70% !important;
	margin-left: auto;
	margin-right: auto;

}




.breadcrumbs{
	margin-left: 0px !important;
}






.proposer h4{
	padding-left: 15px;
}

.applicationlist{
	padding-left: 15px !important;
}

.applicationlist li{
	margin-right: 15px !important;
}



.navbar-form{
	border: 0px;
	width: auto;
}

.products-img .timer, .products-img .timer-line{
	bottom: 109px !important;
}

.products-info .timer{
	padding-left: 0px !important;
}



.newsblock .usericon{
}

.newsblock .associatetitle{
	font-size: 12px !important;
	color: #999999;
	margin-bottom: 0px !important;
	margin-top: 0px !important;
}

.newsblock .writer, .newsblock .posttime{
	font-size: 12px !important;
}



.container{
	width: auto !important;
}


.group_detail_container .col-sm-9 {
	padding-right: 0px;
}


.home-container .leftcontainer .newsblock{
}



.products-detail-info, .products-apply-info{
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.container_products_detail_small .small_try_info .btn{
	width: 80%  ;
	font-size: 12px  ;
}



.group_detail_container .group-list-content>a{
	font-size: 15px;
}

.group_detail_container .group-information, .group_detail_container .group-information-writer{
	font-size: 12px;
	margin-top: 0px;
}


.container_products_detail .group-list-content>a{
	font-size: 14px;
}

.container_products_detail .group-information, .container_products_detail .group-information-writer{
	font-size: 12px;
	margin-top: 0px;
}


.danmu{
	max-width: 346px !important;
}


.group_detail_container .img3-imagefst3, .group_detail_container .img3-imagescd3, .group_detail_container .img3-imagethd3{
	padding: 2px 2px 0px 0px;
}


.group_detail_container .img1-imagefst3, .group_detail_container .img1-imagescd3, .group_detail_container .img1-imagethd3{
	padding: 2px 2px 0px 0px;
}


.group_detail_container .img1-imagefst1{
	padding: 2px 2px 0px 0px;
}



.newsblock .img3-imagefst3, .newsblock .img3-imagescd3, .newsblock .img3-imagethd3{
	padding: 6px 2px 0px 0px;
}

.newsblock .img1-imagefst3, .newsblock .img1-imagescd3, .newsblock .img1-imagethd3{
	padding: 6px 2px 0px 0px;
}


.newsblock .img1-imagefst1{
	padding: 6px 2px 0px 0px;
}

.group-information>span>a{
	font-size: 12px;
}



.group-information .icon-line{
	margin-left: 0px;
	margin-right: 5px;
}


.pagination .paginator, .pagination .paginator_current{
}


#article .article-author, #article  .comment {
	font-size: 12px;
}

#article  .comment .pl-content{
	font-size: 14px;
}


.container_products_detail  .comment{
	font-size: 12px;
}


.container_products_detail  .comment .pl-content{
	font-size: 14px;
}


.container>.col-sm-8{
	padding-left: 0px;
	padding-right: 0px;
}

.breadcrumbs li a{
	font-size: 16px;
}



.instrumentall_container .instrumentblock{
	width: 50%;
}

.instrumentdetail_container .instruinfo-score{
	width: 58%;
	border-right:0px;
}

.instrumentdetail_container .instruinfo-img{
	width: 42%;
}


.container-index .group-list h3{
	font-size: 13px ;
}

.container-index .instruinfo-info{
	font-size: 13px ;
}


.instruindex-form #instruindex_word{
	width: 80%;
}



.home-container .topicblock{
	width: 100%;
}

.home-container .newsblock{
	width: 100%;
	padding-right: 20px;
	padding-left: 20px;
}

.home-container  .topicblock-title{
margin-left: 20px;
}


.home-container  .topicblock .topicblock-line3{
font-size: 18px;
}

.home-container .topicblock .topicblock-line4{
font-size: 14px;
}

.home-container .topicblock .topicblock-line5{
	font-size: 14px;
}
