.rightwordblock h3{
	font-size: 14px !important;
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	text-overflow: ellipsis;display: -webkit-box;
	-webkit-line-clamp: 2 !important;
	-webkit-box-orient: vertical;
	margin-bottom: 0px !important;
}

.item h3{
		font-size: 16px !important;
}



.rightwordblock, .newsblock{
	padding-right: 0px;
}

.leftimgblock a img{
	width: 138% !important;
}

.rightwordblock{
	padding-left: 12% !important;
}


.basewebicon{

}





h1{
	font-size: 17px;
}


#article{
	padding-left: 0px !important;
}

.home-container .col-sm-9{
	padding: 0px !important;
}
.comment-form{

	margin-top: 50px !important;
	margin-bottom: 50px !important;
}

.comment{
}

.associatetitle{
}

.paginator, .paginator_current{
	margin-top: 9px !important;
}

.newsblock{
	padding-left: 15px !important;
	padding-right: 15px !important;
}

.content-1{
	width: 100% !important;
}

.container-user .col-xs-10 {
	width: 100% !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
}


.team-introduce{
	width: 100% !important;
}
.brief, .name, .investmentname {
font-size: 13px !important;
}

.l-sidebar img {
width: 58px !important;
height: 58px !important;
}

.l-sidebar {
	width: 50px  !important;

}

.name a, .des {
font-size: 12px !important;
}

.info {
	margin-left: 5px !important;
}

.table-col .info{
	padding: 0px !important;

}




#morecomment-btn-block{
	width: 70% !important;
	margin-left: auto;
	margin-right: auto;

}




.breadcrumbs{
	margin-left: 0px !important;
}






.proposer h4{
	padding-left: 15px;
}

.applicationlist{
	padding-left: 15px !important;
}

.applicationlist li{
	margin-right: 15px !important;
}



.navbar-form{
	border: 0px;
	width: auto;
}

.products-img .timer, .products-img .timer-line{
	bottom: 109px !important;
}

.products-info .timer{
	padding-left: 0px !important;
}



.newsblock .usericon{
	width: 14px !important;
	height: 14px !important;
	margin-right: 0px !important;
}

.newsblock .associatetitle{
	font-size: 12px !important;
	color: #999999;
	margin-bottom: 0px !important;
	margin-top: 0px !important;
}

.newsblock .writer, .newsblock .posttime{
	font-size: 12px !important;
}



.container{
	width: auto !important;
}


.group_detail_container .col-sm-9 {
	padding-right: 0px;
}


.home-container .leftcontainer .newsblock{
	border-top: 0px;
	margin-left: 15px;
}


.products-detail .menu .rightblock li a{
	font-size:  12px;
	padding: 10px 0px 10px 0px;
}

.products-detail .menu .rightblock li{
	width: 24%;
	text-align: center;
}

.products-detail-info, .products-apply-info{
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.container_products_detail_small .small_try_info .btn{
	width: 80%  ;
	font-size: 12px  ;
}
