.icon-delete{
	background-image: url(/static/images/sharebackground.png);
	cursor: pointer;
	width: 20px;
	height: 23px;
	background-position: -231px -434px;
}


.modal-dialog{
	margin-top: 15%;
}

.modal-body{
	text-align: center;
}

.myModalbtn{
	margin: 10px 20px;
}


li a:hover{
	color: #67CA87;
}


.presentationw8 a,.presentationw1 a,.presentationw2 a,.presentationw3 a,.presentationw4 a,.presentationw5 a,.presentationw6 a,.presentationw7 a{
	color: #555;
	text-decoration:none;
}

.leftblock .glyphicon{
 	margin-right: 10px;
 }


.glyphicon-search{
	margin-right: 0px;
}





.badgeprivcy {
display: inline-block;
min-width: 10px;
padding: 3px 7px;
font-size: 12px;
font-weight: 700;
line-height: 1;
color: #fff;
text-align: center;
white-space: nowrap;
vertical-align: baseline;
border-radius: 10px;
margin-left: 7px;
vertical-align: text-top;
background-color: #449d44;
}




.per-info-qianming{
	margin-left: 115px;
	color: #999;
	font-size: 12px;
}

.user-top-block{
	width: 100%;
	/*height: 80px;*/
	background-color: white;
	/*border-bottom: solid 1px #ddd;*/
	padding: 15px;
	margin-bottom: 15px;

}

.user-top-name{
	font-size: 18px;
	margin-left: 115px;
}

.rightblock li{
	display: inline-block;
	padding: 8px 16px;
}


.icon-top{
	width: 100px;
	height: 100px;
	/*margin-left: -25px;*/
	margin-top: -60px;
	border: 1px solid #ddd;
}


.rightblock{
white-space: nowrap;
overflow: auto;
}

.newtopicuser{
	width: 150px;
	margin-top: -15px;
	margin-right: 15px;

}

.container-user .dashboard .iconline .glyphicon-pencil {
float: right;
margin-top: 8px;
margin-bottom: 8px;
}

.container-user .dashboard .iconline a{
color: #333;
}



.user-icon-background{
	background-image: url(/static/media/images/usericon/屏幕快照_2017-07-21_下午1.44.00.png);
	height: 275px;
background-repeat: no-repeat;
background-size: cover;
background-position: center 19%;
}


.container-user{
}

body{
	background-color: #f0f0f0;
}


.container-user .dashboard .iconline .glyphicon{
	color: #449d44;
} 
