{% extends "base_1.html" %}
{% block HeadDoc %}
<style type="text/css">
.content-2{
	color: #449d44;
	background-color: #CCF4D9;
	border-color: #CCF4D9;
	padding: 10px;
	text-align: center;
}

body {
background-color: #f0f4fb;
}

.content-1{
	background-color: white;
	padding: 10px;
	width: 70%;

	border: 1px solid #cacaca;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}
.content-2 ul li{
	clear:both;
	margin-top: 10px;
}
</style>



{% endblock %}

{% block content %}
<div class='container'>
	<div class='content-1 '>
		<div class='content-2 '>
  <ul>
	    <li>
	    一个专注于智能硬件领域的新闻推送平台
	    </li>
	  	  	<li>
	  	一个智能硬件产品免费试用平台
	  	  </li>
	  	  	<li>
	  	测评话题组供大家交流休闲
	  	  </li>


  </ul>
  </div>
</div>
</div>
{% endblock %}
