 {% block HeadDoc %}
{% load time_filter %}
<script>/*去除&nbsp;*/
$(function(){ 
    $('.posttime').each(function() {
      var $this = $(this);
      $this.html($this.html().replace(/&nbsp;/g, ''));
    })
}); 
</script>


<script>
$.fn.imgsizeFunction = function() { 
  width = $(this).css('width');
  x = (parseFloat(width)*0.636)
  return  $(this).css('height',x+'px');
}
</script>

<script>
$(function(){ 
$('.hotnewsblock table img').imgsizeFunction();
  $('.leftimgblock a img').imgsizeFunction();
}); 
</script>

<script>
$(window).resize(function(){
$('.hotnewsblock table img').imgsizeFunction();
  $('.leftimgblock a img').imgsizeFunction();
});
</script>

<script>
$.fn.imgsizeFunctionitem = function() { 
  width = $(this).css('width');
  x = (parseFloat(width)*0.56)
  return  $(this).css('height',x+'px');
}
</script>

<script>
$(function(){ 
  $('.item-img, .item-img  a img').imgsizeFunctionitem();
/*  $('.leftimgblock a img').imgsizeFunction();*/
}); 
</script>

<script>
$(window).resize(function(){
  $('.item-img, .item-img  a img').imgsizeFunctionitem();
/*  $('.leftimgblock a img').imgsizeFunction();*/
});
</script>


{% endblock %}
{% for item in articlequery %}

           <div class="col-xs-11 newsblock" id="{{item.blockid}}">
          <div class="col-xs-4 leftimgblock">
          <a href="{{item.get_absolute_url}}"><img src="{{item.get_image_url}}" ></a>
{% if item.original %}
<span class="original-mark"  >探访</span>
{% endif %}
{% if item.deep %}
<span class="deep-mark" >深度</span>
{% endif %}
          </div> 
          <div class="col-xs-8 rightwordblock">
          <h3><a href="{{item.get_absolute_url}}">{{item.title}}</a></h3>
          <p class="associatetitle hidden-xs" style='padding-left: 0px;'>{{item.associatetitle}}</p>
          <div class="usericon-line">
          <span><img  class="img-circle usericon" src='{{item.writer.get_image_url}}'></span>
          <span class="writer"><a href="{{item.writer.get_absolute_url}}">{{item.user}}{{item.writer}}</a></span>
          <span class="posttime">{{item.timestamp|date:"o/m/j"}}</span> 
          <i class="icon-reply hidden-xs"></i><span class="hidden-xs">{{item.id|Article_comment}}  </span>
          </div>
          </div> 
          </div> <!-- newsblock -->
{% endfor %}
