{% extends "base_1.html" %}
{% block HeadDoc %}
<style type="text/css">
.content-2{
	color: #449d44;
	background-color: #CCF4D9;
	border-color: #CCF4D9;
	padding: 10px;
	text-align: center;
}

body {
background-color: #f0f4fb;
}

.content-1{
	background-color: white;
	padding: 10px;
	width: 70%;

	border: 1px solid #cacaca;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}
.content-2 ul li{
	clear:both;
	margin-top: 10px;
}
</style>



{% endblock %}

{% block content %}
<div class='container'>
	<div class='content-1 '>
		<div class='content-2 '>
  <ul>
<li>请将您的稿件发送至邮箱：shenanping2008@hotmail.com.</li>

  	  	<li>
  	我们将在24小时之内回复您的投稿.
  	  </li>
  	<li>
  梧桐观点一旦录用，作者即可获得基础稿费.
  </li>
   	<li>
  除基础稿费外，一旦您的投稿被我们评定为优秀稿件，梧桐树还会奖励作者额外优秀稿费. </li>




  </div>
</div>
</div>
{% endblock %}
