<!DOCTYPE html>
<html lang="zh-CN"><head>
<meta name="baidu-site-verification" content="OPA8XW0AfZ" />
<meta property="wb:webmaster" content="313c0d3cedd51dcf" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/images/Abstract Tree.jpg">

    <title>{{products.title}}免费试用 免费领取 | 梧桐试用</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap-3.3.4-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/base_1.css" rel="stylesheet">
    <script src="/static/bootstrap-3.3.4-dist/js/ie-emulation-modes-warning.js"></script>
    <script src="/static/js/jquery-1.11.3.min.js"></script>
    <script src="/static/js/jquery.cookie.js"></script>
    <script src="/static/bootstrap-3.3.4-dist/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.bootstrap.min.js"></script>
    <script src="/static/bootstrap-3.3.4-dist/js/ie10-viewport-bug-workaround.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/smallscreen.css"  media="screen and (max-width: 768px)">
    {% load time_filter %}
  <script src="/static/js/home.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<!-- 显示咨询栏下拉菜单 -->


<script>/*百度推送*/
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';        
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>


<script>/*百度统计*/
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?5db645b58e7dd5560dea1d8961c752a8";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>



<!-- 个人消息下拉菜单 -->
<script type="text/javascript">
$(document).ready(function(){
  $(".userinfobutton").mouseenter(function(){
    $.ajaxSetup({
    data: {csrfmiddlewaretoken: '{{ csrf_token }}', 
          },
          });
    $.ajax({
        url: "{% url 'inbox' %}",
        type: "post",
        success: function(data) {
          if (data.unread == 0){
            $(".badge").css('background-color','#449d44')
          }
          else
          {
            $(".badge").css('background-color','#F13F47')
          }
          $(".inboxcount").html(data.unread)
          $(".inboxcount1").html(data.unread)
        },
          error: function(data) { 
           /* alert('no')*/
        },
      });
      $(".dropdown-toggle").dropdown('toggle');
  });
  $(".userinfobutton").mouseleave(function(){
      $(".dropdown-toggle").dropdown('toggle');
  });  
    });
</script>


<!-- 订阅 -->
<script type="text/javascript">
$(document).ready(function(){
  $(".guanzhu").mouseenter(function(){
      $(".dropdown-toggle-guanzhu").dropdown('toggle');
  });
  $(".guanzhu").mouseleave(function(){
      $(".dropdown-toggle-guanzhu").dropdown('toggle');
  });  
    });
</script>

<!-- 咨询 -->
<script type="text/javascript">
$(document).ready(function(){
  $(".categorybutton").mouseenter(function(){
      $(".dropdown-toggle-categorybutton").dropdown('toggle');
  });
  $(".categorybutton").mouseleave(function(){
      $(".dropdown-toggle-categorybutton").dropdown('toggle');
  });  
    });
</script>

<!-- 个人消息下拉菜单宽度与按钮保持一致 -->
<script type="text/javascript">
$(document).ready(function(){
  $(".dropdown-menu").css('min-width','0px')
  width = $(".userinfobutton").css('width')
  $("#userinfobutton-dropdown-menu").css('min-width',width)
  });
</script>

<!-- 搜索栏 -->
<script>
$(document).ready(function(){
  $("#index_search form").submit(function(e){
    var input = $("#search_word").val()
    if (input == "")
    {
/*      alert('no')*/
    return false;
    }
/*    if (input.length >= 20)
    {
      alert('no')
      return false;
    }*/
    else
    {
    return true;
    }
  });
});
</script>


<!-- 个人消息下拉菜单 -->
<script type="text/javascript">
$(function() {
  $("body").on("click", '.collapsed', function (event){
    $.ajaxSetup({
    data: {csrfmiddlewaretoken: '{{ csrf_token }}', 
          },
          });
    $.ajax({
        url: "{% url 'inbox' %}",
        type: "post",
        success: function(data) {
          if (data.unread == 0){
            $(".badge").css('background-color','#449d44')
          }
          else
          {
            $(".badge").css('background-color','#F13F47')
          }
          $(".inboxcount").html(data.unread)
          $(".inboxcount1").html(data.unread)
        },
          error: function(data) { 
           /* alert('no')*/
        },
      });
  });
});
</script>

<script type="text/javascript">
$(document).ready(function(){
  inboxnum = parseInt($(".inboxcountporsiton").text())
  if (inboxnum>0){
    $(".badge").css('background-color','#F13F47')
  }
  else
    {
      $(".badge").css('background-color','#449d44')
    } 
  });
</script>

  {% block HeadDoc %}
  {% endblock %}


  </head>

  <body>

    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
    <!-- <nav class="navbar navbar-default navbar-static-top"> -->
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            {% if user.is_authenticated %}
              <span class="badge inboxcount inboxcountporsiton">{{ user.id|user_unread_count }}</span>
            {% endif %}
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <img  class="fenxiangicon" src='{{products.get_image_url}}' style='width:0px'>

          <a class="navbar-brand" href="{% url 'home' %}"><img  class="basewebicon" src='/static/media/images/logo_wutong.png'></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav underline">


            <li class="categorybutton  hidden-xs">
              <a href="{% url 'home' %}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> 首页</a>
            </li>


           <li class="subcate hidden-xs"><a href="{% url 'productsall' %}"><span class="glyphicon glyphicon-gift" aria-hidden="true"></span> 试用</a></li>
            <li class="subcate hidden-xs"><a href="{% url 'group_all'  %}"><span class="glyphicon glyphicon-leaf" aria-hidden="true"></span> 社区</a></li>

          </ul>
<div id='index_search'>
<form class="navbar-form navbar-left" role="search" action="{% url 'index_search' %}" method="get">
<!--   {% csrf_token %} -->
    <div class="input-group has-success">
      <input id = 'search_word' type="text" class="form-control" name="search_word"  placeholder="话题 试用 ">
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">搜索</button>
      </span>
    </div>
</form>
</div>
          <ul class="nav navbar-nav navbar-right">



          <li class="subcate visible-xs-block"><a href="{% url 'home' %}">首页</a></li>

          <li class="subcate visible-xs-block"><a href="{% url 'productsall' %}">试用</a></li>


          <li class="subcate visible-xs-block"><a href="{% url 'group_all'  %}">社区</a></li>
        {% if user.is_authenticated %}
        <li class="subcate visible-xs-block"><a href="{{user.get_absolute_url}}">帐号</a></li>
        <li class="subcate visible-xs-block"><a href="{% url 'userlogout' %}">退出</a></li>
        <li class="subcate visible-xs-block"><a href="{% url 'user_detailnotifications' user.id %}">消息<span class="badge inboxcount">{{ user.id|user_unread_count }}</span></a></li>
        <li class="hidden-xs">
          <a href="{% url 'user_detailnotifications' user.id %}">
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
              {% if user.id|user_unread_count > 0 %}
              <span class="pcinbox" style="color:#F13F47;">{{ user.id|user_unread_count }}</span>
              {% else %}
              {% endif %}
          </a>
        </li>

        <li class='userinfobutton hidden-xs'><a  href="{{user.get_absolute_url}}"><span><img  class="img-circle baseusericon" src='{{user.get_image_url}}'></span>{{user.username}}</a><span class="dropdown-toggle" data-toggle="dropdown"></span>  <ul class="dropdown-menu hidden-xs" id='userinfobutton-dropdown-menu' aria-labelledby="dLabel">
                <li><a href="{% url 'user_detailnotifications' user.id %}">消息<span class="badge inboxcount">{{ user.id|user_unread_count }}</span></a></li>
		<li><a href="{% url 'newtopic' %}">发布话题</a></li>
                <li><a href="{% url 'user_userdashboardarticletopic' user.id %}">我的话题</a></li>
                <li><a href="{% url 'user_detailcomments' user.id %}">我的评论</a></li>
                <li><a href="{% url 'user_detailtry' user.id %}">我的试用</a></li>
                <li><a href="{% url 'userlogout' %}">退出</a></li>
  </ul></li>



        {% else %}
            <li class="subcate"><a href="{% url 'loggin' %}">登录</a></li>
            <li class="subcate"><a href="{% url 'register' %}">注册<span class="sr-only">(current)</span></a></li>
        {% endif %} 
          </ul>
        </div><!--/.nav-collapse -->
      </div>



    </nav>


  {% block content %}
  {% endblock %}

  {% block footer %}


  <div class="footer" id="information">
<div class='information'>
          <p>
            <a href="{% url 'aboutus' %}" target="_blank">关于我们</a>
            <a href="{% url 'contactus' %}" target="_blank">联系我们</a>
             <a href="{% url 'joinus' %}" target="_blank">加入我们</a>
          </p>
        <p>
            <span>Copyright © 2016-2017 梧桐观点 - 北京星岸智能科技有限公司</span>
            <a href="http://www.miibeian.gov.cn/" target="_blank">京ICP备16001752号-2</a>
          </p>
</div>
    </div>
  {% endblock %}

</body></html>

