{% extends "base_1.html" %}
{% block HeadDoc %}
<link href="/static/css/company_detail.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class='container'>
<div class='background-img'>
	<div class="main-wrap">
		<div class="l-sidebar"><img src="{{company.get_image_url}}"></div>
		<div class="main">
			<div class="name-info">
				<span class="name ">{{ company.title }}</span>
				<span class="year">{{ company.timestamp|date:"Y" }}</span>
				<div class="brief">{{ company.associatetitle|safe }}</div>
				<div class="tags">
					<span class="i-tag">{{ company.industry }}</span>
					{% if financing_show %}
					<span class="i-tag">{{ company.financing }}</span>
					{% endif %}
				</div>
				<div class="links">
					<div class="address"><span class="glyphicon glyphicon-map-marker"></span> {{ company.location }} </div>
					<a href="{{company.weburl}}" target="_blank" class="website"><span class="glyphicon glyphicon-link"></span> {{company.weburl}}</a>
				</div>
			</div>
		</div>
	</div><!-- <div class="main-wrap"> -->
</div><!-- <div class='background-img'> -->

{% if firm_article %}
<div class="ff-container row">
		<h4 class="ff-title">现场采访稿</h4>
		<div class='firm-article'>
	{% for item in firm_article %}
	<div class='firm-article-list'>
	<a class="col-sm-8" href="{{item.get_absolute_url}}">
	{{item.title}}
	</a>
	<div class="reportime col-sm-4">{{item.timestamp}}</div>
	</div>
	{% endfor %}
	</div>
</div>
{% endif %}


<div class="ff-container row">
	<h4 class="ff-title">公司介绍</h4>


<div class="firm-product col-sm-4">
	<div class='ff-container-title'>
	<span class="glyphicon glyphicon-king" aria-hidden="true"></span>
		我们的产品
	</div>

	<div class='ff-container-content'>
		{{company.product|safe}}
	</div>
</div>

<div class="firm-client col-sm-4">
	<div class='ff-container-title'>
	<span class="glyphicon glyphicon-pawn" aria-hidden="true"></span>
		我们的用户
	</div>

	<div class='ff-container-content'>
		{{company.client|safe}}
	</div>
</div>


{% if company.sameproduct %}
<div class="col-sm-4">
	<div class='ff-container-title'>
	<span class="glyphicon glyphicon-knight" aria-hidden="true"></span>
		竞争对手
	</div>

	<div class='ff-container-content'>
		{{company.sameproduct|safe}}
	</div>
</div>
{% endif %}


<div class="clearfix"></div>
{% if company.pastfinancing %}
<div class="col-sm-4">
	<div class='ff-container-title'>
	<span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span>
		过往融资
	</div>

	<div class='ff-container-content'>
		{{company.pastfinancing|safe}}
	</div>
</div>
{% endif %}


{% if company.qita %}
<div class="col-sm-4">
	<div class='ff-container-title'>
	<span class="glyphicon glyphicon-bishop" aria-hidden="true"></span>
		其它
	</div>

	<div class='ff-container-content'>
		{{company.qita|safe}}
	</div>
</div>
{% endif %}

</div><!-- <div class="ff-container"> -->

<!-- <div class="ff-imgshow row">

<div class="firm-img col-sm-4">
	<div><img src="{{company.get_image1_url}}"></div>
</div>

<div class="firm-img col-sm-4">
	<div><img src="{{company.get_image2_url}}"></div>
</div>

<div class="firm-img col-sm-4">
	<div><img src="{{company.get_image3_url}}"></div>
</div>

</div> --><!-- <div class="ff-imgshow row"> -->

<div class="gallery cf row">
  <div class="col-sm-4">
    <img src="{{company.get_image1_url}}" />
  </div>
  <div class="col-sm-4">
    <img src="{{company.get_image2_url}}" />
  </div>
  <div class="col-sm-4">
    <img src="{{company.get_image3_url}}" />
  </div>
</div>



{% if company.team %}
<div class="ff-container">
		<h4 class="ff-title">创始团队</h4>
		<div class='team-introduce'>
	{{company.team|safe}}
	</div>
</div>
{% endif %}

<div class="ff-container">
		<h5 class="ff-title">管理员</h5>
		<div class='firm-admin'>
<img  class="img-circle " src='{{company.uper.get_image_url}}'>
          <div class="writer"><a href="{{company.uper.get_absolute_url}}">{{company.uper}}</a></div> 
	</div>
</div>




</div><!-- <div class='container'> -->
{% endblock %}

