{% block HeadDoc %}
<link href="/static/css/company_list.css" rel="stylesheet">
<script src="/static/js/topic_detail.js"></script>
{% endblock %}	

	{% for item in company %}
		<div class="table-content col-xs-12">
			<div class="table-col table-content-ad col-xs-4">
				<div class="firm-img">
					<a href="{{item.get_absolute_url}}">
					<img src="{{item.get_image_url}}">
					</a>
				</div>
				<div class="info">
					<div class="name">
						<a href="{{item.get_absolute_url}}">
						{{item.title}}
						</a>
					</div>
					<div class="des">{{item.associatetitle|safe}}</div>
				</div>
			</div>
			<div class="table-col-ad col-xs-2">
				<a href="{{item.uper.get_absolute_url}}">{{item.uper}}</a>
			</div>
			<div class="table-col-ad col-xs-2">{{item.industry}}</div>
			<div class="table-col-ad col-xs-2">{{item.location}}</div>
			<div class="table-col-ad col-xs-2">{{item.financing}}</div>
		</div>
		{% endfor %}
<!--  </div>  --><!-- <div class="group-list-block"> -->

<div class='paginationcontain'>
<div class="pagination">
    <span class="step-links">
{% if company.has_previous %}
        <a class='paginator paginator_first' title='上一页' id = '{{ company.previous_page_number}}' href='javascript:void(0);'><span>上一页</span></a>
 {% endif %}
 {% if ellipsis_front %}
<a class='paginator' href='?page=1' title='1'><span>1</span></a>
 <div class='paginator'><span>...</span></div>
 {% endif %}
 {% for page in pagerange %}
     {% if page = company.number %}
         <a class='paginator_current' title='当前页:{{ page }}'><span>{{ page }}</span></a>
     {% else %}
         <a class='paginator'  id = '{{ page }}' href='javascript:void(0);' title='{{ page }}'><span>{{ page }}</span></a>
     {% endif %}
 {% endfor %}

 {% if ellipsis_real %}
<div class='paginator'><span>...</span></div>
<a class='paginator' href='?page={{last_page}}' title='{{last_page}}'><span>{{last_page}}</span></a>
 {% endif %}
 {% if company.has_next %}
     <a class='paginator paginator_first' title='下一页' id = '{{ company.next_page_number }}' href='javascript:void(0);'><span>下一页</span></a>
 {% endif %}
    </span>
</div><!-- <div class="pagination"> -->
