{% load ckeditor_filter %}
{% load time_filter %}
{% block HeadDoc %}

<script>/*板块固定滚动,板块内width要定长*/
$.fn.smartFloat = function() { 
    var position = function(element) { 
        var top = element.position().top; //当前元素对象element距离浏览器上边缘的距离 
        var pos = element.css("position"); //当前元素距离页面document顶部的距离 
        $(window).scroll(function() { //侦听滚动时 
            var scrolls = $(this).scrollTop(); 
            if (scrolls > top) { //如果滚动到页面超出了当前元素element的相对页面顶部的高度 
                if (window.XMLHttpRequest) { //如果不是ie6 
                    element.css({ //设置css 
                        position: "fixed", //固定定位,即不再跟随滚动 
                        top: 0, //距离页面顶部为0 
                      
                    }).addClass("shadow"); //加上阴影样式.shadow 
                } else { //如果是ie6 
                    element.css({ 
                        top: scrolls  //与页面顶部距离 
                    });     
                } 
            }else { 
                element.css({ //如果当前元素element未滚动到浏览器上边缘，则使用默认样式 
                    position: pos, 
                    top: top 
                }).removeClass("shadow");//移除阴影样式.shadow 
            } 
        }); 
    }; 
    return $(this).each(function() { 
        position($(this));                          
    }); 
}; 
</script>

<script>
$(function(){ 
    $("#rightstableblock").smartFloat(); 
}); 
</script>

<script>/*去除&nbsp;*/
$(function(){ 
    $('.group-informatio-blank').each(function() {
      var $this = $(this);
      $this.html($this.html().replace(/&nbsp;/g, ''));
    })
}); 
</script>



<script>
$.fn.jiangpaisizeFunction = function() { 
  width = $(this).css('width');
  x = (parseFloat(width)*1)-76;
  return  $('.jifen-rank-name').css('width',x+'px');
}
</script>


<script>
$(function(){ 
  $('.jifen-rank-content-ul li').jiangpaisizeFunction();
}); 
</script>

<script>
$(window).resize(function(){
  $('.jifen-rank-content-ul li').jiangpaisizeFunction();
});
</script>


<script>
$.fn.imgsizeFunction = function() { 
  width = $(this).css('width');
  x = (parseFloat(width)*1)
  return  $(this).css('height',x+'px');
}
</script>

<script>
$.fn.imgsizebeijingFunction = function() { 
  width = $(this).css('width');
  x = (parseFloat(width)*0.267)
  return  $(this).css('height',x+'px');
}
</script>

<script>
$.fn.rightblocksizeFunction = function() { 
  width = $(this).css('width');
  windowidth = parseFloat($(window).width())
  if (windowidth > 768){
  }
  else {
    if ($(".presentationw3").html()){
    }
    else{
    $(".rightblock").prepend("<li class='presentationw3' role='presentation'><a href='{% url 'grouplist'%}''>话题组</a></li>")
    }
  }
}
</script>

<script>
$(function(){ 
  $('.rightblock').rightblocksizeFunction();
  $('.per-info-icon').imgsizeFunction();
  $('.img-circle-heng').imgsizeFunction();
}); 
</script>

<script>
$(window).resize(function(){
  $('.rightblock').rightblocksizeFunction();
  $('.per-info-icon').imgsizeFunction();
  $('.img-circle-heng').imgsizeFunction();
});
</script>


<script>/*回到页面顶端*/
$(function(){ 
  $('.barcomment1').click(function(){
  $('html,body').animate({scrollTop:$('.comment-form').offset().top}, 800);}); 
  $(window).scroll(function() {   
    if($(window).scrollTop() >= 100){
      $('.rtotopsctoll1').fadeIn(300); 
    }else{    
      $('.rtotopsctoll1').fadeOut(300);    
    }  
  });
  $('.rtotopsctoll1').click(function(){
  $('html,body').animate({scrollTop: '0px'}, 800);}); 
});
</script>



<script>
$.fn.imgsizeFunctionimg3 = function() { 
  width = $(this).css('width');
  x = (parseFloat(width)*0.636)
  return  $(this).css('height',x+'px');
}
</script>

<script>
$(function(){ 
  $('.img3-imagefst3').imgsizeFunctionimg3();
  $('.img3-imagescd3').imgsizeFunctionimg3();
  $('.img3-imagethd3').imgsizeFunctionimg3();
  $('.img1-imagefst1').imgsizeFunctionimg3();
  $('.img1-imagefst3').imgsizeFunctionimg3();
  $('.img1-imagescd3').imgsizeFunctionimg3();
  $('.img1-imagethd3').imgsizeFunctionimg3();
}); 
</script>

<script>
$(window).resize(function(){
  $('.img3-imagefst3').imgsizeFunctionimg3();
  $('.img3-imagescd3').imgsizeFunctionimg3();
  $('.img3-imagethd3').imgsizeFunctionimg3();
  $('.img1-imagefst1').imgsizeFunctionimg3();
  $('.img1-imagefst3').imgsizeFunctionimg3();
  $('.img1-imagescd3').imgsizeFunctionimg3();
  $('.img1-imagethd3').imgsizeFunctionimg3();
});
</script>
{% endblock %}


 {% block content %}
<div class='paginationcontain'>
<div class="pagination">
    <span class="step-links">
{% if topic.has_previous %}
        <a class='paginator paginator_first' title='上一页' href='?page={{ topic.previous_page_number }}'><span>« 上一页</span></a>
 {% else %}
         <a class='paginator-none' style="color: #999;"  title='上一页' href=''><span>« 上一页</span></a>
 {% endif %}

<div class='pagination-group-title'>全部</div>

 {% if topic.has_next %}
    <a class='paginator paginator_first' title='下一页' href='?page={{ topic.next_page_number }}'><span>下一页 »</span></a>
 {% endif %}
    </span>
</div><!-- <div class="pagination"> -->
 </div>



 <div class="group-list-block">


{% for item in topicstickied %}

 <div class="group-list col-lg-4 col-md-4 col-sm-6 col-xs-12">

<div class="group-list-content">
{% if item.image %}
<div class="group-list-content-img" data-image-url="{{item.get_image_url}}" style="background-image: url({{item.get_image_url}});"></div>
{% endif %}


  <div class="group-list-content-title">
   <a href="{{item.get_absolute_url}}" >
   {{item.title}}
   </a>
   </div>

<p class="group-list-content-smalltitle">{{item.content|delebq|wordtwoline|safe}}</p>

</div><!-- <div class="group-list-content"> -->

 <div class="group-information">

  <a href="{{item.writer.get_absolute_url}}">
 <img  class="commentusericon" src='{{item.writer.get_image_url}}'>
  </a>
 <span class='group-informatio-blank'>
 <a class="group-information-writer" href="{{item.writer.get_absolute_url}}">
{{item.writer}}
 </a>
 </span>

<i>·</i>

 <span class='group-informatio-blank'>

 {{item.timestamp|timesince|time_chinese_weeks|time_chinese_week|time_chinese_minus|time_chinese_minu|time_chinese_days|time_chinese_day|time_chinese_hours|time_chinese_hour|timeblank|comma|time_chinese_months|time_chinese_month|time_blank_n}}前

</span>
<i>·</i>

<span class='topic-reply'>
<span class="glyphicon glyphicon-comment" aria-hidden="true" style="font-size:12px;"></span> <span>{{item.id|Topic_comment}}</span> 
</span>  
<i>·</i>
<span class='zhiding'>置</span>
</div><!-- <div class="group-information"> -->

<div style="clear:both;"></div> 
</div> <!-- <div class="group-list"> -->
 {% endfor %}





 {% for item in topic %}
 <div class="group-list col-lg-4 col-md-4 col-sm-6 col-xs-12">

<div class="group-list-content">

{% if item.image %}
  {% if item.ifvideo %}
  <span class="vedio-sign"><span class="glyphicon glyphicon-play" aria-hidden="true" ></span> {{item.videotime}}</span>
  {% endif %}
<div class="group-list-content-img" data-image-url="{{item.get_image_url}}" style="background-image: url({{item.get_image_url}});"></div>
{% elif item.imagesugg %}
  {% if item.ifvideo %}
  <span class="vedio-sign"><span class="glyphicon glyphicon-play" aria-hidden="true" ></span> {{item.videotime}}</span>
  {% endif %}
<div class="group-list-content-img" data-image-url="{{item.get_imagesugg_url}}" style="background-image: url({{item.get_imagesugg_url}});"></div>
{% elif item.imagefst3 %}
<div class="group-list-content-img" data-image-url="{{item.get_imagefst3_url}}" style="background-image: url({{item.get_imagefst3_url}});"></div>
{% else %}
<div class="group-list-content-img" data-image-url="{{item.content|getimg}}" style="background-image: url({{item.content|getimg}});"></div>
{% endif %}

{% if item.ifvideo %}
<span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
{% endif %}

  <div class="group-list-content-title">
   <a href="{{item.get_absolute_url}}" >
   {{item.title}}
   </a>
   </div>

<p class="group-list-content-smalltitle">{{item.content|delebq|wordtwoline|safe}}</p>

</div><!-- <div class="group-list-content"> -->

 <div class="group-information">

  <a href="{{item.writer.get_absolute_url}}">
 <img  class="commentusericon" src='{{item.writer.get_image_url}}'>
  </a>
 <span class='group-informatio-blank'>
 <a class="group-information-writer" href="{{item.writer.get_absolute_url}}">
{{item.writer}}
 </a>
 </span>

<i>·</i>

 <span class='group-informatio-blank'>

 {{item.timestamp|timesince|time_chinese_weeks|time_chinese_week|time_chinese_minus|time_chinese_minu|time_chinese_days|time_chinese_day|time_chinese_hours|time_chinese_hour|timeblank|comma|time_chinese_months|time_chinese_month|time_blank_n}}前

</span>
<i>·</i>

<span class='topic-reply'>
<span class="glyphicon glyphicon-comment" aria-hidden="true" style="font-size:12px;"></span> <span>{{item.id|Topic_comment}}</span> 
</span>  
<i>·</i>
<span><a href="{{item.group.get_absolute_url}}">{{item.group.title}}</a></span>

 {% if item.score %}
 <i>·</i>
<i class="score-topic"></i>
{% endif %}

</div><!-- <div class="group-information"> -->


<div style="clear:both;"></div> 
</div> <!-- <div class="group-list"> -->

 {% endfor %}
<div style="clear:both;"></div>

 </div> <!-- <div class="group-list-block"> -->

<div class='paginationcontain'>
<div class="pagination">
    <span class="step-links">
{% if topic.has_previous %}
        <a class='paginator paginator_first' title='上一页' href='?page={{ topic.previous_page_number }}'><span>« 上一页</span></a>
 {% else %}
         <a class='paginator-none' style="color: #999;" title='上一页' href=''><span>« 上一页</span></a>
 {% endif %}

<div class='pagination-group-title'>全部</div>

 {% if topic.has_next %}
    <a class='paginator paginator_first' title='下一页' href='?page={{ topic.next_page_number }}'><span>下一页 »</span></a>
 {% endif %}
    </span>
</div><!-- <div class="pagination"> -->
 </div>


 {% endblock %}

