{% extends "base_1.html" %}
{% load ckeditor_filter %}
{% load time_filter %}
{% block HeadDoc %}
<link href="/static/css/grouplist.css" rel="stylesheet">
<script src="/static/js/topic_detail.js"></script>
<link rel="stylesheet" href="/static/css/loaders.min.css">

{% endblock %}


 {% block content %}


<div class="container  group_detail_container">
 <div class="group-list-block">

<div class="menu">
  <ul class=" rightblock">
      <li class="presentationw3" role="presentation"><a href="{% url 'grouplist'%}">话题组</a></li>

      <li class="presentationw1" role="presentation"><a href="{% url 'group_all'%}">全部 ({{topicount}})</a></li>
      <li class="presentationw2" role="presentation"><a href="{% url 'groupall_score' %}"><i class="score-topic-score"></i>精华</a></li>

    </ul>
       </div>

<div class="cate-list-block ">

  <div class="cate-spec">
  <a class="cate-link" href="/group/all/">
  <span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>
    <div class="cate-spec-name">全部</div>
  </a>
  </div>


  <div class="cate-spec" style = "border-left: 1px solid #f0f0f0;border-right: 1px solid #f0f0f0;">

  <a class="cate-link" href="/group/12/"  >

  <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
    <div class="cate-spec-name">闲聊</div>
  </a>
  </div>

  <div class="cate-spec">

  <a class="cate-link" href="/group/13/">

  <span class="glyphicon glyphicon-headphones" aria-hidden="true"></span>
    <div class="cate-spec-name">穿戴</div>
  </a>
  </div>

  <div class="cate-spec" style = "border-top: 1px solid #f0f0f0;">

  <a class="cate-link" href="/group/14/" >

  <span class="glyphicon glyphicon-lamp" aria-hidden="true"></span>
    <div class="cate-spec-name">家居</div>
  </a>
  </div>

  <div class="cate-spec" style = "border-top: 1px solid #f0f0f0;border-left: 1px solid #f0f0f0;border-right: 1px solid #f0f0f0;">

  <a class="cate-link" href="/group/15/" >

  <span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span>
    <div class="cate-spec-name">平板</div>
  </a>
  </div>

  <div class="cate-spec" style = "border-top: 1px solid #f0f0f0;">

  <a class="cate-link" href="/group/16/">

  <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
    <div class="cate-spec-name">手机</div>
  </a>
  </div>

  <div class="cate-spec" style = "border-top: 1px solid #f0f0f0;">

  <a class="cate-link" href="/group/17/">

  <span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span>
    <div class="cate-spec-name">外设</div>
  </a>
  </div>

  <div class="cate-spec" style = "border-top: 1px solid #f0f0f0;border-left: 1px solid #f0f0f0;">

  <a class="cate-link" href="/group/18/">

  <span class="glyphicon glyphicon-film" aria-hidden="true"></span>
    <div class="cate-spec-name">影音</div>
  </a>
  </div>

  <div class="cate-spec" style = "border-top: 1px solid #f0f0f0;border-left: 1px solid #f0f0f0; ">

  <a class="cate-link" href="/group/19/">

  <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
    <div class="cate-spec-name">灌水</div>
  </a>
  </div>

  <div class="cate-spec" style = "border-top: 1px solid #f0f0f0; border-bottom: 1px solid #f0f0f0;">

  <a class="cate-link" href="/group/20/">

  <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
    <div class="cate-spec-name">其他</div>
  </a>
  </div>

  <div class="cate-spec" style = "border-top: 1px solid #f0f0f0;border-bottom: 1px solid #f0f0f0;border-left: 1px solid #f0f0f0;">

  <a class="cate-link" href="/group/21/">

  <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
    <div class="cate-spec-name">摄影</div>
  </a>
  </div>

  <div class="cate-spec" style = "border-top: 1px solid #f0f0f0;border-left: 1px solid #f0f0f0;border-bottom: 1px solid #f0f0f0;">

  <a class="cate-link" href="/group/22/">

  <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
    <div class="cate-spec-name">活动</div>
  </a>
  </div>

  <div style="clear:both;"></div> 
</div>


</div>


</div><!-- class="container" -->
 {% endblock %}
 


