{% load time_filter %}
{% block HeadDoc %}
<link href="/static/css/home.css" rel="stylesheet">
<!-- <script src="/static/js/home.js"></script> -->
<script src="/static/js/topic_detail.js"></script>
<script src="/static/js/hammer.js/hammer.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/smallscreenhome.css"  media="screen and (max-width: 768px)">
<link href="/static/css/slideshow.css" rel="stylesheet" />
<script src="/static/js/slideshow.js" type="text/javascript"></script>


<script type="text/javascript">
$(function() {
var hammertime = new Hammer(document.getElementById("carousel-example-generic"));
 hammertime.on("swipeleft", function (e){
$('#carousel-example-generic').carousel('prev');
 });
  hammertime.on("swiperight", function (e){
$('#carousel-example-generic').carousel('next');
 });
 });
</script>


<script>/*加载更多*/
$(function() {
  var cur_page_num = 1;
 $("body").on("click", '#morecomment-btn-block', function(){
    var $elements = $('.newsblock');
    var homearticlelen = $elements.length;
    $.ajaxSetup({
    data: {csrfmiddlewaretoken: '{{ csrf_token }}', 
           homearticlelen: homearticlelen,
          },
          });

    $.ajax({
        url: "{% url 'morearticlehome' %}",
        type: "post",
        success: function(data) {
        cur_page_num=cur_page_num+1;         
        /*alert(cur_page_num);  */         
        var newnode=document.createElement("div");             
        newnode.setAttribute("class", "container-fluid grid");            
        newnode.setAttribute("id","new"+String(cur_page_num));           
        document.getElementById("morecomment").appendChild(newnode); 
        $('#new'+String(cur_page_num)).load('{% url 'articlepagehome' %}');
        $('#morecomment-btn-block').html(data.loadcompleted) 
          },
          error: function(data) { 
              alert("Got an error dude");
          }
    });
  })
})
</script>

<script>/*去除&nbsp;*/
$(function(){ 
    $('.posttime').each(function() {
      var $this = $(this);
      $this.html($this.html().replace(/&nbsp;/g, ''));
    })
}); 
</script>

<script>
$(function(){ 
$('.carousel').carousel({
  interval: 2300
})
}); 
</script>



<script>
$.fn.imgsizeFunction = function() { 
  width = $(this).css('width');
  x = (parseFloat(width)*0.636)
  return  $(this).css('height',x+'px');
}
</script>

<script>
$(function(){ 
/*  $('.item, .item  a img').imgsizeFunction();*/
$('.hotnewsblock table img').imgsizeFunction();
  $('.img3-imagefst3').imgsizeFunction();
  $('.img3-imagescd3').imgsizeFunction();
  $('.img3-imagethd3').imgsizeFunction();
  $('.img1-imagefst1').imgsizeFunction();
  $('.img1-imagefst3').imgsizeFunction();
  $('.img1-imagescd3').imgsizeFunction();
  $('.img1-imagethd3').imgsizeFunction();
}); 
</script>

<script>
$(window).resize(function(){
/*  $('.item, .item  a img').imgsizeFunction();*/
$('.hotnewsblock table img').imgsizeFunction();
  $('.img3-imagefst3').imgsizeFunction();
  $('.img3-imagescd3').imgsizeFunction();
  $('.img3-imagethd3').imgsizeFunction();
  $('.img1-imagefst1').imgsizeFunction();
  $('.img1-imagefst3').imgsizeFunction();
  $('.img1-imagescd3').imgsizeFunction();
  $('.img1-imagethd3').imgsizeFunction();
});
</script>

<script>
$.fn.imgsizeFunctionitem = function() { 
  width = $(this).css('width');
  x = (parseFloat(width)*0.56)
  return  $(this).css('height',x+'px');
}
</script>

<script>
$(function(){ 
$('.item-img, .item-img  a img').imgsizeFunctionitem();
}); 
</script>

<script>
$(window).resize(function(){
$('.item-img, .item-img  a img').imgsizeFunctionitem();
});
</script>


<script>/*试用推荐向左向右*/
$(function(){ 
  $('.glyphicon-chevron-right-hotryshow').click(function(){
  $('#carousel-example-generic-hotryshow').carousel('next')
});
  $('.glyphicon-chevron-left-hotryshow').click(function(){
  $('#carousel-example-generic-hotryshow').carousel('prev')
});
});
</script>

<script>
$.fn.imgsizeFunctionhotryshow = function() { 
  width = $(this).css('width');
  x = (parseFloat(width)*1)
  return  $(this).css('height',x+'px');
}
</script>

<script>
$(window).resize(function(){
  $('#carousel-example-generic-hotryshow, #carousel-example-generic-hotryshow .item, #carousel-example-generic-hotryshow .item img, #carousel-example-generic-hotryshow .carousel-inner').imgsizeFunctionhotryshow();
});
</script>

<script>
$(function(){ 
  $('#carousel-example-generic-hotryshow, #carousel-example-generic-hotryshow .item, #carousel-example-generic-hotryshow .item img, #carousel-example-generic-hotryshow .carousel-inner').imgsizeFunctionhotryshow();
}); 
</script>
{% endblock %}

 {% block content %}


{% for item in queryset %}
{% if item.topic and  item.score = False %}
    <div class="col-xs-11 newsblock" id="{{item.id}}">
    <div class="rightwordblock">

    <div class="usericon-line">
    <span><img  class="img-circle usericon" src='{{item.topic.writer.get_image_url}}'></span>
    <span class="writer"><a href="{{item.topic.writer.get_absolute_url}}">{{item.topic.writer}}</a></span>
    <span class="nomline">发布了话题:</span>
    <span class="hidden-xs"><a href="{{item.topic.get_absolute_url}}">{{item.topic.title}}</a></span>


    <span class="posttime pull-right hidden-xs">{{item.timestamp|timesince|time_chinese_weeks|time_chinese_week|time_chinese_minus|time_chinese_minu|time_chinese_days|time_chinese_day|time_chinese_hours|time_chinese_hour|timeblank|comma|time_chinese_months|time_chinese_month }}前</span>
    </div>

   <!--  <h3><a href="{{item.topic.get_absolute_url}}">{{item.topic.title}}</a></h3> -->

    <div class="topic-title visible-xs-block"><a href="{{item.topic.get_absolute_url}}">{{item.topic.title}}</a></div>

    <div class="posttime-vis visible-xs-block">{{item.timestamp|timesince|time_chinese_weeks|time_chinese_week|time_chinese_minus|time_chinese_minu|time_chinese_days|time_chinese_day|time_chinese_hours|time_chinese_hour|timeblank|comma|time_chinese_months|time_chinese_month }}前</div>
</div> 
</div> <!-- newsblock -->

{% elif item.topic and  item.score = True %}
    <div class="col-xs-11 newsblock" id="{{item.id}}">
    <div class="rightwordblock">

    <div class="usericon-line">
    <span><img  class="img-circle usericon" src='{{item.topic.writer.get_image_url}}'></span>
    <span class="writer"><a href="{{item.topic.writer.get_absolute_url}}">{{item.topic.writer}}</a></span>
    <span class="nomline">的话题</span>
    <span class="hidden-xs"><a href="{{item.topic.get_absolute_url}}">{{item.topic.title}}</a></span>
    <span class="nomline">被加了金币</span><i class="score-topic"></i>

    <span class="posttime pull-right hidden-xs">{{item.timestamp|timesince|time_chinese_weeks|time_chinese_week|time_chinese_minus|time_chinese_minu|time_chinese_days|time_chinese_day|time_chinese_hours|time_chinese_hour|timeblank|comma|time_chinese_months|time_chinese_month }}前</span>
    </div>

    <div class="topic-title visible-xs-block"><a href="{{item.topic.get_absolute_url}}">{{item.topic.title}}</a></div>

    <div class="posttime-vis visible-xs-block">{{item.timestamp|timesince|time_chinese_weeks|time_chinese_week|time_chinese_minus|time_chinese_minu|time_chinese_days|time_chinese_day|time_chinese_hours|time_chinese_hour|timeblank|comma|time_chinese_months|time_chinese_month }}前</div>

{% if item.topic.img1 %}
<div class='img3 visible-xs-block'>
<img  class="img1-imagefst1" src='{{item.topic.get_imagefst3_url}}'>
</div>

<div class='img3 hidden-xs'>
<img  class="img1-imagefst3" src='{{item.topic.get_imagefst3_url}}'>
<img  class="img1-imagescd3" src='{{item.topic.get_imagescd3_url}}'>
<img  class="img1-imagethd3" src='{{item.topic.get_imagethd3_url}}'>
</div>
<div style="clear:both;"></div> 
{% elif item.topic.img3 %}


<div class='img3'>
<img  class="img3-imagefst3" src='{{item.topic.get_imagefst3_url}}'>
<img  class="img3-imagescd3" src='{{item.topic.get_imagescd3_url}}'>
<img  class="img3-imagethd3" src='{{item.topic.get_imagethd3_url}}'>
</div>
<div style="clear:both;"></div> 
{% endif %}

</div> 
</div> <!-- newsblock -->

{% elif item.payscore %}
    <div class="col-xs-11 newsblock" id="{{item.id}}">
    <div class="rightwordblock">

    <div class="usericon-line">
    <span><img  class="img-circle usericon" src='{{item.payscore.user.get_image_url}}'></span>
    <span class="writer"><a href="{{item.payscore.user.get_absolute_url}}">{{item.payscore.user}}</a></span>
    <span class="nomline">参与了</span>
    <span class="hidden-xs"><a href="{{item.payscore.products.get_absolute_url}}">{{item.payscore.products.title}}</a></span>
    <span class="nomline">积分拍 出价</span>
    <span><a href="{{item.payscore.products.get_payscore_url}}">{{item.payscore.payscore}}</a></span>
    <span class="nomline">积分</span>
    <i class="score-topic"></i>

    <span class="posttime pull-right hidden-xs">{{item.timestamp|timesince|time_chinese_weeks|time_chinese_week|time_chinese_minus|time_chinese_minu|time_chinese_days|time_chinese_day|time_chinese_hours|time_chinese_hour|timeblank|comma|time_chinese_months|time_chinese_month }}前</span>
    </div>

   <!--  <h3><a href="{{item.topic.get_absolute_url}}">{{item.topic.title}}</a></h3> -->

    <div class="topic-title visible-xs-block"><a href="{{item.payscore.products.get_absolute_url}}">{{item.payscore.products.title}}</a></div>
    <div class="posttime-vis visible-xs-block">{{item.timestamp|timesince|time_chinese_weeks|time_chinese_week|time_chinese_minus|time_chinese_minu|time_chinese_days|time_chinese_day|time_chinese_hours|time_chinese_hour|timeblank|comma|time_chinese_months|time_chinese_month }}前</div>

    <div class='img3'>
    <img  class="img3-imagefst3" src='{{item.payscore.products.get_image_url}}'>
    </div>
    <div style="clear:both;"></div> 

</div> 
</div> <!-- newsblock -->


{% elif item.comment.topic %}
    <div class="col-xs-11 newsblock" id="{{item.id}}">
    <div class="rightwordblock">

    <div class="usericon-line">
    <span><img  class="img-circle usericon" src='{{item.comment.user.get_image_url}}'></span>
    <span class="writer"><a href="{{item.comment.user.get_absolute_url}}">{{item.comment.user}}</a></span>
    <span class="nomline">评论了话题</span>
    <span class="hidden-xs"><a href="{{item.comment.topic.get_absolute_url}}">{{item.comment.topic.title}}</a></span>
    

    <span class="posttime pull-right hidden-xs">{{item.timestamp|timesince|time_chinese_weeks|time_chinese_week|time_chinese_minus|time_chinese_minu|time_chinese_days|time_chinese_day|time_chinese_hours|time_chinese_hour|timeblank|comma|time_chinese_months|time_chinese_month }}前</span>
    </div>

    <div class="topic-title visible-xs-block"><a href="{{item.comment.topic.get_absolute_url}}">{{item.comment.topic.title}}</a></div>

    <i class="icon_hotcomentjiao" style="margin-left: 27px;"></i>
    <div class='comment-block'   onmouseover="this.style.cursor='pointer'" onclick="document.location='{{item.comment.get_absolute_url}}'">{{item.comment.text|AtWhoUser|safe}}</div>

    <div class="posttime-vis visible-xs-block">{{item.timestamp|timesince|time_chinese_weeks|time_chinese_week|time_chinese_minus|time_chinese_minu|time_chinese_days|time_chinese_day|time_chinese_hours|time_chinese_hour|timeblank|comma|time_chinese_months|time_chinese_month }}前</div>
</div> 
</div> <!-- newsblock -->

{% elif item.comment.products %}
    <div class="col-xs-11 newsblock" id="{{item.id}}">
    <div class="rightwordblock">

    <div class="usericon-line">
    <span><img  class="img-circle usericon" src='{{item.comment.user.get_image_url}}'></span>
    <span class="writer"><a href="{{item.comment.user.get_absolute_url}}">{{item.comment.user}}</a></span>
    <span class="nomline">评论了试用产品</span>
    <span class="hidden-xs"><a href="{{item.comment.products.get_absolute_url}}">{{item.comment.products.title}}</a></span>
    

    <span class="posttime pull-right hidden-xs">{{item.timestamp|timesince|time_chinese_weeks|time_chinese_week|time_chinese_minus|time_chinese_minu|time_chinese_days|time_chinese_day|time_chinese_hours|time_chinese_hour|timeblank|comma|time_chinese_months|time_chinese_month }}前</span>
    </div>

    <div class="topic-title visible-xs-block"><a href="{{item.comment.products.get_absolute_url}}">{{item.comment.products.title}}</a></div>

    <i class="icon_hotcomentjiao" style="margin-left: 27px;"></i>
    <div class='comment-block'>{{item.comment.text|AtWhoUser|safe}}</div>

    <div class="posttime-vis visible-xs-block">{{item.timestamp|timesince|time_chinese_weeks|time_chinese_week|time_chinese_minus|time_chinese_minu|time_chinese_days|time_chinese_day|time_chinese_hours|time_chinese_hour|timeblank|comma|time_chinese_months|time_chinese_month }}前</div>
</div> 
</div> <!-- newsblock -->




{% elif item.products %}
    <div class="col-xs-11 newsblock" id="{{item.id}}">
    <div class="rightwordblock">

    <div class="usericon-line">
    <span class="nomline" style="color:#5fb760">新一期试用</span>
    <span class="hidden-xs"><a href="{{item.products.get_absolute_url}}">{{item.products.title}}</a></span>
    <span class="nomline">已上线</span>
    <span class="posttime pull-right hidden-xs">{{item.timestamp|timesince|time_chinese_weeks|time_chinese_week|time_chinese_minus|time_chinese_minu|time_chinese_days|time_chinese_day|time_chinese_hours|time_chinese_hour|timeblank|comma|time_chinese_months|time_chinese_month }}前</span>
    </div>

   <!--  <h3><a href="{{item.topic.get_absolute_url}}">{{item.topic.title}}</a></h3> -->

    <div class="topic-title visible-xs-block"><a href="{{item.products.get_absolute_url}}">{{item.products.title}}</a></div>
    <div class="posttime-vis visible-xs-block">{{item.timestamp|timesince|time_chinese_weeks|time_chinese_week|time_chinese_minus|time_chinese_minu|time_chinese_days|time_chinese_day|time_chinese_hours|time_chinese_hour|timeblank|comma|time_chinese_months|time_chinese_month }}前</div>

    <div class='img3'>
    <img  class="img3-imagefst3" src='{{item.products.get_image_url}}'>
    </div>
    <div style="clear:both;"></div> 

</div> 
</div> <!-- newsblock -->
{% endif %}

{% endfor %}


<div id="morecomment">
</div>

 <button  id="morecomment-btn-block" type="button" class='btn btn-lg btn-default btn-block' >加载更多</button> 

 {% endblock %}
 
