{% extends "base_2.html" %}
{% load time_filter %}
{% block HeadDoc %}
<link href="/static/css/home.css" rel="stylesheet">
<!-- <script src="/static/js/home.js"></script> -->
<script src="/static/js/topic_detail.js"></script>
<script src="/static/js/hammer.js/hammer.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/smallscreenhome.css"  media="screen and (max-width: 768px)">
<link href="/static/css/slideshow.css" rel="stylesheet" />
<script src="/static/js/slideshow.js" type="text/javascript"></script>

<script type="text/javascript">
$(function() {
var hammertime = new Hammer(document.getElementById("carousel-example-generic"));
 hammertime.on("swipeleft", function (e){
$('#carousel-example-generic').carousel('prev');
 });
  hammertime.on("swiperight", function (e){
$('#carousel-example-generic').carousel('next');
 });
 });
</script>



<script>/*去除&nbsp;*/
$(function(){ 
    $('.posttime').each(function() {
      var $this = $(this);
      $this.html($this.html().replace(/&nbsp;/g, ''));
    })
}); 
</script>

<script>
$(function(){ 
$('.carousel').carousel({
  interval: 2300
})
}); 
</script>



<script>
$.fn.imgsizeFunction = function() { 
  width = $(this).css('width');
  x = (parseFloat(width)*0.636)
  return  $(this).css('height',x+'px');
}
</script>


<script>
$.fn.imgsizeFunctionitem = function() { 
  width = $(this).css('width');
  x = (parseFloat(width)*0.43)
  return  $(this).css('height',x+'px');
}
</script>

<script>
$.fn.imgsizeFunctionitemtopline = function() { 
  width = $(this).css('width');
  x = (parseFloat(width)*0.43)
  return  $(this).css('height',x+'px');
}
</script>

<script>
$.fn.jiangpaisizeFunction = function() { 
  width = $(this).css('width');
  x = (parseFloat(width)*1)-80;
  return  $('.jifen-rank-name').css('width',x+'px');
}
</script>

<script>
$(function(){ 
  $('.jifen-rank-content-ul li').jiangpaisizeFunction();
$('.item-img, .item-img  a img').imgsizeFunctionitemtopline();
  $('.left-cover-img').imgsizeFunctionitem();
 $('.comiis_wrapad .slideshow li').imgsizeFunctionitem();
}); 
</script>

<script>
$(window).resize(function(){
  $('.jifen-rank-content-ul li').jiangpaisizeFunction();
$('.item-img, .item-img  a img').imgsizeFunctionitemtopline();
  $('.left-cover-img').imgsizeFunctionitem();
  $('.comiis_wrapad .slideshow li').imgsizeFunctionitem();
});
</script>


<script>/*试用推荐向左向右*/
$(function(){ 
  $('.glyphicon-chevron-right-hotryshow').click(function(){
  $('#carousel-example-generic-hotryshow').carousel('next')
});
  $('.glyphicon-chevron-left-hotryshow').click(function(){
  $('#carousel-example-generic-hotryshow').carousel('prev')
});
});
</script>

<script>
$.fn.imgsizeFunctionhotryshow = function() { 
  width = $(this).css('width');
  x = (parseFloat(width)*0.636)
  return  $(this).css('height',x+'px');
}
</script>

<script>
$(window).resize(function(){
  $('#carousel-example-generic-hotryshow, #carousel-example-generic-hotryshow .item, #carousel-example-generic-hotryshow .item img, #carousel-example-generic-hotryshow .carousel-inner').imgsizeFunctionhotryshow();
});
</script>

<script>
$(function(){ 
  $('#carousel-example-generic-hotryshow, #carousel-example-generic-hotryshow .item, #carousel-example-generic-hotryshow .item img, #carousel-example-generic-hotryshow .carousel-inner').imgsizeFunctionhotryshow();
}); 
</script>


<script type="text/javascript">
window.onload=function(){ 
    $('#homepage').load('{% url 'homepage' %}');
 }; 
</script>



<script>/*回到页面顶端*/
$(function(){ 
  $('.barcomment').click(function(){
  $('html,body').animate({scrollTop:$('.comment-form').offset().top}, 800);}); 
  $(window).scroll(function() {   
    if($(window).scrollTop() >= 100){
      $('.rtotopsctoll').fadeIn(300); 
    }else{    
      $('.rtotopsctoll').fadeOut(300);    
    }  
  });
  $('.rtotopsctoll').click(function(){
  $('html,body').animate({scrollTop: '0px'}, 800);}); 

});
</script>

<script>/*daka*/
$(function() {
 $("body").on("click", '.daka', function(){

    $.ajaxSetup({
    data: {csrfmiddlewaretoken: '{{ csrf_token }}', 
          userid: {{user.id}},
          },
          });
    $.ajax({
        url: "{% url 'daka' %}",
        type: "post",
        success: function(data) {
          if (data.mess == "succ"){
              $.messager.popup("打卡成功!");
              $(".modal.msg-popup .modal-body").css({
                  'color': '#449d44',
                  "background-color":"#CCF4D9",
                  });}
          else if (data.mess == "err"){
                $.messager.popup("重复打卡！");
                $(".modal.msg-popup .modal-body").css({
                    'color': '#a94442',
                    "background-color":"#f2dede",
                    });}
          },
          error: function(data) { 
            /*alert('Error')*/
          }
    });
  })
})
</script>


<script>/*daka*/
$(function() {
 $("body").on("click", '.daka1', function(){
    $.ajaxSetup({
    data: {csrfmiddlewaretoken: '{{ csrf_token }}', 
          userid: {{user.id}},
          },
          });
    $.ajax({
        url: "{% url 'daka' %}",
        type: "post",
        success: function(data) {
          if (data.mess == "succ"){
              $.messager.popup(data.dakatime+" 打卡成功!"+"<br/>"+"这是您的第"+data.userdate+"天打卡");
              $(".modal.msg-popup .modal-body").css({
                  'color': '#449d44',
                  "background-color":"#CCF4D9",
                  });}
          else if (data.mess == "err"){
                $.messager.popup(" 重复打卡！");
                $(".modal.msg-popup .modal-body").css({
                    'color': '#a94442',
                    "background-color":"#f2dede",
                    });}
          },
          error: function(data) { 
            /*alert('Error')*/
          }
    });
  })
})
</script>
{% endblock %}

 {% block content %}
<ul id="rightsidebar">
<li class="rtotopsctoll">
 <a href="javascript:void(0)"><em></em></a> 
</li>

<li class='barcomment1 visible-xs-block'>
  <a href="{% url 'mobilenew' %}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
</li>

<li class="daka visible-xs-block">
  <a href="javascript:void(0)">打卡</a> 
</li>
</ul>
          <div id="carousel-example-generic" class="carousel slide carousel-fade visible-xs-block" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                  <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                  {% for item in coverarticle %}
                  {% if forloop.first %}
                 <div class="item active item-img">
                    {% else %}
                    <div class="item item-img">
                    {% endif %}
                    <a href="{{item.get_absolute_url}}"><img src="{{item.get_image_url}}">
                      <div class="carousel-caption">
                        <h3></h3>
                        <div class="carousel-caption-title">{{item.title}}</div>
                    </a>
                    </div>
                    </div>
                    {% endfor %}

                </div>
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true" style="margin-left: 0px;"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next"> 
                  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="margin-right: 0px;"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div><!-- id="carousel-example-generic" class="carousel slide" data-ride="carousel" -->




    <div class="container home-container">

      <div class="row">
        <div class="col-sm-3  hidden-xs">
          <div class='hotnewsblock'>
                   <div class='head'>          <span class='shu-mark'>|</span>热门话题</div>

              <table class="table table-hover hotnews">
                <tbody>
          {% for item in topicquery1 %}
                  <tr>
                    {% if forloop.counter > 2 %}
                    <td>
                      <a href="{{item.get_absolute_url}}">{{item.title}}</a>
                    </td>
                    {% else %}
                    <td>
                       <a href="{{item.get_absolute_url}}" style="display:block;"><img src="{{item.get_image_url}}" >
                        <div class="t-h2-hottry">
                      {{item.title}}
                      </div>
                       </a>

                    </td>
                    {% endif %}
                  </tr>
          {% endfor %}
                </tbody>
              </table>
              <table class="table table-hover hotnews2">
                <tbody>
          {% for item in topicquery2 %}
                  <tr>
          <th scope="row">
                      <div  class='hotnewsblock123'></div>
                    </th>
                    <td>
                       <a href="{{item.get_absolute_url}}" style="display:block;">
                      {{item.title}}
                       </a>
                    </td>
                  </tr>
          {% endfor %}
                </tbody>
              </table>
            </div><!-- class='headblock' -->
          </div>


        <div class="col-sm-6  leftcontainer">
<!--         <div class="row"> -->



    <div class="col-xs-12 newsblock-title hidden-xs">
      <div class="col-xs-12 left-cover-img">
   <div class="comiis_wrapad" id="slideContainer">
        <div id="frameHlicAe" class="frame cl">
            <div class="temp"></div>
            <div class="block">
                <div class="cl">
                    <ul class="slideshow" id="slidesImgs">

                      {% for item in coverarticle %}
                        <li><a href="{{item.get_absolute_url}}" target="_blank">
                            <img src="{{item.get_image_url}}" width="100%"  alt="" /></a>

                            <span class="title">
                              <div class="remenshenqing">{{item.group.title}}</div>
                              <div class="slideshow-title-line">{{item.title}}</div></span></li>
                      {% endfor %}
                    </ul>
                </div>
                <div class="slidebar" id="slideBar">
                    <ul>
                        <li class="on">1</li>
                        <li>2</li>
                        <li>3</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        SlideShow(3000);
    </script>
      </div>

    </div><!-- <div class="col-xs-12 newsblock"> -->


<div id="homepage">
 <img src="/static/media/images/usericon/wutongloading.gif"  style= "margin:30px 48% 30px" alt="" />
</div>


        </div><!-- class="col-sm-8 leftcontainer" -->
      <!-- </div> --><!-- <div class="row">  -->  


       <div class="col-sm-3  hidden-xs">
          <div  style="">
<!--          <h3 class="bg-primary">争议话题</h3>
          <div style="position:relative; margin-bottom:30px;">

          <a class = 'disputetopic' href="{{covertopic.get_absolute_url}}">
            <img src="{{covertopic.get_image_url}}">
          <div class="rightblock"> 
           <div class="t-h1">{{covertopic.title}}</div>
          
          </div>
          </a>

          </div>
 -->



<div class='hotryshow'>
<a href="{% url 'productsall' %}"><div class="hotryshow-more">更多试用</div></a>

<div id="carousel-example-generic-hotryshow" class="carousel slide" data-ride="carousel">

  <div class="carousel-inner" role="listbox">
                  {% for item in hotry %}
                  {% if forloop.first %}
                 <div class="item active">
                    {% else %}
                    <div class="item">
                    {% endif %}
                    <a href="{{item.get_absolute_url}}" data-toggle="tooltip" data-placement="top" title="{{item.title}}" ><img src="{{item.get_image_url}}">
                      <div class="carousel-caption">
                    </div>
                    </a>
                    </div>
                    {% endfor %}
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left glyphicon-chevron-left-hotryshow" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right glyphicon-chevron-right-hotryshow" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>

<script type="text/javascript">
  $('#carousel-example-generic-hotryshow').carousel({
  interval: 200000
})
</script>




    <div class="dakabtn" style = "margin-bottom:20px;">
    <a  href="javascript:void(0)" class='btn btn-success btn-block daka1' ><span  class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> 每日打卡
</a>
    </div>





<div id='cepingcount-block'>
   <div class="jifen-rank-title-block">
  <div class="jifenrank-line"></div>

 <div class="jifen-rank-title"><div class="jifenpaihangking"></div>积分排行</div>

<div class="jifenrank-line"></div>
<div style="clear:both;"></div>
<a href="{% url 'topic_detail' 826 %}"><div class="jifen-rank-title-asso">积分有什么用？</div></a>
</div>
<div class="jifen-rank-content">
  <ul class="jifen-rank-content-ul">
    {% for item in scorerank %}
    <li>
<!--       <div class="rankjiangpai"><div class="rankjiangpaicount">{{forloop.counter}}</div></div> -->
      <div class="jifen-img-circle">
        <a href="{{item.get_absolute_url}}">
      <img class="img-circle" src="{{item.get_image_url}}">
      </a>
      <!-- <span class="rankjiangpaicount">1</span> -->
      <!-- <span class="rankjiangpaicount">1</span> -->
      </div>
      <div class="rankjiangpai"><div class="rankjiangpaicount">{{forloop.counter}}</div></div>
      <div class="jifen-rank-name">
        <div>
          <a href="{{item.get_absolute_url}}">
        {{ item.username }}
          </a>
        </div>
        <div ><i class="score-topic-rank"></i>
          <span class="score-topic-rank-score">{{ item.score }}分</span>
        </div>
      </div>
      <div style="clear:both;"></div>
    </li>
    {% endfor %}
   <!--  <div style="clear:both;"></div>  -->
  </ul>
</div>
</div>





<div class='joinus'>
<span class="joinus-mark">加入梧桐</span>
        <div class='joinus-content'>

          <img src="/static/media/images/qrcode_for_gh_5dadb4ff2030_430.jpg" width="129px">
          <div class='joinus-content-info'>
            <div class="joinus-content-info-line-1">扫吗订阅微信公众号</div>
          <div class="joinus-content-info-line-4">
          <div class="joinus-content-info-line-2">微博：梧桐观点</div>
          <div class="joinus-content-info-line-3">qq群：581287328</div>
          </div>
          </div>
          <div style="clear:both;"></div>
        </div>
</div>




 





<div class='nicecommentblock'>
<div class='head'>          <span class='shu-mark'>|</span>精彩点评</div>
    <table class="table table-hover nicecomment">
      <tbody>
{% for item in nicecomment %}
        <tr>
<!--           <td>
          <img  class="img-circle usericon hidden-xs" src='{{item.user.get_image_url}}'>
          </td> -->
          {% if item.article %}
          <td><a class="nicecommentblock-qust" href="{{item.article.get_absolute_url}}"><!-- {{item.user}} 评  -->{{item.article.title}}<br></a>
            <div class='commentline0'>
            <div class='commentline'>{{item.text|safe}}</div>
            <div clss='nicecommentblock-userinfo' style="margin-top:10px;">
            <img  class="img-circle usericon-nicecomment hidden-xs" src='{{item.user.get_image_url}}'><span class="user-nicecomment"><a href="{{item.user.get_absolute_url}}">{{item.user}}</a></span></div>
          </div>
          </td>
           {% elif item.products %}
          <td><a class="nicecommentblock-qust" href="{{item.products.get_absolute_url}}"><!-- {{item.user}} 评  -->{{item.products.title}}<br></a>
            <div class='commentline0'>
            <div class='commentline'>{{item.text|safe}}</div>
            <div clss='nicecommentblock-userinfo' style="margin-top:10px;">
            <img  class="img-circle usericon-nicecomment hidden-xs" src='{{item.user.get_image_url}}'><span class="user-nicecomment"><a href="{{item.user.get_absolute_url}}">{{item.user}}</a></span></div>
          </div></td>
          {% elif item.topic %}
          <td> <a class="nicecommentblock-qust" href="{{item.topic.get_absolute_url}}"><!-- {{item.user}} 评 --> {{item.topic.title}}<br></a>
            <div class='commentline0'  onmouseover="this.style.cursor='pointer'" onclick="document.location='{{item.get_absolute_url}}'">
            <div class='commentline'>{{item.text|safe}}</div>
            <div clss='nicecommentblock-userinfo' style="margin-top:10px;">
            <img  class="img-circle usericon-nicecomment hidden-xs" src='{{item.user.get_image_url}}'><span class="user-nicecomment"><a href="{{item.user.get_absolute_url}}">{{item.user}}</a></span></div>
          </div></td>


          {% elif item.instrument %}
          <td> <a class="nicecommentblock-qust" href="{{item.topic.get_absolute_url}}"><!-- {{item.user}} 评 --> {{item.instrument.model}}<br></a>
            <div class='commentline0' onmouseover="this.style.cursor='pointer'" onclick="document.location='{{item.get_absolute_instrument_url}}'">
            <div class='commentline'>

    <span class="instrugrade">
    {% if item.grade != 0 %}
    {% if item.grade = 1 %}
    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star glyphicon-gray" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star glyphicon-gray" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star glyphicon-gray" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star glyphicon-gray" aria-hidden="true"></span>
    {% elif item.grade = 2 %}
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star glyphicon-gray" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star glyphicon-gray" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star glyphicon-gray" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star glyphicon-gray" aria-hidden="true"></span>
    {% elif item.grade = 3 %}
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star glyphicon-gray" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star glyphicon-gray" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star glyphicon-gray" aria-hidden="true"></span>
    {% elif item.grade = 4 %}
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star  glyphicon-gray" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star glyphicon-gray" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star glyphicon-gray" aria-hidden="true"></span>
    {% elif item.grade = 5 %}
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star glyphicon-gray" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star glyphicon-gray" aria-hidden="true"></span>
    {% elif item.grade = 6 %}
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star glyphicon-gray" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star glyphicon-gray" aria-hidden="true"></span>
    {% elif item.grade = 7 %}
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star glyphicon-gray" aria-hidden="true"></span>
    {% elif item.grade = 8 %}
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star glyphicon-gray" aria-hidden="true"></span>
    {% elif item.grade = 9 %}
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
    {% elif item.grade = 10 %}
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    {% endif %}
    <span class="commentgrade">{{item.grade}}</span></span></br>
    {% endif %}

              {{item.text|safe}}</div>
            <div clss='nicecommentblock-userinfo' style="margin-top:10px;">
            <img  class="img-circle usericon-nicecomment hidden-xs" src='{{item.user.get_image_url}}'><span class="user-nicecomment"><a href="{{item.user.get_absolute_url}}">{{item.user}}</a></span></div>
          </div></td>



          {% endif %}
        </tr>
{% endfor %}
      </tbody>
    </table>
</div>


<!--<div class='weixingongzhong'>
<img src="static/media/images/qrcode_for_gh_2b7424ebf230_258.jpg" >
<h5 style='font-weight: 650;'>扫描上方二维码关注微信公众号（wutongtechnews）
</h5>
</div>
 --> 

</div> <!-- <div class="row" style="margin-left: 15px;">   -->       

        </div><!-- class="col-sm-4" -->


      </div><!-- row -->

    </div> <!-- /container -->
 {% endblock %}
 
