{% extends "base_2.html" %}
{% load time_filter %}
{% block HeadDoc %}
<link href="/static/css/home.css" rel="stylesheet">
<!-- <script src="/static/js/home.js"></script> -->
<script src="/static/js/topic_detail.js"></script>
<script src="/static/js/hammer.js/hammer.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/smallscreenhome.css"  media="screen and (max-width: 768px)">
<link href="/static/css/slideshow.css" rel="stylesheet" />
<script src="/static/js/slideshow.js" type="text/javascript"></script>
<link rel="stylesheet" href="/static/css/loaders.min.css">

<script type="text/javascript">
$(function() {
var hammertime = new Hammer(document.getElementById("carousel-example-generic"));
 hammertime.on("swipeleft", function (e){
$('#carousel-example-generic').carousel('prev');
 });
  hammertime.on("swiperight", function (e){
$('#carousel-example-generic').carousel('next');
 });
 });
</script>



<script>/*去除&nbsp;*/
$(function(){ 
    $('.posttime').each(function() {
      var $this = $(this);
      $this.html($this.html().replace(/&nbsp;/g, ''));
    })
}); 
</script>

<script>
$(function(){ 
$('.carousel').carousel({
  interval: 2300
})
}); 
</script>



<script>
$.fn.imgsizeFunction = function() { 
  width = $(this).css('width');
  x = (parseFloat(width)*0.636)
  return  $(this).css('height',x+'px');
}
</script>

<script>
$(function(){ 
/*  $('.item, .item  a img').imgsizeFunction();*/
$('.hotnewsblock table img').imgsizeFunction();
  $('.leftimgblock a img').imgsizeFunction();
}); 
</script>

<script>
$(window).resize(function(){
/*  $('.item, .item  a img').imgsizeFunction();*/
$('.hotnewsblock table img').imgsizeFunction();
  $('.leftimgblock a img').imgsizeFunction();
});
</script>

<script>
$.fn.imgsizeFunctionitem = function() { 
  width = $(this).css('width');
  x = (parseFloat(width)*0.56)
  return  $(this).css('height',x+'px');
}
</script>

<script>
$(function(){ 
$('.item-img, .item-img  a img').imgsizeFunctionitem();
}); 
</script>

<script>
$(window).resize(function(){
$('.item-img, .item-img  a img').imgsizeFunctionitem();
});
</script>


<script>/*试用推荐向左向右*/
$(function(){ 
  $('.glyphicon-chevron-right-hotryshow').click(function(){
  $('#carousel-example-generic-hotryshow').carousel('next')
});
  $('.glyphicon-chevron-left-hotryshow').click(function(){
  $('#carousel-example-generic-hotryshow').carousel('prev')
});
});
</script>

<script>
$.fn.imgsizeFunctionhotryshow = function() { 
  width = $(this).css('width');
  x = (parseFloat(width)*1)
  return  $(this).css('height',x+'px');
}
</script>

<script>
$(window).resize(function(){
  $('#carousel-example-generic-hotryshow, #carousel-example-generic-hotryshow .item, #carousel-example-generic-hotryshow .item img, #carousel-example-generic-hotryshow .carousel-inner').imgsizeFunctionhotryshow();
});
</script>

<script>
$(function(){ 
  $('#carousel-example-generic-hotryshow, #carousel-example-generic-hotryshow .item, #carousel-example-generic-hotryshow .item img, #carousel-example-generic-hotryshow .carousel-inner').imgsizeFunctionhotryshow();
}); 
</script>


<script type="text/javascript">
window.onload=function(){ 
    $("#overlay").fadeTo(200, 0.5);
    $('#homepage').load('{% url 'homepage' %}');
} 
</script>



<script>/*回到页面顶端*/
$(function(){ 
  $('.barcomment').click(function(){
  $('html,body').animate({scrollTop:$('.comment-form').offset().top}, 800);}); 
  $(window).scroll(function() {   
    if($(window).scrollTop() >= 100){
      $('.rtotopsctoll').fadeIn(300); 
    }else{    
      $('.rtotopsctoll').fadeOut(300);    
    }  
  });
  $('.rtotopsctoll').click(function(){
  $('html,body').animate({scrollTop: '0px'}, 800);}); 

});
</script>

<script>/*daka*/
$(function() {
 $("body").on("click", '.daka', function(){

    $.ajaxSetup({
    data: {csrfmiddlewaretoken: '{{ csrf_token }}', 
          userid: {{user.id}},
          },
          });
    $.ajax({
        url: "{% url 'daka' %}",
        type: "post",
        success: function(data) {
          if (data.mess == "succ"){
              $.messager.popup("打卡成功!");
              $(".modal.msg-popup .modal-body").css({
                  'color': '#449d44',
                  "background-color":"#CCF4D9",
                  });}
          else if (data.mess == "err"){
                $.messager.popup("重复打卡！");
                $(".modal.msg-popup .modal-body").css({
                    'color': '#a94442',
                    "background-color":"#f2dede",
                    });}
          },
          error: function(data) { 
            /*alert('Error')*/
          }
    });
  })
})
</script>

{% endblock %}

 {% block content %}
<ul id="rightsidebar">
<li class="rtotopsctoll">
 <a href="javascript:void(0)"><em></em></a> 
</li>
<li class="daka">
  <a href="javascript:void(0)">打卡</a> 
</li>
</ul>



    <div class="container home-container">

      <div class="row">
        <div class="col-sm-9  leftcontainer">
<!--         <div class="row"> -->

          <div id="carousel-example-generic" class="carousel slide carousel-fade visible-xs-block" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                  <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                  {% for item in coverarticle %}
                  {% if forloop.first %}
                 <div class="item active item-img">
                    {% else %}
                    <div class="item item-img">
                    {% endif %}
                    <a href="{{item.get_absolute_url}}"><img src="{{item.get_image_url}}">
                      <div class="carousel-caption">
                        <h3>{{item.title}}</h3>
                    </a>
                    </div>
                    </div>
                    {% endfor %}

                </div>
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true" style="margin-left: 0px;"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next"> 
                  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="margin-right: 0px;"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div><!-- id="carousel-example-generic" class="carousel slide" data-ride="carousel" -->


    <div class="col-xs-12 newsblock-title hidden-xs">
      <div class="col-xs-8 left-cover-img">
   <div class="comiis_wrapad" id="slideContainer">
        <div id="frameHlicAe" class="frame cl">
            <div class="temp"></div>
            <div class="block">
                <div class="cl">
                    <ul class="slideshow" id="slidesImgs">

                      {% for item in coverarticle %}
                        <li><a href="{{item.get_absolute_url}}" target="_blank">
                            <img src="{{item.get_image_url}}" width="100%" height="267" alt="" /></a>

                            <span class="title">
                              <div class="remenshenqing">{{item.group.title}}</div>
                              <div>{{item.title}}</div></span></li>
                      {% endfor %}
                    </ul>
                </div>
                <div class="slidebar" id="slideBar">
                    <ul>
                        <li class="on">1</li>
                        <li>2</li>
                        <li>3</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        SlideShow(3000);
    </script>
      </div>

      <div class="col-xs-4 right-cover-img">
        <div class="col-xs-12 right-cover-img1">
        <!-- <a href="{{guanggaotopic1.get_absolute_url}}">  -->
          <img src="{{guanggaotopic1.get_image_url}}">
          <span class="gengduo-mark"  ><a href="{% url 'group_all'  %}">查看更多</a></span>
          <div class="rightblock1"> 
<!--             <div class="t-h2"></div> -->
             <div class="t-h2-guanggao-back">
              </div>
             <div class="t-h2-guanggao">
              <a href="{{guanggaotopic1.get_absolute_url}}">{{guanggaotopic1.title}}
              </a>

<div class="img-circle guanggaousericonline" >
  <a href="{{guanggaotopic1.writer.get_absolute_url}}">
  <img  class="img-circle guanggaousericon" src='{{guanggaotopic1.writer.get_image_url}}' ></a>
  <a href="{{guanggaotopic1.writer.get_absolute_url}}" style="font-size:12px;">
  {{guanggaotopic1.writer}} 
</a>
</div>

            </div>
          </div>
        <!-- </a> -->
        </div>

        <div class="col-xs-12 right-cover-img2">
        <a href="{{guanggaotopic2.get_absolute_url}}"> 
          <img src="{{guanggaotopic2.get_image_url}}">
         <!--  <span class="original-mark"  >首发</span> -->
          <div class="rightblock1"> 
            <!-- <div class="t-h2"></div> -->
             <div class="t-h2-notouming">
              <div class="remenshenqing">{{guanggaotopic2.group.title}}</div>
              {{guanggaotopic2.title}}
            </div>
          </div>
        </a>
        </div>

      </div>
    </div><!-- <div class="col-xs-12 newsblock"> -->


<div id="homepage">
 <div id='overlay'>
<div class="slice">
<div data-loader="circle"  >
</div>
</div>
 </div>
</div>


        </div><!-- class="col-sm-8 leftcontainer" -->
      <!-- </div> --><!-- <div class="row">  -->  


       <div class="col-sm-3  hidden-xs">
          <div  style="">
<!--          <h3 class="bg-primary">争议话题</h3>
          <div style="position:relative; margin-bottom:30px;">

          <a class = 'disputetopic' href="{{covertopic.get_absolute_url}}">
            <img src="{{covertopic.get_image_url}}">
          <div class="rightblock"> 
           <div class="t-h1">{{covertopic.title}}</div>
          
          </div>
          </a>

          </div>
 -->

<div class='hotryshow'>
   <div class="shiyongtuijian-line"></div>
  <div class="shiyongtuijian">试用推荐</div>
<div id="carousel-example-generic-hotryshow" class="carousel slide" data-ride="carousel">

  <div class="carousel-inner" role="listbox">
                  {% for item in hotry %}
                  {% if forloop.first %}
                 <div class="item active">
                    {% else %}
                    <div class="item">
                    {% endif %}
                    <a href="{{item.get_absolute_url}}" data-toggle="tooltip" data-placement="top" title="{{item.title}}" ><img src="{{item.get_homeimage_url}}">
                      <div class="carousel-caption">
                    </div>
                    </a>
                    </div>
                    {% endfor %}
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left glyphicon-chevron-left-hotryshow" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right glyphicon-chevron-right-hotryshow" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<a href="{% url 'productsall' %}"><div class="hotryshow-more">查看更多</div></a>
</div>

<script type="text/javascript">
  $('#carousel-example-generic-hotryshow').carousel({
  interval: 200000
})
</script>






<div class='shequpro'>
           <div class='head'>          
            <span class='shu-mark'>|</span>社区频道
          </div>
<div class="cate-list-block">
  <div class="cate-spec">
  <a class="cate-link" href="/group/all/" >
  <span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>
    <span class="cate-spec-name">全部</span>
  </a>
  </div>

{% for item in groupall %}
  <div class="cate-spec">
{% if item.get_absolute_url  == group.get_absolute_url %}
  <a class="cate-link" href="{{item.get_absolute_url}}" style="color: #67CA87;">
  {% else %}
  <a class="cate-link" href="{{item.get_absolute_url}}">
{% endif %}
  <span class="glyphicon {{item.glyphicon}}" aria-hidden="true"></span>
   <span class="cate-spec-name">{{item.title}}</span>
  </a>
  </div>
{% endfor %}
  <div style="clear:both;"></div>
</div>
</div>




<div class='joinus'>
<span class="joinus-mark">加入梧桐</span>
        <div class='joinus-content'>

          <img src="/static/media/images/qrcode_for_gh_5dadb4ff2030_430.jpg" width="129px">
          <div class='joinus-content-info'>
            <div class="joinus-content-info-line-1">扫吗订阅微信公众号</div>
          <div class="joinus-content-info-line-4">
          <div class="joinus-content-info-line-2">微博：梧桐观点</div>
          <div class="joinus-content-info-line-3">qq群：581287328</div>
          </div>
          </div>
          <div style="clear:both;"></div>
        </div>
</div>




 





<div class='nicecommentblock'>
<div class='head'>          <span class='shu-mark'>|</span>精彩点评</div>
    <table class="table table-hover nicecomment">
      <tbody>
{% for item in nicecomment %}
        <tr>
<!--           <td>
          <img  class="img-circle usericon hidden-xs" src='{{item.user.get_image_url}}'>
          </td> -->
          {% if item.article %}
          <td><a class="nicecommentblock-qust" href="{{item.article.get_absolute_url}}"><!-- {{item.user}} 评  -->{{item.article.title}}<br></a>
	    <i class="icon_hotcomentjiao"></i>
            <div class='commentline0'>
            <div class='commentline'>{{item.text|safe}}</div>
            <div clss='nicecommentblock-userinfo' style="margin-top:10px;">
            <img  class="img-circle usericon-nicecomment hidden-xs" src='{{item.user.get_image_url}}'><span class="user-nicecomment"><a href="{{item.user.get_absolute_url}}">{{item.user}}</a></span></div>
          </div>
          </td>
           {% elif item.products %}
          <td><a class="nicecommentblock-qust" href="{{item.products.get_absolute_url}}"><!-- {{item.user}} 评  -->{{item.products.title}}<br></a>
            <i class="icon_hotcomentjiao"></i>
            <div class='commentline0'>
            <div class='commentline'>{{item.text|safe}}</div>
            <div clss='nicecommentblock-userinfo' style="margin-top:10px;">
            <img  class="img-circle usericon-nicecomment hidden-xs" src='{{item.user.get_image_url}}'><span class="user-nicecomment"><a href="{{item.user.get_absolute_url}}">{{item.user}}</a></span></div>
          </div></td>
          {% elif item.topic %}
          <td> <a class="nicecommentblock-qust" href="{{item.topic.get_absolute_url}}"><!-- {{item.user}} 评 --> {{item.topic.title}}<br></a>
            <i class="icon_hotcomentjiao"></i>
            <div class='commentline0'  onmouseover="this.style.cursor='pointer'" onclick="document.location='{{item.get_absolute_url}}'">
            <div class='commentline'>{{item.text|safe}}</div>
            <div clss='nicecommentblock-userinfo' style="margin-top:10px;">
            <img  class="img-circle usericon-nicecomment hidden-xs" src='{{item.user.get_image_url}}'><span class="user-nicecomment"><a href="{{item.user.get_absolute_url}}">{{item.user}}</a></span></div>
          </div></td>


          {% elif item.instrument %}
          <td> <a class="nicecommentblock-qust" href="{{item.topic.get_absolute_url}}"><!-- {{item.user}} 评 --> {{item.instrument.model}}<br></a>
            <i class="icon_hotcomentjiao"></i>
            <div class='commentline0' onmouseover="this.style.cursor='pointer'" onclick="document.location='{{item.get_absolute_instrument_url}}'">
            <div class='commentline'>

    <span class="instrugrade">
    {% if item.grade != 0 %}
    {% if item.grade = 1 %}
    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star glyphicon-gray" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star glyphicon-gray" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star glyphicon-gray" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star glyphicon-gray" aria-hidden="true"></span>
    {% elif item.grade = 2 %}
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star glyphicon-gray" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star glyphicon-gray" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star glyphicon-gray" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star glyphicon-gray" aria-hidden="true"></span>
    {% elif item.grade = 3 %}
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star glyphicon-gray" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star glyphicon-gray" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star glyphicon-gray" aria-hidden="true"></span>
    {% elif item.grade = 4 %}
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star  glyphicon-gray" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star glyphicon-gray" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star glyphicon-gray" aria-hidden="true"></span>
    {% elif item.grade = 5 %}
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star glyphicon-gray" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star glyphicon-gray" aria-hidden="true"></span>
    {% elif item.grade = 6 %}
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star glyphicon-gray" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star glyphicon-gray" aria-hidden="true"></span>
    {% elif item.grade = 7 %}
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star glyphicon-gray" aria-hidden="true"></span>
    {% elif item.grade = 8 %}
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star glyphicon-gray" aria-hidden="true"></span>
    {% elif item.grade = 9 %}
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
    {% elif item.grade = 10 %}
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    {% endif %}
    <span class="commentgrade">{{item.grade}}</span></span></br>
    {% endif %}

              {{item.text|safe}}</div>
            <div clss='nicecommentblock-userinfo' style="margin-top:10px;">
            <img  class="img-circle usericon-nicecomment hidden-xs" src='{{item.user.get_image_url}}'><span class="user-nicecomment"><a href="{{item.user.get_absolute_url}}">{{item.user}}</a></span></div>
          </div></td>



          {% endif %}
        </tr>
{% endfor %}
      </tbody>
    </table>
</div>


<!--<div class='weixingongzhong'>
<img src="static/media/images/qrcode_for_gh_2b7424ebf230_258.jpg" >
<h5 style='font-weight: 650;'>扫描上方二维码关注微信公众号（wutongtechnews）
</h5>
</div>
 --> 

</div> <!-- <div class="row" style="margin-left: 15px;">   -->       

        </div><!-- class="col-sm-4" -->


      </div><!-- row -->

    </div> <!-- /container -->
 {% endblock %}
 
