{% extends "base_1.html" %}
{% block HeadDoc %}
<link href="/static/css/newtopic.css" rel="stylesheet">
<script>/*验证输入图片*/
$(document).ready(function(){
  $("form").submit(function(e){
    var input_title = $("#id_title").val()
    var input_content = id_content.getContent()
    var input_group = $("#id_group").val()
    if (input_title == "")
    {
    $.messager.popup("标题不能为空！");
    $(".modal.msg-popup .modal-body").css({
        'color': '#a94442',
        "background-color":"#f2dede",
        });
    return false;
    }


    else if(input_group == "")
    {
    $.messager.popup("请选择分类！");
    $(".modal.msg-popup .modal-body").css({
        'color': '#a94442',
        "background-color":"#f2dede",
        });
    return false;
    }


    else if(input_content == "")
    {
    $.messager.popup("内容不能为空！");
    $(".modal.msg-popup .modal-body").css({
        'color': '#a94442',
        "background-color":"#f2dede",
        });
    return false;
    }
    else
    {
    return true;
    }
  });
});
</script>

<script type="text/javascript">
$(function() {
  $("body").on("click", '#tijiao', function(){
    $("#savetext").val('')
    $("form").submit();
 
  })
})

$(function() {
  $("body").on("click", '#baocun', function(){
    $("#savetext").val('True')
    $("form").submit(); 
 
  })
})
</script>




<script type="text/javascript">
$(function() {  
  $("#id_group option:eq(1)").remove();
})
</script>
{% endblock %}

 {% block content %}

<div class="container">
<div class="center-warp">
{% if group %}
<ul class="breadcrumbs">
            <li>提交话题</li>
        </ul>
	<div id="erroricon_title" style="text-align: center;">请输入标题</div>

  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}" 
      {% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}
  
<form action="" method="post">
	{% csrf_token %}
    {{ myform.media }}
    {{ myform.as_p }}
<input id="savetext"   name="savetext"  type="text">

    <input type="button" id='tijiao' value="提交" class='btn  btn-success btn-block pull-left'/>
    <input type="button" id='baocun' value="保存" class='btn  btn-default btn-block pull-left'/>


</form>

{% else %}
<ul class="breadcrumbs">
            <li>无效的链接，请从上一级链接.<span> &gt; </span></li>
        </ul>
{% endif %}

</div><!-- <div class="center-warp"> -->
</div><!-- class="container" -->
 {% endblock %}
 

