{% extends "base_3.html" %}
{% load time_filter %}
{% load staticfiles %}
{% block HeadDoc %}
<link href="/static/css/products_report.css" rel="stylesheet">
<script src="/static/js/products_detail.js"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>

<script>/*倒计时*/
$(function(){ 
    $('.timer').each(function(){
      var SysSecond; 
      var InterValObj; 
      var a = $(this).children(".products-time").text()
      var node = $(this)
      SysSecond = parseInt(a); 
    /*  alert('x')*/
     //将时间减去1秒，计算天、时、分、秒 
     function SetRemainTime() { 
      if (SysSecond > 0) { 
       SysSecond = SysSecond - 1; 
       var second = Math.floor(SysSecond % 60);             // 计算秒     
       var minite = Math.floor((SysSecond / 60) % 60);      //计算分 
       var hour = Math.floor((SysSecond / 3600) % 24);      //计算小时 
       var day = Math.floor((SysSecond / 3600) / 24);        //计算天 
     
       node.html('<div class="icon_prodeta_daojishi"></div> 距离申请结束：'+"<i>"+day +"</i>"+ " 天 " + "<i>"+ hour + "</i>"+" 小时 " + "<i>"+ minite + "</i>"+" 分 " + "<i>"+second +"</i>"+ " 秒 "); 
      } else {//剩余时间小于或等于0的时候，就停止间隔函数 
       window.clearInterval(InterValObj); 
       //这里可以添加倒计时时间为0后需要执行的事件 
      } 
     } 
     InterValObj = window.setInterval(SetRemainTime, 1000);
    });
}); 
</script>

<script>
$.fn.imgsizeFunction = function() { 
  width = $(this).css('width');
  x = (parseFloat(width)*0.68)
  return  $(this).css('height',x+'px');
}
</script>

<script>
$.fn.imgsizeFunction1 = function() { 
  width = $(this).css('width');
  x = (parseFloat(width)*0.636)
  return  $(this).css('height',x+'px');
}
</script>


<script>
$(function(){ 
  $('.products-pic img').imgsizeFunction();
  $('.hotnewsblock table img').imgsizeFunction1();
  $('.small_img_title img').imgsizeFunction1();
}); 
</script>

<script>
$(window).resize(function(){
  $('.products-pic img').imgsizeFunction();
  $('.hotnewsblock table img').imgsizeFunction1();
  $('.small_img_title img').imgsizeFunction1();
});
</script>







<script>/*输入联系方式莫太框*/
$(function() {
 $("body").on("click", '#applybutton', function(){
      $('#myModal1').modal('toggle')
  })
})
$(function() {
 $("body").on("click", '#applybutton-small', function(){
      $('#myModal1').modal('toggle')
  })
})
</script>

<script>
$(document).ready(function(){
  $("div#connectionform form").submit(function(e){
    var input1 = $("#phonenumberinput").val()
    var input2 = $("#addressinput").val()
    if (input1 == "")
    {
      $('#errorphonenumber').css("margin-bottom","-34.718px");
      $('#errorphonenumber').fadeIn("slow").fadeOut(3000);
    return false;
    }
    if (input2 == "")
    {
      $('#erroraddress').css("margin-bottom","-34.718px");
      $('#erroraddress').fadeIn("slow").fadeOut(3000);
    return false;
    }
    else
    {
    return true;
    }
  });
});
</script>

<script>/*回到页面顶端*/
$(function(){ 
  $('.barcomment').click(function(){
  $('html,body').animate({scrollTop:$('.comment-form').offset().top}, 800);}); 
  $(window).scroll(function() {   
    if($(window).scrollTop() >= 100){
      $('.rtotopsctoll').fadeIn(300); 
    }else{    
      $('.rtotopsctoll').fadeOut(300);    
    }  
  });
  $('.rtotopsctoll').click(function(){
  $('html,body').animate({scrollTop: '0px'}, 800);}); 
});
</script>

<script type="text/javascript">
$(document).ready(function(){
 $('.products-detail-info>p>img').parent('p').css('margin-bottom','0px');
  });
</script>

<script type="text/javascript">
$(document).ready(function(){
  $('.subtract').click(function(){
    node = $(this).next(".num")
    score = Number(node.text())
    payscore = {{payscore}}
    if (score <= payscore){
      node.text(score)
    }
    else {
      node.text(score-5)
    }
  });
  $('.add').click(function(){
    node = $(this).prev(".num")
    score = Number(node.text())
    node.text(score+5)
  });
  });
</script>


<script>/*出价*/
$(function() {
 $("body").on("click", '#applyscoreconform', function(){
    score = Number($('.applyscoreconformprice').text())
    protit = $('.try-title h4 ').text()
    $.ajaxSetup({
    data: {csrfmiddlewaretoken: '{{ csrf_token }}', 
          score: score,
          protit: protit,
          },
          });
    $.ajax({
        url: "{% url 'payscore' %}",
        type: "post",
        success: function(data) {
          if (data.ifpay){
            $.messager.popup("出价成功!");
            $(".modal.msg-popup .modal-body").css({
                'color': '#449d44',
                "background-color":"#CCF4D9",
                });
            location.reload()
            }
          else{
          $.messager.popup("您的余额不足！");
          $(".modal.msg-popup .modal-body").css({
              'color': '#a94442',
              "background-color":"#f2dede",
              });            
          }
          },
          error: function(data) { 
          $.messager.popup("出价失败！");
          $(".modal.msg-popup .modal-body").css({
              'color': '#a94442',
              "background-color":"#f2dede",
              });
          location.reload()
          }
    });
  })
})
</script>


<script>/*输入联系方式莫太框*/
$(function() {
 $("body").on("click", '#applyscore', function(){
      score = Number($('#num-score').text())
      $('.applyscoreconformprice').text(score)
      $('#myModal2').modal('toggle')
  })
})
$(function() {
 $("body").on("click", '#applyscore-small', function(){
      score = Number($('#num-score-small').text())
      $('.applyscoreconformprice').text(score)
      $('#myModal2').modal('toggle')
  })
})
</script>


<script>
$.fn.widthsizeFunction = function() { 
  width = $(this).css('width');
  windowidth = parseFloat($(window).width())
  if (windowidth > 768){
    x = (parseFloat(width)*1)-71;
  }
  else {
    x = (parseFloat(width)*1);
  }
  return  $('.group-list-content').css('width',x+'px');
}
</script>

<script>
$.fn.jiangpaisizeFunction = function() { 
  width = $(this).css('width');
  x = (parseFloat(width)*1)-76;
  return  $('.jifen-rank-name').css('width',x+'px');
}
</script>


<script>
$(function(){ 
  $('.group-list').widthsizeFunction();
  $('.jifen-rank-content-ul li').jiangpaisizeFunction();
}); 
</script>

<script>
$(window).resize(function(){
  $('.group-list').widthsizeFunction();
  $('.jifen-rank-content-ul li').jiangpaisizeFunction();
});
</script>



<script>
$.fn.imgsizeFunctionimg3 = function() { 
  width = $(this).css('width');
  x = (parseFloat(width)*0.636)
  return  $(this).css('height',x+'px');
}
</script>

<script>
$(function(){ 
  $('.img3-imagefst3').imgsizeFunctionimg3();
  $('.img3-imagescd3').imgsizeFunctionimg3();
  $('.img3-imagethd3').imgsizeFunctionimg3();
}); 
</script>

<script>
$(window).resize(function(){
  $('.img3-imagefst3').imgsizeFunctionimg3();
  $('.img3-imagescd3').imgsizeFunctionimg3();
  $('.img3-imagethd3').imgsizeFunctionimg3();
});
</script>
{% endblock %}



 {% block content %}
 <!-- Modal1 -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <!-- <span id="errorphonenumber" style="text-align: center;">请输入手机号</span> -->
        <!-- <span id="erroraddress" style="text-align: center;">请输入试用产品收货地址</span> -->
        <h4 class="modal-title" id="myModalLabel">请填写/确认联系方式<span id="errorphonenumber" style="text-align: center;">请输入手机号</span> <span id="erroraddress" style="text-align: center;">请输入试用产品收货地址</span></h4>
      </div>
      <div class="modal-body">

<div id='connectionform'>
<form  action="" method="post" >
  {% csrf_token %}
  <!-- <label for="passwordinput">新密码</label> -->
  {% if user.phonenumber %}
    <input  id='phonenumberinput' class="form-control" type="tel" name="phonenumberinput" placeholder="常用手机号" value="{{user.phonenumber}}" />
  {% else %}
      <input  id='phonenumberinput' class="form-control" type="tel" name="phonenumberinput" placeholder="常用手机号"  />
  {% endif %}

  {% if user.address %}
      <input id='addressinput'  class="form-control " type="text" name="addressinput" placeholder="试用产品收货地址 此地址在本次产品试用申请期间不可更改" value="{{user.address}}"/>
  {% else %}
      <input id='addressinput'  class="form-control " type="text" name="addressinput" placeholder="试用产品收货地址 此地址在本次产品试用申请期间不可更改" />
  {% endif %}
    <textarea class="form-control" cols="40" id="reasoninput" name="reasoninput" placeholder="请输入申请理由，自媒体的同学，请附上自媒体信息，此信息为非公开。" rows="3"></textarea>
<img src="/static/media/images/qrcode_for_gh_5dadb4ff2030_430.jpg" width="86px">
<p>扫码或关注微信公众号: wutongguandian 提高申请试用成功率</p>
<div class="applink"><a href="http://www.wutongnews.com/topic/142/">《关于梧桐试用抽取试用用户的参考依据和用户产生过程》</a></div>  

<button type="submit" class="btn btn-default btn-success">确定</button>
<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
</form>
</div>
      </div>
    </div>
  </div>
</div>


<!-- Modal2 -->
<div class="modal" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">出价确认</h4>
      </div>
      <div class="modal-body">
        <h5>你确认要出价<span class="applyscoreconformprice"></span>积分吗</h5>
        <div class="scorerule">
        如何获得积分？
        </div>
        <div class="scorerule">
          第1步. 帐号授权微信或微博第三方登录，授权方法：点击右上方帐号&rarr;第三方登陆授权&rarr;设置；
        </div>
        <div class="scorerule">
          第2步. 在测评区回复带有<i class="score-topic"></i>的帖子.
        </div>
	<div class="applink"><a href="http://www.wutongnews.com/topic/142/">《关于梧桐试用积分获得以及抽取试用用户的参考依据 》</a></div>
        <button type="button" class="btn btn-default btn-success myModalbtn confirmdelete" data-dismiss="modal" id="applyscoreconform">确定</button>
        <button type="button" class="btn btn-default myModalbtn" data-dismiss="modal">取消</button>
      </div>
    </div>
  </div>
</div>


<div class="container_products_detail_small visible-xs-block row">
  <div class='small_img_title'>
    <img src="{{products.get_image_url}}">
            <div class="timer">
        <div class="icon_prodeta_daojishi"></div> 距离申请结束：
          <span class="products-time">
            {{ products.ret_timesince_sec}}
          </span>          
        </div>
  </div>
<!-- <div class='small_amount'>总数量: {{products.amount}}</div>
<div class='small_price'>价格: {{products.price}}</div> -->

        <div class='small_try_info'>
          
          <div >总数量: {{products.amount}}</div>
          <div>试用数量: {{products.tryamount}}</div>
          <div>申请人数: 
                    {% if products.applyamountcount > 30 %}
                    {{products.applyamountcount}}
                    {% else %}
                    {{products.id|products_applyamount_count}}
                    {% endif %} 
	  </div>
                {% if products.status = 1 %}
                      {% if user.is_authenticated %}
                        {% if applybutton %}
                            <button type="button" class="btn btn-success" >已申请</button>
                        {% else %}
                            <button type="button" class="btn btn-success" id='applybutton-small'>立即申请</button>
                        {% endif %}
                      {% else %}
                      <button type="button" class="btn btn-success" onclick="window.location.href='{% url 'loggin' %}'" >立即申请</button>
                      {% endif %}
                {% elif products.status = 2 %}
                          <button type="button" class="btn btn-warning " >体验中</button>
                {% elif products.status = 3 %}
                          <button type="button" class="btn btn-danger " >已结束</button>
                {% endif %}
        </div>

        <div class='small_try_info' style="border-left: 1px dashed #ddd;">
          <div>竞拍数量: {{products.scoreamount}}</div>
          <div>当前最高价: {{payscoretitle}}积分</div>
              <div class="score">
                <span>出价</span>   
                      <div class="control">
                          <span class="subtract">-</span>
                          {% if products.ifscore %}
                          <span class="num" id="num-score-small">{{payscore}}</span>
                          {% endif %}
                          <span class="add">+</span>
                      </div>
                <!-- <span class="addstep">幅度 5</span> -->
              </div>
                {% if products.status = 1 %}
                      {% if user.is_authenticated %}
                      {% if products.ifscore %}
                            <button type="button" class="btn btn-warning" id='applyscore-small'>立即出价</button>
                      {% else %}
                            <button type="button" class="btn btn-warning" >不参与积分拍</button>
                      {% endif %}

                      {% else %}
                      <button type="button" class="btn btn-warning" onclick="window.location.href='{% url 'loggin' %}'" >立即出价</button>
                      {% endif %}
                {% elif products.status = 2 %}
                          <button type="button" class="btn btn-warning " >已结束</button>
                {% elif products.status = 3 %}
                          <button type="button" class="btn btn-danger " >已结束</button>
                {% endif %}
        </div>

  </div>
</div>


   <div class="container  container_products_detail">
      <div class="row">
        <div class="col-sm-12">



          <ul id="rightsidebar">
<li class="rtotopsctoll ">
<a href="javascript:void(0)"><em></em></a> 
</li>
          </ul>


          <div class='map   hidden-xs'>
            <a href="{% url 'productsall' %}">
              梧桐试用
            </a>
             &gt;
              {{products.title}}
          </div>



      	<div class="try-info col-sm-12 hidden-xs">
      		<div class="products-pic col-sm-4">
      			<img src="{{products.get_image_url}}">
      		</div>

      		<div class="products-info col-sm-4">
      			<div class="try-title">
      			<h4>{{products.title}}</h4>
      			</div>
      			<div class="try-amount-price-apply ">
	      			<div class="try-amount-price ">
	      				<p class="try-amount-price-price">市场价<span>{{products.price}}</span></p>
	      				<p class="try-amount-price-amount">总数量<span>{{products.amount}}</span></p>
                <div style="clear:both;"></div> 
              </div>
              </div>
              <div class='try-info-boader'>

              <div class="apply-amount ">
                <h4><div class="icon_prodeta_xianliang"></div> 试用限量:<span>{{products.tryamount}}份</span></h4>
              </div>
	      			<div class="apply-amount ">
	      				<h4><div class="icon_prodeta_renshu"></div>已申请:<span>{% if products.applyamountcount > 30 %}{{products.applyamountcount}}{% else %}{{products.id|products_applyamount_count}}{% endif %}人</span></h4>
	      			</div>

		          <div class="timer">
              <div class="icon_prodeta_daojishi"></div> 距离申请结束：
		            <span class="products-time">
		              {{ products.ret_timesince_sec}}
		            </span>          
		          </div>
		          <div class="apply-bottom  col-sm-12">

                {% if products.status = 1 %}
                      {% if user.is_authenticated %}
                        {% if applybutton %}
                            <button type="button" class="btn btn-success" >已申请</button>
                        {% else %}
        		                <button type="button" class="btn btn-success" id='applybutton'>立即申请</button>
                        {% endif %}
                      {% else %}
                      <button type="button" class="btn btn-success" onclick="window.location.href='{% url 'loggin' %}'" >立即申请</button>
                      {% endif %}
                {% elif products.status = 2 %}
                          <button type="button" class="btn btn-warning " >体验中</button>
                {% elif products.status = 3 %}
                          <button type="button" class="btn btn-danger " >已结束</button>
                {% endif %}

		          </div>
               <div style="clear:both;"></div>
              </div>




      		</div><!-- <div class="products-pic col-sm-6"> -->


<div class="products-score col-sm-4">

              <div class="try-share"><span class="try-share-word">分享至</span>
            <a href="http://www.jiathis.com/send/?webid=tsina&url=http://{{sharelink}}&title={{products.title}}&appkey=2155349390" style="display:block;">
            <i class="weiboshare">
            </i>
            </a>
              <a class="jiathis_button_weixin" style="display:block;">
               <i class="weichatshare">
              </i>
              </a>
              <a href="http://www.jiathis.com/send/?webid=qzone&url=http://{{sharelink}}&title={{products.title}}" style="display:block;">
            <i class="qqzoneshare">
            </i>
            </a>
              </div>

<div class="products-score-block">
             <p><div class="icon_prodeta_xianliang"></div></p><p>积分竞拍数量:<span>{{products.scoreamount}}份</span></p>
              
                <p><div class="icon_prodeta_dangqian"></div></p><p>当前最高价:<span>{{payscoretitle}}积分</span> </p>

              <div class="score"><div class="icon_prodeta_chujia"></div>
                <span>我的出价</span>   
                      <div class="control">
                          <span class="subtract">-</span>
                          {% if products.ifscore %}
                          <span class="num" id="num-score">{{payscore}}</span>
                          {% endif %}
                          <span class="add">+</span>
                      </div>
                <span class="addstep">加价幅度 5 积分</span>
              </div>
              <div class="apply-bottom">

                {% if products.status = 1 %}
                      {% if user.is_authenticated %}
                      {% if products.ifscore %}
                            <button type="button" class="btn btn-warning" id='applyscore'>立即出价</button>
                      {% else %}
                            <button type="button" class="btn btn-warning" >不参与积分拍</button>
                      {% endif %}

                      {% else %}
                      <button type="button" class="btn btn-warning" onclick="window.location.href='{% url 'loggin' %}'" >立即出价</button>
                      {% endif %}
                {% elif products.status = 2 %}
                          <button type="button" class="btn btn-warning " >已结束</button>
                {% elif products.status = 3 %}
                          <button type="button" class="btn btn-danger " >已结束</button>
                {% endif %}
              </div>
        
      </div>    
</div>


      	</div><!-- <div class="try-info col-sm-12">
 -->

 
			<div class='products-detail col-sm-9'>
				<div class="menu">
				  <ul class="nav nav-pills rightblock">
              <li class="presentationw1" role="presentation"><a href="{% url 'products_detail' products.id %}">商品详情</a></li>
              <li class="presentationw4" role="presentation"><a href="{% url 'payscorerecord' products.id %}">出价记录({{products.id|products_payscore_count}})</a></li>

              <li class="presentationw2" role="presentation"><a href="{% url 'productsapply' products.id %}">申请名单</a></li>
              <li class="presentationw3" role="presentation"><a href="{% url 'productsreport' products.id %}">测评话题 ({{products.reportnum}})</a></li>
				    </ul>
	             </div>


	            <div class="products-apply-info">
                <div class="proposer">
{% for item in reportlist %}
<div class="group-list">

<div class="group-list-usericon hidden-xs">  
  <a href="{{item.writer.get_absolute_url}}">
 <img  class="commentusericon" src='{{item.writer.get_image_url}}'>
  </a>
</div>


<div class="group-list-content">
 <a href="{{item.get_absolute_url}}">
 {{item.title}}
 </a>

 <span class='topic-page'>
{% if item.id|topics_page_count %}
[ {% for pageitem in item.id|topics_page_count %}  
<a href="{{item.get_absolute_url}}?page={{ pageitem }}">
{{ pageitem }}
</a>
{% endfor %} ]
{% endif %}
</span>
 
 {% if item.cover %}
<span class="jiajing">精</span>
{% endif %}

 {% if item.score %}
<i class="score-topic"></i>
{% endif %}



{% if item.img3 %}
<div class='img3'>
<img  class="img3-imagefst3" src='{{item.get_imagefst3_url}}'>
<img  class="img3-imagescd3" src='{{item.get_imagescd3_url}}'>
<img  class="img3-imagethd3" src='{{item.get_imagethd3_url}}'>
</div>
<div style="clear:both;"></div> 
{% endif %}



 <div class="group-information">
 <span class='group-informatio-blank'>
<!--  	<a href="{{item.writer.get_absolute_url}}">
 <img  class="commentusericon" src='{{item.writer.get_image_url}}'>
  </a> -->
 <a class="group-information-writer" href="{{item.writer.get_absolute_url}}">
{{item.writer}}
 </a>
 </span>发布于

 <span class='group-informatio-blank'>

 {{item.timestamp|timesince|time_chinese_weeks|time_chinese_week|time_chinese_minus|time_chinese_minu|time_chinese_days|time_chinese_day|time_chinese_hours|time_chinese_hour|timeblank|comma|time_chinese_months|time_chinese_month|time_blank_n}}前

</span>
<!--  <span class='group-informatio-blank'>
回复数:{{item.id|Topic_comment}}
</span> -->
<i class="icon icon-line"></i>

{%  if item.id|Topic_comment %}
 <span class='group-informatio-blank hidden-xs'>
{{item.lastcommentime.user}}回复于
</span>

 <span class='group-informatio-blank hidden-xs'>
{{item.lastcommentime.timestamp|timesince|time_chinese_weeks|time_chinese_week|time_chinese_minus|time_chinese_minu|time_chinese_days|time_chinese_day|time_chinese_hours|time_chinese_hour|timeblank|comma|time_chinese_months|time_chinese_month|time_blank_n}}前
</span>
{% endif %}



<span class='topic-reply pull-right'>
<i class="icon-reply"></i><span>{{item.id|Topic_comment}}</span> 
</span> 



</div>
</div>
<div style="clear:both;"></div> 
</div>

{% endfor %}
                </div><!-- <div class="proposer"> -->
                
				</div><!-- <div class="products-apply-info"> -->
			</div><!-- <div class='products-detail col-sm-9'> -->

			<div class="col-sm-3">
        <div class="hot-try-company">
          <div class="hot-try-title-line"></div>
          <div class="hot-try-compant-title">提供方</div>
        <div class="hotry-list">
          <div class="hotry-company-img">
            <img src="{{products.company.get_image_url}}">
          </div>
          <div class="hotry-company-info">
            <a href="{{products.company.get_absolute_url}}" class="hotry-title">{{products.company.title}}</a>
            <p>{{products.company.associatetitle|safe}}</p>
          </div>
        </div>
        </div>

<div class='hotnewsblock'>
         <div class='head'>          <span class='shu-mark'>|</span>热门试用</div>

    <table class="table table-hover hotnews">
      <tbody>
{% for item in hotry %}
        <tr>
          <td>
             <a href="{{item.get_absolute_url}}" style="display:block;"><img src="{{item.get_image_url}}" >
              <div class="t-h2-hottry">
		<div class="t-h2-hottry-title">{{item.title}}</div>
            <div>数量:{{item.amount}}</div>
            </div>
             </a>

          </td>
        </tr>
{% endfor %}
      </tbody>
    </table>
  </div><!-- class='headblock' -->
</div>



    </div><!-- <div class="col-sm-12"> -->
      </div><!-- row -->
    </div> <!-- /container -->

      <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
{% endblock %}
