{% extends "base_3.html" %}
{% load time_filter %}
{% load staticfiles %}
{% block HeadDoc %}
<link href="/static/css/productsone.css" rel="stylesheet">
<script src="/static/js/products_detail.js"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>


<script>/*倒计时*/
$(function(){ 
    $('.timer').each(function(){
      var SysSecond; 
      var InterValObj; 
      var a = $(this).children(".products-time").text()
      var node = $(this)
      SysSecond = parseInt(a); 
    /*  alert('x')*/
     //将时间减去1秒，计算天、时、分、秒 
     function SetRemainTime() { 
      if (SysSecond > 0) { 
       SysSecond = SysSecond - 1; 
       var second = Math.floor(SysSecond % 60);             // 计算秒     
       var minite = Math.floor((SysSecond / 60) % 60);      //计算分 
       var hour = Math.floor((SysSecond / 3600) % 24);      //计算小时 
       var day = Math.floor((SysSecond / 3600) / 24);        //计算天 
     
       node.html('距离申请结束：'+"<i>"+day +"</i>"+ " 天 " + "<i>"+ hour + "</i>"+" 小时 " + "<i>"+ minite + "</i>"+" 分 " + "<i>"+second +"</i>"+ " 秒 "); 
      } else {//剩余时间小于或等于0的时候，就停止间隔函数 
       window.clearInterval(InterValObj); 
       //这里可以添加倒计时时间为0后需要执行的事件 
      } 
     } 
     InterValObj = window.setInterval(SetRemainTime, 1000);
    });
}); 
</script>

<script>
$.fn.imgsizeFunction = function() { 
  width = $(this).css('width');
  x = (parseFloat(width)*0.68)
  return  $(this).css('height',x+'px');
}
</script>

<script>
$.fn.imgsizeFunction1 = function() { 
  width = $(this).css('width');
  x = (parseFloat(width)*0.636)
  return  $(this).css('height',x+'px');
}
</script>


<script>
$(function(){ 
  $('.products-pic img').imgsizeFunction();
  $('.hotnewsblock table img').imgsizeFunction1();
  $('.small_img_title img').imgsizeFunction1();
}); 
</script>

<script>
$(window).resize(function(){
  $('.products-pic img').imgsizeFunction();
  $('.hotnewsblock table img').imgsizeFunction1();
  $('.small_img_title img').imgsizeFunction1();
});
</script>







<script>/*输入联系方式莫太框*/
$(function() {
 $("body").on("click", '#applybutton', function(){
      $('#myModal1').modal('toggle')
  })
})
$(function() {
 $("body").on("click", '#applybutton-small', function(){
      $('#myModal1').modal('toggle')
  })
})
</script>

<script>
$(document).ready(function(){
  $("div#connectionform form").submit(function(e){
    var input1 = $("#phonenumberinput").val()
    var input2 = $("#addressinput").val()
    if (input1 == "")
    {
      $('#errorphonenumber').css("margin-bottom","-34.718px");
      $('#errorphonenumber').fadeIn("slow").fadeOut(3000);
    return false;
    }
    if (input2 == "")
    {
      $('#erroraddress').css("margin-bottom","-34.718px");
      $('#erroraddress').fadeIn("slow").fadeOut(3000);
    return false;
    }
    else
    {
    return true;
    }
  });
});
</script>

<script>/*回到页面顶端*/
$(function(){ 
  $('.barcomment').click(function(){
  $('html,body').animate({scrollTop:$('.comment-form').offset().top}, 800);}); 
  $(window).scroll(function() {   
    if($(window).scrollTop() >= 100){
      $('.rtotopsctoll').fadeIn(300); 
    }else{    
      $('.rtotopsctoll').fadeOut(300);    
    }  
  });
  $('.rtotopsctoll').click(function(){
  $('html,body').animate({scrollTop: '0px'}, 800);}); 
});
</script>

<script type="text/javascript">
$(document).ready(function(){
 $('.products-detail-info>p>img').parent('p').css('margin-bottom','0px');
  });
</script>

<script type="text/javascript">
$(document).ready(function(){
  $('.subtract').click(function(){
    node = $(this).next(".num")
    score = Number(node.text())
    payscore = {{payscore}}
    if (score <= payscore){
      node.text(score)
    }
    else {
      node.text(score-5)
    }
  });
  $('.add').click(function(){
    node = $(this).prev(".num")
    score = Number(node.text())
    node.text(score+5)
  });
  });
</script>


<script>/*出价*/
$(function() {
 $("body").on("click", '#applyscoreconform', function(){
    score = Number($('#num-score').text())
    protit = $('.try-title h4 ').text()
    $.ajaxSetup({
    data: {csrfmiddlewaretoken: '{{ csrf_token }}', 
          score: score,
          protit: protit,
          },
          });
    $.ajax({
        url: "{% url 'payscore' %}",
        type: "post",
        success: function(data) {
          if (data.ifpay){
            $.messager.popup("出价成功!");
            $(".modal.msg-popup .modal-body").css({
                'color': '#449d44',
                "background-color":"#CCF4D9",
                });
            location.reload()
            }
          else{
          $.messager.popup("您的余额不足！");
          $(".modal.msg-popup .modal-body").css({
              'color': '#a94442',
              "background-color":"#f2dede",
              });            
          }
          },
          error: function(data) { 
          $.messager.popup("出价失败！");
          $(".modal.msg-popup .modal-body").css({
              'color': '#a94442',
              "background-color":"#f2dede",
              });
          location.reload()
          }
    });
  })
})
</script>


<script>/*输入联系方式莫太框*/
$(function() {
 $("body").on("click", '#applyscore', function(){
      $('#myModal2').modal('toggle')
  })
})
$(function() {
 $("body").on("click", '#applyscore-small', function(){
      $('#myModal2').modal('toggle')
  })
})
</script>



<script>/*输入联系方式莫太框*/
$(function() {
 $("body").on("click", '#applyone', function(){
      $('#myModal3').modal('toggle')
  })
})
$(function() {
 $("body").on("click", '#applyone-small', function(){
      $('#myModal3').modal('toggle')
  })
})
</script>


<script type="text/javascript">
$(document).ready(function(){
  $('.subtractone').click(function(){
    node = $(this).next(".numone")
    score = Number(node.text())
    payscore = 1
    if (score <= payscore){
      node.text(score)
    }
    else {
      node.text(score-1)
    }
  });
  $('.addone').click(function(){
    node = $(this).prev(".numone")
    score = Number(node.text())
    node.text(score+1)
  });
  });
</script>

<script type="text/javascript">
$(document).ready(function(){
  $('.one-list-num').click(function(){
    /*node = $(this)*/
    $('.one-list-num').css({
        "border": "1px solid #ddd",
        "color": "#333",
        });
    $(this).css({
        "border": "1px solid rgb(95,184,97)",
        "color": "rgb(95,184,97)",
        });
    score = Number($(this).text())
    $('.numone').text(score)
  });
  });
</script>

<script type="text/javascript">
$(document).ready(function(){
  $('#applyoneconform').click(function(){
    one = String($('.numone').text())
    products = String({{products.id}})
    url = "http://www.wutongnews.com/alipay/finance?code=/αβγδθηζεικλμποξνρφΑΕσχΒΖτψΓΗυωΔΘΦΡΝΙΚΣΞΛΟΤΨΧΩΥΠΜмиедзлабвёйнокжгьычшщэюъцтсхфрпуЛЗДГЖКМИЕБВЁЙНБАяЬЫЪЦУФРÈÉÊÇÂÆÀÀäÞÚÕÜÑÒØÖÏÓÝÚæîëçãííïðèáâìöýüûõøíîòïóöôЯЮЪЫЧЩЬЭЩ┓├┏↙┯↘ô┓┱&one="+one+"&products="+products
    window.open(url);
  });
  });
</script>


<script type="text/javascript">
function isWeiXin(){ 
var ua = window.navigator.userAgent.toLowerCase(); 
if(ua.match(/MicroMessenger/i) == 'micromessenger'){ 
return true; 
}else{ 
return false; 
} 
} 
</script>



<script type="text/javascript">
$(document).ready(function(){
  $('#applywechatoneconform').click(function(){
    one = String($('.numone').text())
    products = String({{products.id}})
    if(isWeiXin()){ 
    url="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxd7c459fd37fa1f3e&redirect_uri=http%3A%2F%2Fwww.wutongnews.com%2Fweixin%2Ffinancegz&response_type=code&scope=snsapi_base&state="+one+'p'+products+"#wechat_redirect"
    window.open(url);
      } 
    else{
    url = "http://www.wutongnews.com/weixin/finance?code=/αβγδθηζεικλμποξνρφΑΕσχΒΖτψΓΗυωΔΘΦΡΝΙΚΣΞΛΟΤΨΧΩΥΠΜмиедзлабвёйнокжгьычшщэюъцтсхфрпуЛЗДГЖКМИЕБВЁЙНБАяЬЫЪЦУФРÈÉÊÇÂÆÀÀäÞÚÕÜÑÒØÖÏÓÝÚæîëçãííïðèáâìöýüûõøíîòïóöôЯЮЪЫЧЩЬЭЩ┓├┏↙┯↘ô┓┱&one="+one+"&products="+products
    window.open(url);
    }

  });
  });
</script>


{% endblock %}



 {% block content %}
 <!-- Modal1 -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <!-- <span id="errorphonenumber" style="text-align: center;">请输入手机号</span> -->
        <!-- <span id="erroraddress" style="text-align: center;">请输入试用产品收货地址</span> -->
        <h4 class="modal-title" id="myModalLabel">请填写/确认联系方式<span id="errorphonenumber" style="text-align: center;">请输入手机号</span> <span id="erroraddress" style="text-align: center;">请输入试用产品收货地址</span></h4>
      </div>
      <div class="modal-body">

<div id='connectionform'>
<form  action="" method="post" >
  {% csrf_token %}
  <!-- <label for="passwordinput">新密码</label> -->
  {% if user.phonenumber %}
    <input  id='phonenumberinput' class="form-control" type="tel" name="phonenumberinput" placeholder="常用手机号" value="{{user.phonenumber}}" />
  {% else %}
      <input  id='phonenumberinput' class="form-control" type="tel" name="phonenumberinput" placeholder="常用手机号"  />
  {% endif %}

  {% if user.address %}
      <input id='addressinput'  class="form-control " type="text" name="addressinput" placeholder="试用产品收货地址 此地址在本次产品试用申请期间不可更改." value="{{user.address}}"/>
  {% else %}
      <input id='addressinput'  class="form-control " type="text" name="addressinput" placeholder="试用产品收货地址 此地址在本次产品试用申请期间不可更改" />
  {% endif %}
    <textarea class="form-control" cols="40" id="reasoninput" name="reasoninput" placeholder="请输入申请理由，自媒体的同学，请附上自媒体信息，此信息为非公开。" rows="3"></textarea>
  <img src="/static/media/images/qrcode_for_gh_5dadb4ff2030_430.jpg" width="86px">
  <p>扫码或关注微信公众号: wutongguandian 提高参与试用概率</p>

<div class="applink"><a href="http://www.wutongnews.com/topic/142/">《关于梧桐试用抽取试用用户的参考依据和用户产生过程》</a></div>  


<button type="submit" class="btn btn-default btn-success">确定</button>
<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
</form>
</div>
      </div>
    </div>
  </div>
</div>



<!-- Modal2 -->
<div class="modal" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">出价确认</h4>
      </div>
      <div class="modal-body">

              <div class="score">
                <span>出价</span>   
                      <div class="control">
                          <span class="subtract">-</span>
                          {% if products.ifscore %}
                          <span class="num" id="num-score">{{payscore}}</span>
                          {% endif %}
                          <span class="add">+</span>
                      </div>
                <span class="addstep">幅度 5</span>
              </div>

<div class="applink"><a href="http://www.wutongnews.com/topic/826/">《什么是积分?》</a></div>  

        <button type="button" class="btn btn-default btn-success myModalbtn confirmdelete" data-dismiss="modal" id="applyscoreconform">确定</button>
        <button type="button" class="btn btn-default myModalbtn" data-dismiss="modal">取消</button>
      </div>
    </div>
  </div>
</div>




<!-- Modal3 -->
<div class="modal" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">一元购</h4>
      </div>
      <div class="modal-body">

              <div class="payone">
                <span>参与</span>   
                      <div class="controlone">
                          <span class="subtractone">-</span>
                          {% if products.ifone %}
                          <span class="numone" id="num-one">1</span>
                          {% endif %}
                          <span class="addone">+</span>
                      </div>
                <span class="addstepone">人次</span>

                <div class="one-list">
                  <span class="one-list-num">10</span>
                  <span class="one-list-num">50</span>
                  <span class="one-list-num">100</span>
                  <span class="one-list-num">200</span>
                  <span class="one-list-renci">人次</span>
                </div>

              </div>
<p>注：一元购不需要提交测评</p>
<div class="applink"><a href="http://www.wutongnews.com/topic/1023/">《一元购规则》</a></div>  
        <button type="button" class="btn btn-default btn-one myModalbtn" data-dismiss="modal" id="applyoneconform">支付宝</button>
        <button type="button" class="btn btn-default btn-success myModalbtn" data-dismiss="modal" id="applywechatoneconform">微信支付</button>


      </div>
    </div>
  </div>
</div>









<div class="container_products_detail_small visible-xs-block row">
  <div class='small_img_title'>
    <img src="{{products.get_image_url}}">
            <div class="timer">
        <div class="icon_prodeta_daojishi"></div> 距离申请结束：
          <span class="products-time">
            {{ products.ret_timesince_sec}}
          </span>          
        </div>
  </div>


  <div class='small_info'>
    市场价：{{products.price}}元 &nbsp; &nbsp; 
    总限量：{{products.amount}}
  </div>
        <div class='small_try_info'>
          <div>申请限量: {{products.tryamount}}</div>
          <div>申请人数: 
                    {% if products.applyamountcount > 30 %}
                    {{products.applyamountcount}}
                    {% else %}
                    {{products.id|products_applyamount_count}}
                    {% endif %} 
          </div>
                {% if products.status = 1 %}
                      {% if user.is_authenticated %}
                      {% if products.ifapply %}
                        {% if applybutton %}
                            <button type="button" class="btn btn-success" >已申请</button>
                        {% else %}
                            <button type="button" class="btn btn-success" id='applybutton-small'>立即申请</button>
                        {% endif %}
                        {% else %}
                            <button type="button" class="btn">立即申请</button>
                        {% endif %}

                      {% else %}
                      <button type="button" class="btn btn-success" onclick="window.location.href='{% url 'loggin' %}'" >立即申请</button>
                      {% endif %}
                {% elif products.status = 2 %}
                          <button type="button" class="btn btn-warning " >已结束</button>
                {% elif products.status = 3 %}
                          <button type="button" class="btn btn-danger " >已结束</button>
                {% endif %}
        </div>
        <div class='small_try_info' style="border-left: 1px dashed #ddd;">
          <div>竞拍限量: {{products.scoreamount}}</div>
          <div>当前积分: {{payscoretitle}}</div>

                {% if products.status = 1 %}
                      {% if user.is_authenticated %}
                      {% if products.ifscore %}
                            <button type="button" class="btn btn-warning" id='applyscore-small'>立即出分</button>
                      {% else %}
                            <button type="button" class="btn" >立即出分</button>
                      {% endif %}

                      {% else %}
                      <button type="button" class="btn btn-warning" onclick="window.location.href='{% url 'loggin' %}'" >立即出分</button>
                      {% endif %}
                {% elif products.status = 2 %}
                          <button type="button" class="btn btn-warning " >已结束</button>
                {% elif products.status = 3 %}
                          <button type="button" class="btn btn-danger " >已结束</button>
                {% endif %}
        </div>
        <div class='small_try_info' style="border-left: 1px dashed #ddd;">
          <div>一元限量: {{products.oneamount}}</div>
          <div>当前人次: {{products.one}}</div>

                {% if products.status = 1 %}
                      {% if user.is_authenticated %}
                      {% if products.ifone %}
                            <button type="button" class="btn btn-one" id='applyone-small'>一元购</button>
                      {% else %}
                            <button type="button" class="btn" >一元购</button>
                      {% endif %}

                      {% else %}
                      <button type="button" class="btn btn-one" onclick="window.location.href='{% url 'loggin' %}'" >一元购</button>
                      {% endif %}
                {% elif products.status = 2 %}
                          <button type="button" class="btn btn-warning " >已结束</button>
                {% elif products.status = 3 %}
                          <button type="button" class="btn btn-danger " >已结束</button>
                {% endif %}
        </div>
  </div>
  </div>
</div>





   <div class="container  container_products_detail">
      <div class="row">
        <div class="col-sm-12">



          <ul id="rightsidebar">
<li class="rtotopsctoll ">
<a href="javascript:void(0)"><em></em></a> 
</li>
          </ul>


          <div class='map   hidden-xs'>
            <a href="{% url 'productsall' %}">
              梧桐试用
            </a>
             &gt;
              {{products.title}}
          </div>



      	<div class="try-info col-sm-12 hidden-xs">
      		<div class="products-pic col-sm-3">
            {% if products.get_detailimage_url == '/static/media/images/companylogo.png' %}
              <img src="{{products.get_image_url}}">
            {% else %}
              <img src="{{products.get_detailimage_url}}">
            {% endif %}
      		</div>




<div class="col-sm-9">
            <div class="try-title">
            <h4>{{products.title}}</h4>
            </div>

            <div class="try-amount-price-apply ">
              <div class="try-amount-price ">
                <p class="try-amount-price-price">市场价<span>{{products.price}}</span></p>
                <p class="try-amount-price-amount">总限量<span>{{products.amount}}份</span></p>
                <!-- <p>积分竞拍限量<span>{{products.scoreamount}}</span></p> -->
              <div class="timer">距离申请结束：
                <span class="products-time">
                  {{ products.ret_timesince_sec}}
                </span>          
              </div>
                <div style="clear:both;"></div> 
              </div>
              </div>
              </div>



          <div class="products-info col-sm-3">
              <div class='try-info-boader'>
              <div class="apply-amount ">
                <h4><div class="icon_prodeta_xianliang"></div> 申请限量:<span>{{products.tryamount}}份</span></h4>
              </div>
              <div class="apply-amount ">
                <h4><div class="icon_prodeta_renshu"></div>已申请:<span>{% if products.applyamountcount > 30 %}{{products.applyamountcount}}{% else %}{{products.id|products_applyamount_count}}{% endif %}人</span></h4>
              </div>
              <div class="apply-bottom  col-sm-12">
                {% if products.status = 1 %}
                      {% if user.is_authenticated %}
                      {% if products.ifapply %}
                        {% if applybutton %}
                            <button type="button" class="btn btn-success" >已申请</button>
                        {% else %}
                            <button type="button" class="btn btn-success" id='applybutton'>立即申请</button>
                        {% endif %}
                      {% else %}
                      <button type="button" class="btn">立即申请</button>
                      {% endif %}

                      {% else %}
                      <button type="button" class="btn btn-success" onclick="window.location.href='{% url 'loggin' %}'" >立即申请</button>
                      {% endif %}
                {% elif products.status = 2 %}
                          <button type="button" class="btn btn-warning " >已结束</button>
                {% elif products.status = 3 %}
                          <button type="button" class="btn btn-danger " >已结束</button>
                {% endif %}
              </div>
               <div style="clear:both;"></div>
              </div>
          </div><!-- <div class="products-pic col-sm-3"> -->





<div class="products-score col-sm-3">
<div class="products-score-block">
             <p><div class="icon_prodeta_chujia"></div></p><p>积分竞拍限量:<span>{{products.scoreamount}}份</span></p>
                <p><div class="icon_prodeta_dangqian"></div></p><p>当前最高价:<span>{{payscoretitle}}积分</span> </p>
              <div class="apply-bottom">
                {% if products.status = 1 %}
                      {% if user.is_authenticated %}
                      {% if products.ifscore %}
                            <button type="button" class="btn btn-warning" id='applyscore'>立即出分</button>
                      {% else %}
                            <button type="button" class="btn" >立即出分</button>
                      {% endif %}

                      {% else %}
                      <button type="button" class="btn btn-warning" onclick="window.location.href='{% url 'loggin' %}'" >立即出价</button>
                      {% endif %}
                {% elif products.status = 2 %}
                          <button type="button" class="btn btn-warning" >已结束</button>
                {% elif products.status = 3 %}
                          <button type="button" class="btn btn-danger " >已结束</button>
                {% endif %}
              </div>
      </div>    
</div>




<div class="products-score col-sm-3">
<div class="products-one-block">
             <p><div class="glyphicon glyphicon-usd" aria-hidden="true"></div></p><p>一元购限量:<span>{{products.oneamount}}份</span></p>
                <p><div class="glyphicon glyphicon-list-alt" aria-hidden="true"></div></p><p>当前人次:<span>{{products.one}}人次</span> </p>
              <div class="apply-bottom">

                {% if products.status = 1 %}
                      {% if user.is_authenticated %}
                      {% if products.ifone %}
                            <button type="button" class="btn btn-one" id='applyone'>一元购</button>
                      {% else %}
                            <button type="button" class="btn" >一元购</button>
                      {% endif %}

                      {% else %}
                      <button type="button" class="btn btn-one" onclick="window.location.href='{% url 'loggin' %}'" >一元购</button>
                      {% endif %}
                {% elif products.status = 2 %}
                          <button type="button" class="btn btn-warning " >已结束</button>
                {% elif products.status = 3 %}
                          <button type="button" class="btn btn-danger " >已结束</button>
                {% endif %}
              </div>
      </div>    
</div>
</div><!-- <div class="try-info col-sm-12">-->













			<div class='products-detail col-sm-9'>
				<div class="menu">
				  <ul class=" rightblock">

				      <li class="presentationw1" role="presentation"><a href="{% url 'products_detail' products.id %}">商品详情</a></li>
              <li class="presentationw5" role="presentation"><a href="{% url 'productsone' products.id %}">一元购记录({{products.one}})</a></li>
              <li class="presentationw4" role="presentation"><a href="{% url 'payscorerecord' products.id %}">积分记录({{products.id|products_payscore_count}})</a></li>


				      <li class="presentationw2" role="presentation"><a href="{% url 'productsapply' products.id %}">申请名单</a></li>
              <li class="presentationw3" role="presentation"><a href="{% url 'productsreport' products.id %}">测评话题 ({{products.reportnum}})</a></li>
				    </ul>
	             </div>

               {% if products.oneresult %}
                <div class="products-one-result">
                  {{products.oneresult|safe}}
                </div>
                {% endif %}

	<div class="products-detail-info">
              <table class="table table-striped ">
                 <thead>
                    <tr>
                      <th>时间</th>
                      <th>用户</th>
                      <th>参与人次</th>
                    </tr>
                  </thead>
                <tbody>
                {% for item in finance %}
                <tr>
                  <th>
                  {{item.timestamp }}
                  </th>
                  <td scope="row">
                 <img  class="img-circle commentusericon" src='{{item.user.get_image_url}}'><a href="{{item.user.get_absolute_url}}">{{item.user}}  </a>
                  </td>
                  <td scope="row">
                    {{item.out_trade_no|onerenci }}
                  </td>
                  
                </tr>
                {% endfor %}
                </tbody>
              </table>
		</div>


			</div><!-- <div class='products-detail col-sm-9'> -->

			<div class="col-sm-3">
        {% if products.company %}
        <div class="hot-try-company">
          <div class="hot-try-title-line"></div>
          <div class="hot-try-compant-title">提供方</div>
        <div class="hotry-list">
          <div class="hotry-company-img">
            <img src="{{products.company.get_image_url}}">
          </div>
          <div class="hotry-company-info">
            <a href="{{products.company.get_absolute_url}}" class="hotry-title">{{products.company.title}}</a>
            <p>{{products.company.associatetitle|safe}}</p>
          </div>
        </div>
        </div>
        {% endif %}

<div class='hotnewsblock'>
         <div class='head'>          <span class='shu-mark'>|</span>热门试用</div>

    <table class="table table-hover hotnews">
      <tbody>
{% for item in hotry %}
        <tr>
          <td>
             <a href="{{item.get_absolute_url}}" style="display:block;"><img src="{{item.get_image_url}}" >
              <div class="t-h2-hottry">
		<div class="t-h2-hottry-title">{{item.title}}</div>
            <div>限量:{{item.amount}}</div>
            </div>
             </a>

          </td>
        </tr>
{% endfor %}
      </tbody>
    </table>
  </div><!-- class='headblock' -->
</div>



        </div><!-- <div class="col-sm-12"> -->
      </div><!-- row -->
    </div> <!-- /container -->

      <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
{% endblock %}
