{% block HeadDoc %}
{% load staticfiles %}
{% load time_filter %}


<script>/*去除&nbsp;*/
$(function(){ 
    $('.author-time').each(function() {
      var $this = $(this);
      $this.html($this.html().replace(/&nbsp;/g, ''));
    })
}); 
</script>




<script>/*加载更多*/
$(function() {
  var cur_page_num = 1;
 $("body").on("click", '#morecomment-btn-block', function(){
    $('#morecomment-btn-block').text("加载更多......")
    var $elements = $('.comment');
    var commentlen = $elements.length;
    $.ajaxSetup({
    data: {csrfmiddlewaretoken: '{{ csrf_token }}', 
           commentlen: commentlen,
           topicid: {{topic.id}},
          },
          });
    $.ajax({
        url: "{% url 'topicmorecomment' %}",
        type: "post",
        success: function(data) {
        cur_page_num=cur_page_num+1;          
        /*alert(cur_page_num); */          
        var newnode=document.createElement("div");             
        newnode.setAttribute("class", "container-fluid grid");            
        newnode.setAttribute("id","new"+String(cur_page_num));           
        document.getElementById("morecomment").appendChild(newnode);           
        $('#new'+String(cur_page_num)).load('{% url 'topicmorecommentpage' topic.id %}');

        $('#morecomment-btn-block').text("加载更多......")

        $('#morecomment-btn-block').html(data.loadcompleted)
          },
          error: function(data) { 
              alert("Got an error dude");
          }
    });
  })
})
</script>
{% endblock %}


 {% block content %}




<!--                             热门回复                         -->
{% if ifhotcomment and commentorderbyreaders %}
<div id='hotboader'>
    <div id='hotboadertitle'>热门回复</div>
{% for item in commentorderbyreaders %}
    <div class="comment">
      <img  class="commentusericon" src='{{item.user.get_image_url}}'>
      <div class='rightcomment'>
      <span class="author-name"><a href="{{item.user.get_absolute_url}}">{{item.user}}</a></span>

      <span class="author-time">
      {{item.timestamp}}
      </span>
      {% if item.score %}
      <span style="margin-left:8px; color:#e48f15;" class="glyphicon glyphicon-fire" aria-hidden="true"></span>
      {% endif %}
      

      <div class="pl-content">{{item.text|AtWhoUser|safe}}</div>




      <div class="pl-box-btm" id = '{{item.user}}'>

                <div class="btn-dp-right pull-right" id="{{item.id}}">
                <i class="icon-dp-positive"></i>
                <span class='commentuserlike{{item.id}}'>{{item.id|comment_like_count}}</span>
                <i class="icon-dp-negtive"></i>
                <span class='commentuserdislike{{item.id}}'>{{item.id|comment_dislike_count}}</span>
                </div>

             <!--    <span class="btn-dp-reply">
                <i class="icon-dp"></i>
                回复
                </span> -->

              <span class="btn-dp">
                <i class="icon-dp-checkbox"></i>
                {% if item.child_commentcount %}
                {{item.child_commentcount}}条点评
                {% else %}
                添加点评
                {% endif %}
                </span>
                <div class="form-comment-reply" id="{{item.id}}">

                  {% for childitem in item.child_comment %}
                  <div class = 'childcomment'>
                    <img  class="commentusericon" src='{{childitem.user.get_image_url}}'>
                  <div class = 'rightchildcomment' id = '{{childitem.user}}'>
                  <span class="author-name"><a href="{{childitem.user.get_absolute_url}}">{{childitem.user}}</a></span>
                  <span class="author-time">
                  {{childitem.timestamp|timesince|time_chinese_weeks|time_chinese_week|time_chinese_minus|time_chinese_minu|time_chinese_days|time_chinese_day|time_chinese_hours|time_chinese_hour|timeblank|comma|time_chinese_months|time_chinese_month }}前
                   </span>
                  {% if childitem.score %}
                  <span style="margin-left:8px; color:#e48f15;" class="glyphicon glyphicon-fire" aria-hidden="true"></span>
                  {% endif %}
                  <div class="pl-content">{{childitem.text|AtWhoUser|safe}}</div>
                  <div class="btn-dp-child">
                    <i class="icon-childcomment"></i>回复
                    </div>

            <span class="btn-dp-right pull-right" id="{{childitem.id}}">
                <i class="icon-dp-positive"></i>
                <span class='commentuserlike{{childitem.id}}'>{{childitem.id|comment_like_count}}</span>
                
                <i class="icon-dp-negtive"></i>
                <span class='commentuserdislike{{childitem.id}}'>{{childitem.id|comment_dislike_count}}</span>
                </span>


                 
                  </div><!-- rightchildcomment -->
                  </div>
                  {% endfor %}
                  
                  <div class="freshchildcomment{{item.id}}" style='margin-top : 1em;'>
                  </div>
                    {{form}}
                <button  id="btn-block" type="button" class='btn  btn-success btn-block btn-reply'>发表</button>
              </div>
      </div>
      </div>
            {% if item.user.qianming %}
      <div class="qianmingline">{{item.user.qianming}}</div>
      {% else %}
      <div class="qianmingline-none"></div>
      {% endif %}
    </div><!-- comment -->
{% endfor %}
    </div>
{% endif %}
<!--                             热门回复                         -->


<!--                            最新回复                         -->
<div class="freshcomment">
</div>
{% for item in contacts %}
    <div class="comment">
      <img  class="commentusericon" src='{{item.user.get_image_url}}'>
      <div class='rightcomment'>
      <span class="author-name"><a href="{{item.user.get_absolute_url}}">{{item.user}}</a></span>

      <span class="author-time">
      {{item.timestamp|timesince|time_chinese_weeks|time_chinese_week|time_chinese_minus|time_chinese_minu|time_chinese_days|time_chinese_day|time_chinese_hours|time_chinese_hour|timeblank|comma|time_chinese_months|time_chinese_month|time_blank_n}}前
      </span>
      {% if item.score %}
      <span style="margin-left:8px; color:#e48f15;" class="glyphicon glyphicon-fire" aria-hidden="true"></span>
      {% endif %}

      <div class="pl-content">{{item.text|AtWhoUser|safe}}</div>

      <div class="pl-box-btm" id = '{{item.user}}'>

                <div class="btn-dp-right pull-right" id="{{item.id}}">
                <i class="icon-dp-positive"></i>
                <span class='commentuserlike{{item.id}}'>{{item.id|comment_like_count}}</span>
                
                <i class="icon-dp-negtive"></i>
                <span class='commentuserdislike{{item.id}}'>{{item.id|comment_dislike_count}}</span>
                </div>

               <!--  <span class="btn-dp-reply">
                <i class="icon-dp"></i>
                回复
                </span> -->

              <span class="btn-dp">
                <i class="icon-dp-checkbox"></i>
                {% if item.child_commentcount %}
                {{item.child_commentcount}}条点评
                {% else %}
                添加点评
                {% endif %}
                </span>
                <div class="form-comment-reply" id="{{item.id}}">

                  {% for childitem in item.child_comment %}
                  <div class = 'childcomment'>
                    <img  class="commentusericon" src='{{childitem.user.get_image_url}}'>
                  <div class = 'rightchildcomment' id = '{{childitem.user}}'>
                  <span class="author-name"><a href="{{childitem.user.get_absolute_url}}">{{childitem.user}}</a></span>
                  <span class="author-time">
                  {{childitem.timestamp|timesince|time_chinese_weeks|time_chinese_week|time_chinese_minus|time_chinese_minu|time_chinese_days|time_chinese_day|time_chinese_hours|time_chinese_hour|timeblank|comma|time_chinese_months|time_chinese_month }}前
                   </span>
                  {% if childitem.score %}
                  <span style="margin-left:8px; color:#e48f15;" class="glyphicon glyphicon-fire" aria-hidden="true"></span>
                  {% endif %}  
                  <div class="pl-content">{{childitem.text|AtWhoUser|safe}}</div>
                  <div class="btn-dp-child">
                    <i class="icon-childcomment"></i>回复
                    </div>

            <span class="btn-dp-right pull-right" id="{{childitem.id}}">
                <i class="icon-dp-positive"></i>
                <span class='commentuserlike{{childitem.id}}'>{{childitem.id|comment_like_count}}</span>
                
                <i class="icon-dp-negtive"></i>
                <span class='commentuserdislike{{childitem.id}}'>{{childitem.id|comment_dislike_count}}</span>
                </span>


                 
                  </div><!-- rightchildcomment -->
                  </div>
                  {% endfor %}
                  
                  <div class="freshchildcomment{{item.id}}" style='margin-top : 1em;'>
                  </div>
                    {{form}}
                <button  id="btn-block" type="button" class='btn  btn-success btn-block btn-reply' >发表</button>
              </div>
      </div>
      </div>
            {% if item.user.qianming %}
      <div class="qianmingline">{{item.user.qianming}}</div>
      {% else %}
      <div class="qianmingline-none"></div>
      {% endif %}
    </div><!-- comment -->
{% endfor %}
<!--                            最新回复                         -->


<div id='morecomment'>
</div>


{% if moercomment %}
 <div  id="morecomment-btn-block" class='btn btn-default btn-block' >点击加载更多</div> 
{% else %}
{% endif %} 


 {% endblock %}
 
