{% block HeadDoc %}
{% load staticfiles %}
{% load time_filter %}
<link href="/static/css/topic_detail.css" rel="stylesheet">
<script src="/static/js/topic_detail.js"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>


{% endblock %}


 {% block content %}




<!--                             热门回复                         -->
{% if ifhotcomment and commentorderbyreaders %}
<div id='hotboader'>
    <div id='hotboadertitle'>热门回复</div>
{% for item in commentorderbyreaders %}
    <div class="comment">
      <img  class="commentusericon" src='{{item.user.get_image_url}}'>
      <div class='rightcomment'>
      <span class="author-name"><a href="{{item.user.get_absolute_url}}">{{item.user}}</a></span>

      <span class="author-time">
      {{item.timestamp}}
      </span>

      

      <div class="pl-content">{{item.text|AtWhoUser|safe}}</div>




      <div class="pl-box-btm" id = '{{item.user}}'>

                <div class="btn-dp-right pull-right" id="{{item.id}}">
                <i class="icon-dp-positive"></i>
                <span class='commentuserlike{{item.id}}'>{{item.id|comment_like_count}}</span>
                <i class="icon-dp-negtive"></i>
                <span class='commentuserdislike{{item.id}}'>{{item.id|comment_dislike_count}}</span>
                </div>

             <!--    <span class="btn-dp-reply">
                <i class="icon-dp"></i>
                回复
                </span> -->

              <span class="btn-dp">
                <i class="icon-dp-checkbox"></i>
                {% if item.child_commentcount %}
                {{item.child_commentcount}}条点评
                {% else %}
                添加点评
                {% endif %}
                </span>
                <div class="form-comment-reply" id="{{item.id}}">

                  {% for childitem in item.child_comment %}
                  <div class = 'childcomment'>
                    <img  class="commentusericon" src='{{childitem.user.get_image_url}}'>
                  <div class = 'rightchildcomment' id = '{{childitem.user}}'>
                  <span class="author-name"><a href="{{childitem.user.get_absolute_url}}">{{childitem.user}}</a></span>
                  <span class="author-time">
                  {{childitem.timestamp|timesince|time_chinese_weeks|time_chinese_week|time_chinese_minus|time_chinese_minu|time_chinese_days|time_chinese_day|time_chinese_hours|time_chinese_hour|timeblank|comma|time_chinese_months|time_chinese_month }}前
                   </span>
                  <div class="pl-content">{{childitem.text|AtWhoUser|safe}}</div>
                  <div class="btn-dp-child">
                    <i class="icon-childcomment"></i>回复
                    </div>

            <span class="btn-dp-right pull-right" id="{{childitem.id}}">
                <i class="icon-dp-positive"></i>
                <span class='commentuserlike{{childitem.id}}'>{{childitem.id|comment_like_count}}</span>
                
                <i class="icon-dp-negtive"></i>
                <span class='commentuserdislike{{childitem.id}}'>{{childitem.id|comment_dislike_count}}</span>
                </span>


                 
                  </div><!-- rightchildcomment -->
                  </div>
                  {% endfor %}
                  
                  <div class="freshchildcomment{{item.id}}" style='margin-top : 1em;'>
                  </div>
                    {{form}}
                <button  id="btn-block" type="button" class='btn  btn-success btn-block btn-reply'>发表</button>
              </div>
      </div>
      </div>
            {% if item.user.qianming %}
      <div class="qianmingline">{{item.user.qianming}}</div>
      {% else %}
      <div class="qianmingline-none"></div>
      {% endif %}
    </div><!-- comment -->
{% endfor %}
    </div>
{% endif %}
<!--                             热门回复                         -->


<!--                            最新回复                         -->
{% for item in contacts %}
    <div class="comment">
      <img  class="commentusericon" src='{{item.user.get_image_url}}'>
      <div class='rightcomment'>
      <span class="author-name"><a href="{{item.user.get_absolute_url}}">{{item.user}}</a></span>

      <span class="author-time">
      {{item.timestamp}}
      </span>

      <span class="author-floor pull-right">
      {{forloop.counter|pageaculate:page}}楼
      </span>

      <div class="pl-content">{{item.text|AtWhoUser|safe}}</div>

      <div class="pl-box-btm" id = '{{item.user}}'>

                <div class="btn-dp-right pull-right" id="{{item.id}}">
                <i class="icon-dp-positive"></i>
                <span class='commentuserlike{{item.id}}'>{{item.id|comment_like_count}}</span>
                
                <i class="icon-dp-negtive"></i>
                <span class='commentuserdislike{{item.id}}'>{{item.id|comment_dislike_count}}</span>
                </div>

               <!--  <span class="btn-dp-reply">
                <i class="icon-dp"></i>
                回复
                </span> -->

              <span class="btn-dp">
                <i class="icon-dp-checkbox"></i>
                {% if item.child_commentcount %}
                {{item.child_commentcount}}条点评
                {% else %}
                添加点评
                {% endif %}
                </span>
                <div class="form-comment-reply" id="{{item.id}}">

                  {% for childitem in item.child_comment %}
                  <div class = 'childcomment'>
                    <img  class="commentusericon" src='{{childitem.user.get_image_url}}'>
                  <div class = 'rightchildcomment' id = '{{childitem.user}}'>
                  <span class="author-name"><a href="{{childitem.user.get_absolute_url}}">{{childitem.user}}</a></span>
                  <span class="author-time">
                  {{childitem.timestamp|timesince|time_chinese_weeks|time_chinese_week|time_chinese_minus|time_chinese_minu|time_chinese_days|time_chinese_day|time_chinese_hours|time_chinese_hour|timeblank|comma|time_chinese_months|time_chinese_month }}前
                   </span>
                  <div class="pl-content">{{childitem.text|AtWhoUser|safe}}</div>
                  <div class="btn-dp-child">
                    <i class="icon-childcomment"></i>回复
                    </div>

            <span class="btn-dp-right pull-right" id="{{childitem.id}}">
                <i class="icon-dp-positive"></i>
                <span class='commentuserlike{{childitem.id}}'>{{childitem.id|comment_like_count}}</span>
                
                <i class="icon-dp-negtive"></i>
                <span class='commentuserdislike{{childitem.id}}'>{{childitem.id|comment_dislike_count}}</span>
                </span>


                 
                  </div><!-- rightchildcomment -->
                  </div>
                  {% endfor %}
                  
                  <div class="freshchildcomment{{item.id}}" style='margin-top : 1em;'>
                  </div>
                    {{form}}
                <button  id="btn-block" type="button" class='btn  btn-success btn-block btn-reply' >发表</button>
              </div>
      </div>
      </div>
            {% if item.user.qianming %}
      <div class="qianmingline">{{item.user.qianming}}</div>
      {% else %}
      <div class="qianmingline-none"></div>
      {% endif %}
    </div><!-- comment -->
{% endfor %}
<!--                            最新回复                         -->


<div class="freshcomment">
</div>

<div class='paginationcontain'>
<div class="pagination">
    <span class="step-links">
{% if contacts.has_previous %}
         <a class='paginator paginator_first' title='上一页' href='?page={{ contacts.previous_page_number }}'><span>上一页</span></a>
{% endif %}
 {% for page in contacts.paginator.page_range %}
     {% if page = contacts.number %}
         <a class='paginator_current' title='当前页:{{ page }}'><span>{{ page }}</span></a>
     {% else %}
         <a class='paginator' href='?page={{ page }}' title='{{ page }}'><span>{{ page }}</span></a>
     {% endif %}
 {% endfor %}
 {% if contacts.has_next %}
     <a class='paginator paginator_first' title='下一页' href='?page={{ contacts.next_page_number }}'><span>下一页</span></a>
{% endif %}
    </span>
</div><!-- <div class="pagination"> -->
</div>



 {% endblock %}
 
