{% extends "base_1.html" %}
{% block HeadDoc %}
{% load time_filter %}
<link href="/static/css/user_detailnotifications.css" rel="stylesheet">
<script src="/static/js/topic_detail.js"></script>
<link href="/static/css/userinfopub.css" rel="stylesheet">
<script src="/static/js/userinfopub.js"></script>
<script>/*删除信息*/
$(function() {
 $("body").on("click", '.icon-delete', function(){
  instanceid = $(this).parent().parent().attr("id");
  $.cookie("instanceid", instanceid);  
  $('#myModal1').modal('show')
  })
})
</script>

<script>/*确认删除*/
$(function() {
 $("body").on("click", '.confirmdelete', function(){
  instanceid = $.cookie('instanceid')
    $.ajaxSetup({
    data: {csrfmiddlewaretoken: '{{ csrf_token }}', 
          instancetype: 'Notification',
          instanceid: instanceid,
          },
          });
    $.ajax({
        url: "{% url 'deleteinfo' %}",
        type: "post",
        dataType: 'json',
        success: function(data) {
          $('#'+instanceid).remove();
          $.removeCookie('instanceid');
          },
          error: function(data) { 
          $.removeCookie('instanceid');
              $.messager.popup("发生错误请重新操作");
              $(".modal.msg-popup .modal-body").css({
                  'color': '#a94442',
                  "background-color":"#f2dede",
                  });
               },
          });
  })
})
</script>


<script>/*回复私信*/
$(function() {
 $("body").on("click", '.reprivcy', function(){
  privcytarge = $($(this).parent().parent().children().get(0)).attr("id");
  privcytargename = $($(this).parent().parent().children().get(0)).text();
  $('#modealprivcyino').text("回复私信给：" + privcytargename)
  $('#privcytarget').val(privcytarge)
  $.ajaxSetup({
  data: {csrfmiddlewaretoken: '{{ csrf_token }}', 
        privcytargetid: privcytarge,
        },
        });
  $.ajax({
        url: "{% url 'notificationsconversation' %}",
        type: "post",
        dataType: 'json',
        success: function(data) {
          $('#notificationsconversation').text('')
          for(var i=0;i<data.notifications.length;i++){
                  $('#notificationsconversation').append("<div class='notilinetime '>"+data.notificationstime[i]+"</div>"+"<div class='notiline "+ data.backcolor[i] +"'>" + data.notifications[i]+"</div>")
                            }
          },
        error: function(data) { 
          alert('2')
          },
        });

  $('#myModal4').modal('show')
  })
})
</script>

<script type="text/javascript">
$(function() {
 $("body").on("click", '.confirmreply', function(){
    recipientcata = $('#re-cata').text()
    comment = $('#privcycomment').val()
      if (comment!=""){
        if (recipientcata == 're-article'){
                    $.ajaxSetup({
                    data: {csrfmiddlewaretoken: '{{ csrf_token }}', 
                          articleid: $.cookie('articleid'),
                          preentid: $.cookie('preentid'),
                          comment: comment,
                          },
                          });
                    $.ajax({
                          url: "{% url 'commentcomment' %}",
                          type: "post",
                          dataType: 'json',
                          success: function(data) {
                     	      $('#privcycomment').val('')
                              $('#myModal4').modal('hide')
                              $.messager.popup("评论发表成功!");
                                $(".modal.msg-popup .modal-body").css({
                                    'color': '#449d44',
                                    "background-color":"#CCF4D9",
                                    });
                            },
                          error: function(data) { 
                            alert('请检查网络!')
                            },
                      });}
        if (recipientcata == 're-products'){
         $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}', 
                  productsid: $.cookie('productsid'),
                  preentid: $.cookie('preentid'),
                  comment: comment,
                  },
                  });
            $.ajax({
                  url: "{% url 'productscommentcomment' %}",
                  type: "post",
                  dataType: 'json',
                  success: function(data) {
                      $('#privcycomment').val('')
                      $('#myModal4').modal('hide')
                      $.messager.popup("评论发表成功!");
                        $(".modal.msg-popup .modal-body").css({
                            'color': '#449d44',
                            "background-color":"#CCF4D9",
                            });
                    },
                  error: function(data) { 
                    alert('请检查网络!')
                    },
              });
        }

        if (recipientcata == 're-topic'){
          if ($.cookie('targetpreentname')){
            if ( $.cookie('targetpreentname') != $.cookie("targetname")) 
              {
                comment = "@"+$.cookie("targetname")+' ' +comment
              }
            }
         $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}', 
                  topicid: $.cookie('topicid'),
                  preentid: $.cookie('preentid'),
                  comment: comment,
                  },
                  });
            $.ajax({
                  url: "{% url 'topcommentcomment' %}",
                  type: "post",
                  dataType: 'json',
                  success: function(data) {
                      $('#privcycomment').val('')
                      $('#myModal4').modal('hide')
                      $.messager.popup("评论发表成功!");
                        $(".modal.msg-popup .modal-body").css({
                            'color': '#449d44',
                            "background-color":"#CCF4D9",
                            });
                    },
                  error: function(data) { 
                    alert('请检查网络!')
                    },
              });
        }

    }
    else{
    $.messager.popup("请输入评论！");
    $(".modal.msg-popup .modal-body").css({
        'color': '#a94442',
        "background-color":"#f2dede",
        });
    }



  })
})
</script>


<script type="text/javascript">
$(document).ready(function(){
  inboxnum = parseInt($(".badgeprivcy").text())
  if (inboxnum>0){
    $(".badgeprivcy").css('background-color','#F13F47')
  }
  else
    {
      $(".badgeprivcy").css('background-color','#449d44')
    } 
  });
</script>
{% endblock %}


 {% block content %}

<!-- Modal1 -->
<div class="modal" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">删除确认</h4>
      </div>
      <div class="modal-body">
        <h5>你确认要删除吗</h5>
        <button type="button" class="btn btn-default btn-success myModalbtn confirmdelete" data-dismiss="modal">确定</button>
        <button type="button" class="btn btn-default myModalbtn" data-dismiss="modal">取消</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal4 -->
<!-- Modal4 -->
<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <div id="erroriconprivcycomment" style="text-align: center;">请输入内容</div>
        <h4 class="modal-title" id="myModalLabel"></h4>
        <div id="notificationsconversation"></div>
      </div>
      <div class="modal-body">
<div id='privcycommentform'>

{% if user.is_authenticated %}
<form  action="{% url 'user_privcynotifications' userofinfor.id %}" method="post">
  {% csrf_token %}
  <label for="privcycomment" id="modealprivcyino"></label>
<!-- <input  id='privcycomment' class="form-control" type="text" name="privcycomment" /> -->
<textarea  id='privcycomment'  class="form-control" type="text" name="privcycomment" ></textarea>
<input style="display: none"  id='privcytarget' class="form-control" type="text" name="privcytarget"  />
<button type="submit" class="btn btn-default btn-success">确定</button>
<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
</form>
{% else %}
<div class="authboard">
<div class="authboardword">
<h4>请<a href="{% url 'loggin' %}">登录</a>后给他发信</h4>
</div>
</div>
{% endif %}

</div>
      </div>
    </div>
  </div>
</div>
 
 <div class="container">
<div class="container-user">


<div class="user-icon-background">
</div>

  <div class="user-top-block">
    <img class="pull-left img-circle icon-top" src="{{userofinfor.get_image_url}}" >

    <div class="user-top-name">
    {{userofinfor.username}}
    </div>

{% if host %}
    <div class="newtopicuser pull-right hidden-xs">
    <a  href="{% url 'newtopic' %}" class='btn btn-success btn-block' ><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> 发布话题</a>
     </div>
{% endif %}


  <div class="per-info-qianming" >
        {% if userofinfor.qianming %}
        {{userofinfor.qianming}}
        {% else %}
        这货还没有签名...
        {% endif %}

      </div>

  </div>

  <ul class="rightblock">
      <li class="presentationw1" role="presentation"><a href="{% url 'user_detailinformations' userofinfor.id%}">帐号</a></li>
      <li class="presentationw2" role="presentation"><a href="{% url 'user_userdashboardarticletopic' userofinfor.id%}">
      话题</a></li>
      <li class="presentationw3" role="presentation"><a href="{% url 'user_detailcomments' userofinfor.id%}">评论</a></li>

{% if host %}
      <li class="presentationw5" role="presentation"><a href="{% url 'user_detailnotifications' userofinfor.id%}">消息<span class="badge inboxcount1">{{ user.id|user_unread_count }}</span></a></li>
{% endif %}

      <li class="presentationw6" role="presentation"><a href="{% url 'user_detailcollectionstopic' userofinfor.id%}">收藏</a></li>
      <li class="presentationw7" role="presentation"><a href="{% url 'user_detailtry' userofinfor.id%}">试用</a></li>
    </ul>

{% if host %}
    <div class="dashboard">
      {% for item in notifications %}
      <div class = 'commentlist' id='{{item.id}}'>
      <a class = "senderid" id="{{item.sender_object.id}}" href="{{item.sender_object.get_absolute_url}}">{{item.sender_object.username}}</a>
      {% if item.verb == '#' %}
      回复了你的话题:
      {% elif item.verb == '_@_' %}
      给你发送了私信:
      {% elif item.verb == '$' %}
      回复了你的评论:
      {% else %}
      @了你: 
      {% endif %}

      {% if item.read %}
      {% else %}
      <i class="pull-right"><span class="badge">未读</span></i>
      {{ item.setread }}
      {% endif %}

      {% if item.verb == '$' %}
      </br>
      <div class="target_comment">{{item.target_object.parent.text|safe}}</div>
      {% endif %}



      {% if item.target_object.topic %}
          {% if item.target_object.parent %}
          <div class='targetcomment' id='{{item.target_object.parent.id}}'  onmouseover="this.style.cursor='pointer'" onclick="document.location='{{item.target_object.get_absolute_url}}'">
            <div id='{{item.target_object.parent.user.username}}' class='{{item.target_object.user.username}}'>{{item.text|AtWhoUser|safe}}</div>
            </div>
          {% else %}
            <div class='targetcomment' id='{{item.target_object.id}}'  onmouseover="this.style.cursor='pointer'" onclick="document.location='{{item.target_object.get_absolute_url}}'" >
            <div id='{{item.target_object.parent.user.username}}' class='{{item.target_object.user.username}}'>{{item.text|AtWhoUser|safe}}</div>
            </div>
          {% endif %}


          {% elif item.target_object.instrument %}
          {% if item.target_object.parent %}
          <div class='targetcomment' id='{{item.target_object.parent.id}}' onmouseover="this.style.cursor='pointer'" onclick="document.location='{{item.target_object.get_absolute_instrument_url}}'">
            <div id='{{item.target_object.parent.user.username}}' class='{{item.target_object.user.username}}'>{{item.text|AtWhoUser|safe}}</div>
            </div>

          {% else %}
            <div class='targetcomment' id='{{item.target_object.id}}' onmouseover="this.style.cursor='pointer'" onclick="document.location='{{item.target_object.get_absolute_instrument_url}}'" >
            <div id='{{item.target_object.parent.user.username}}' class='{{item.target_object.user.username}}'>{{item.text|AtWhoUser|safe}}</div>
            </div>
            {% endif %}

      {% elif item.verb == '_@_' %}
      
      <div class='targetcomment'  >
        {{item.text|AtWhoUser|safe}}
        </div>


      {% else %}
      <div class='targetcomment' id='{{item.target_object.id}}'>
        {{item.text|AtWhoUser|safe}}
        </div>
      {% endif %}

      <span class="comment-article">
        {% if item.target_article %}
        来自文章：<a class="re-article" id="{{item.target_article.id}}" href="{{item.target_article.get_absolute_url}}">{{item.target_article.title}}
        </a>

        {% elif item.target_products %}
        来自试用：<a class="re-products" id="{{item.target_products.id}}" href="{{item.target_products.get_absolute_url}}">{{item.target_products.title}}
        </a>     
       
        {% elif item.target_topic %}
        来自话题：<a class="re-topic" id="{{item.target_topic.id}}" href="{{item.target_topic.get_absolute_url}}">{{item.target_topic.title}}
        </a>


        {% elif item.target_instrument %}
        来自评分：<a class="re-topic" id="{{item.target_instrument.id}}" href="{{item.target_instrument.get_absolute_url}}">{{item.target_instrument.model}}
        </a>

  
        {% endif %}
      </span>

      <div class = 'commentinfo'>
        {{item.timestamp}}

      <i class="icon-delete pull-right"></i>

      {% if item.verb == '_@_' %}
      <a href="javascript:;" class='reprivcy pull-right'>
        回复
      </a>
      {% endif %}
      
      </div><!-- <div class = 'commentinfo'> -->
      </div><!-- <div class = 'commentlist'> -->
      {% endfor %}

      <div class='paginationcontain'>
      <div class="pagination">
          <span class="step-links">
      {% if notifications.has_previous %}
              <a class='paginator paginator_first' title='上一页' href='?page={{ notifications.previous_page_number }}'><span>&lt;</span></a>
       {% endif %}
       {% for page in notifications.paginator.page_range %}
           {% if page = notifications.number %}
               <a class='paginator_current' title='当前页:{{ page }}'><span>{{ page }}</span></a>
           {% else %}
               <a class='paginator' href='?page={{ page }}' title='{{ page }}'><span>{{ page }}</span></a>
           {% endif %}
       {% endfor %}
       {% if notifications.has_next %}
           <a class='paginator paginator_first' title='下一页' href='?page={{ notifications.next_page_number }}'><span>&gt;</span></a>
       {% endif %}
          </span>
      </div><!-- <div class="pagination"> -->
      </div><!-- <div class='paginationcontain'> -->
      </div><!-- <div class="dashboard"> -->
{% endif %}

</div><!-- class="container-user" -->
</div><!-- class="container" -->
 {% endblock %}
 
